<app-breadcumb [title]="breadcumb?.title" [path]="breadcumb?.path" [showImportButton]="true"></app-breadcumb>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div [formGroup]="volunteerForm" class="add-form-area common-box-shadow">
                <mat-form-field class="field-full-width">
                    <input type="text" matInput formControlName="first_name" placeholder="First Name">
                </mat-form-field>

                <br />

                <mat-form-field class="field-full-width">
                    <input type="text" matInput formControlName="last_name" placeholder="Last Name">
                </mat-form-field>


                <br />
                
                <mat-form-field class="field-full-width">
                    <input type="text" matInput formControlName="email" placeholder="Email Address">
                </mat-form-field>
                <br />
    

                <mat-form-field class="field-full-width">
                    <input type="text" matInput formControlName="phone" placeholder="Phone Number">
                </mat-form-field>
                <br />

                <mat-form-field class="field-full-width">
                    <textarea type="text" matInput formControlName="address" placeholder="Address"></textarea>
                </mat-form-field>

                <br />

                <mat-form-field class="field-full-width">
                    <textarea type="text" matInput formControlName="message" placeholder="Message"></textarea>
                </mat-form-field>

                <br />

                <div fxLayout="row" fxLayoutGap="10px">
                    <button type="button" (click)="submit()"
                        [disabled]="volunteerForm?.invalid" mat-raised-button color="primary">Submit</button>
                </div>

            </div>

        </div>
    </div>
</div>