<!--================================
        START BREADCRUMB AREA
    =================================-->
<section class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb">
                    <ul>
                        <li class="active">
                            <a href="#">Messages</a>
                        </li>
                    </ul>
                </div>
                <h1 class="page-title">All Messages</h1>
            </div>
            <!-- end /.col-md-12 -->
        </div>
        <!-- end /.row -->
    </div>
    <!-- end /.container -->
</section>
<!--================================
        END BREADCRUMB AREA
    =================================-->

<!--================================
            START DASHBOARD AREA
    =================================-->
<section class="dashboard-area">

    <div class="dashboard_contents" style="padding: 30px;">
        <div class="container">
            <div class="row mb-3" *ngFor="let d of uniqueDatesArray">
                <div class="col-md-12">
                    <div class="selected-date">
                        <span class="day">{{d | date: 'fullDate'}}</span>
                    </div>
                    <div class="cardify notifications_module" [@fadeInOut]>
                        <!-- {{convertDate(m?.createdAt)}} - {{d}} {{convertDate(m?.createdAt) == d}} -->
                        <ng-container *ngFor="let m of (messageService.messagesList$ | async)?.messages">
                            <div *ngIf="convertDate(m?.createdAt) == d" class="notification">
                                <span *ngIf="m['__show']" class="line"></span>
                                <div class="notification__info">

                                    <!-- User Avatar  -->
                                    <div class="info_avatar" style="vertical-align: top;">
                                        <a [href]="'/'+ 'dashboard' + '/' + 'profile' + '/' + m?.createdBy?._id" target="_blank">
                                            <img [src]="m?.createdBy?.avatar ? ((s3FilesBucketURL + m.createdBy.avatar) | safe: 'resourceUrl') : anonymousAvatar"
                                            alt="">
                                        </a>
                                    </div>
                                    <div class="info" style="max-width: 90%;">
                                        <p>
                                            <span><a [href]="'/'+ 'dashboard' + '/' + 'profile' + '/' + m?.createdBy?._id" target="_blank">{{m?.createdBy?.name}}</a></span>
                                            has added a {{m?.parentId ? 'reply to your comment' : 'comment'}} on

                                            <!-- Post Name -->
                                            <a *ngIf="m?.referencePost" [href]="'/' + 'post' + '/' + m?.referencePost?.slug + '?commentId=' + m._id" target="_blank">{{m?.referencePost?.name}}</a>

                                            <!-- Company Name -->
                                            <a *ngIf="m?.referenceCompany">{{m?.referenceCompany?.name}}</a>
                                        </p>
                                        
                                        <!-- Message Time -->
                                        <p class="time">{{fromNow(m?.createdAt)}}</p>

                                        <!-- Actual Comment Text -->
                                        <app-editor
                                        [editorStyle]="{padding: '0 15px', width: 'fit-content', 'border-radius': '19px', background: '#f2f3f5', border: 'solid 0.5px rgb(236, 236, 236)'}"
                                        [data]="m?.text" [readOnly]="true"
                                        [id]="'comment-' + m._id"></app-editor>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                    <!-- end /.notifications_modules -->
                </div>
                <!-- end /.col-md-12 -->
            </div>
            <!-- end /.row -->
            <!-- pagination -->
            <app-paginator *ngIf="authService?.loggedInUser"
                [length]="(messageService.messagesList$ | async)?.total"
                (fetchData)="messageService.fetchLatestCommentsForTheUserEngaged({pageNumber: $event.pageIndex + 1, limit: $event.pageSize ? $event.pageSize : 10}, authService?.loggedInUser?._id);">
            </app-paginator>
            <!-- end /.pagination -->
        </div>
        <!-- end /.container -->
    </div>
    <!-- end /.dashboard_menu_area -->
</section>
<!--================================
            END DASHBOARD AREA
    ================================= -->