<app-breadcumb [title]="breadcumb?.title" [path]="breadcumb?.path"></app-breadcumb>


<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div [formGroup]="businessCoachForm" class="businesscoach-form-area">

                <mat-form-field class="field-full-width">
                    <input type="text" matInput formControlName="name" placeholder="Title">
                </mat-form-field>

                <app-editor #descriptionEditor
                    [data]="descriptionFormControl?.value" [id]="'edit-business-coach-editor'" 
                    [importArticleSubscription]="true" [placeholder]="'Business Coach Description:'"></app-editor>

                <br />

                <!-- 1. In which cities can you provide business coaching? - list of cities like other forms (select or add) -->
                <app-autocomplete [autoComplete]="businessCoachForm?.get('cities')" [placeholder]="'In which cities can you provide business coaching?'" [collection]="'cities'" [type]="" [multiple]="true"></app-autocomplete>

                <!-- 2. What would you like to gain from business coaching? - list like dream job positions (select or add) -->
                <app-autocomplete [autoComplete]="businessCoachForm?.get('jobProfile')" [placeholder]="'What would you like to gain from business coaching? (Dream Job positions)'" [collection]="'tags'" [type]="'role'" [multiple]="true"></app-autocomplete>

                <!-- 3. What type of businesses can you coach? List of businesses like other places (select or add) -->
                <app-autocomplete [autoComplete]="businessCoachForm?.get('companies')" [placeholder]="'What are all companies can you coach?'" [collection]="'companies'" [type]="" [multiple]="true"></app-autocomplete>

                <!-- 4.In what business areas can you provide business coaching? - list like other areas(select or add) -->
                <app-autocomplete [autoComplete]="businessCoachForm?.get('businessAreas')" [placeholder]="'In what business areas can you provide business coaching?'" [collection]="'tags'" [type]="'business'" [multiple]="true"></app-autocomplete>
                
                <!-- 5.What business challenges can you give coaching for?- list like other areas(select or add) -->
                <app-autocomplete [autoComplete]="businessCoachForm?.get('businessChallenges')" [placeholder]="'What business challenges can you give coaching for?'" [collection]="'tags'" [type]="'business'" [multiple]="true"></app-autocomplete>

                <!-- 6. What business goals can you help with your coaching?- list like other areas(select or add) -->
                <app-autocomplete [autoComplete]="businessCoachForm?.get('businessGoals')" [placeholder]="'What business goals can you help with your coaching?'" [collection]="'tags'" [type]="'business'" [multiple]="true"></app-autocomplete>

                <div fxLayout="row">
                    <label fxFlex="80"
                        style="margin-bottom: 0 !important;">{{businessCoachQuestions['businessCoachSessions']}}
                    </label>
                    <mat-radio-group fxFlex="20" [color]="'primary'" formControlName="businessCoachSessions">
                        <mat-radio-button [value]="true">Yes</mat-radio-button>
                        <mat-radio-button [value]="false">No</mat-radio-button>
                    </mat-radio-group>
                </div>

                <div formGroupName="sellProducts">
                    <div fxLayout="row">
                        <label fxFlex="80"
                            style="margin-bottom: 0 !important;">{{businessCoachQuestions['sellProducts']}} </label>
                        <mat-radio-group fxFlex="20" [color]="'primary'" formControlName="sellProducts">
                            <mat-radio-button [value]="true">Yes</mat-radio-button>
                            <mat-radio-button [value]="false">No</mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <app-autocomplete *ngIf="businessCoachForm.get('sellProducts.sellProducts')?.value" [autoComplete]="businessCoachForm?.get('products')" [placeholder]="'Add Prdoucts'" [collection]="'tags'" [type]="'business'" [multiple]="true"></app-autocomplete>
                </div>

                <div formGroupName="sellServices">
                    <div fxLayout="row">
                        <label fxFlex="80"
                            style="margin-bottom: 0 !important;">{{businessCoachQuestions['sellServices']}} </label>
                        <mat-radio-group fxFlex="20" [color]="'primary'" formControlName="sellServices">
                            <mat-radio-button [value]="true">Yes</mat-radio-button>
                            <mat-radio-button [value]="false">No</mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <app-autocomplete *ngIf="businessCoachForm.get('sellServices.sellServices')?.value" [autoComplete]="businessCoachForm?.get('services')" [placeholder]="'Add Servicess'" [collection]="'tags'" [type]="'business'" [multiple]="true"></app-autocomplete>
                </div>


                <br />

                <div fxLayout="row" fxLayoutGap="10px">
                    <button *ngIf="statusFormControl?.value !== 'Published'" type="button" (click)="submit('Drafted')"
                        [disabled]="businessCoachForm?.invalid" mat-raised-button color="primary">Save</button>
                    <button type="button" (click)="submit('Published')" [disabled]="businessCoachForm?.invalid"
                        mat-raised-button
                        color="primary">{{ statusFormControl?.value === 'Published' ? 'Publish Changes' : 'Publish' }}</button>
                    <button *ngIf="statusFormControl?.value === 'Published'" type="button"
                        (click)="submit('Unpublished')" [disabled]="businessCoachForm?.invalid" mat-raised-button
                        color="primary">{{ 'Unpublish' }}</button>
                </div>

            </div>

        </div>

        <div class="col-md-4">

            <mat-list class="businesscoach-form-area">
                <h3 style="font-size: large;" mat-subheader>Business Coaches:</h3>
                <mat-list-item *ngFor="let cc of listOfBusinessCoaches; let last=last">
                    <!-- <mat-icon mat-list-icon>folder</mat-icon> -->
                    <img height="35px" width="35px" style="border-radius: 50%;"
                        [src]="cc?.createdBy?.avatar ? ((s3FilesBucketURL + cc.createdBy.avatar) | safe: 'resourceUrl') : anonymousAvatar">
                    <h4 mat-line><a>{{cc.name}}</a></h4>
                    <p mat-line> {{cc.createdAt | date}} </p>
                </mat-list-item>
                <div class="pagination-area" *ngIf="listOfBusinessCoaches?.length < totalBusinessCoaches">
                    <span style="text-decoration: underline; cursor: pointer;"
                        (click)="businessCoachPageNumber = businessCoachPageNumber + 1; fetchBusinessCoaches(businessCoachPageNumber)">+ Load
                        More{{'(' + (totalBusinessCoaches - listOfBusinessCoaches?.length) + ')'}}</span>
                </div>
            </mat-list>

            <mat-list class="businesscoach-form-area">
                <h3 style="font-size: large;" mat-subheader>Business Goals:</h3>
                <mat-list-item *ngFor="let cc of listOfBusinessGoals; let last=last">
                    <img height="35px" width="35px" style="border-radius: 50%;"
                        [src]="cc?.createdBy?.avatar ? ((s3FilesBucketURL + cc.createdBy.avatar) | safe: 'resourceUrl') : anonymousAvatar">
                    <h4 mat-line><a>{{cc.name}}</a></h4>
                    <app-editor mat-line class="business-goal" [editorStyle]="{background: none, border: none, padding: 0, 'font-family': 'roboto'}" [readOnly]="true" [data]="cc?.description"></app-editor>
                    <p mat-line> {{cc.createdAt | date}} </p>
                </mat-list-item>
                <div class="pagination-area" *ngIf="listOfBusinessGoals?.length < totalBusinessGoals">
                    <span style="text-decoration: underline; cursor: pointer;"
                        (click)="businessGoalsPageNumber = businessGoalsPageNumber + 1; fetchBusinessGoals(businessGoalsPageNumber)">+ Load
                        More{{'(' + (totalBusinessGoals - listOfBusinessGoals?.length) + ')'}}</span>
                </div>
            </mat-list>

        </div>
    </div>
</div>