<!--================================
        START BREADCRUMB AREA
    =================================-->
<app-breadcumb [title]="breadcumb?.title" [path]="breadcumb?.path"></app-breadcumb>
<!--================================
        END BREADCRUMB AREA
    =================================-->

<div class="container">
    <div class="row">
        <div class="col-md-12 inside-container-area">
            Connect with causes that you are passionate about and help them solve the problems by donating your innovative ideas and skills.
        </div>
    </div>
</div>