th.mat-sort-header-sorted {
    color: black;
  }

  table {
    width: 100%;
  }
 
  tr.example-membership-row:not(.example-expanded-row):active {
    background: #efefef;
  }

  tr.example-detail-row {
    height: 0 !important;
  }
  
  .example-membership-row td {
    border-bottom-width: 0;
  }
  
  .example-membership-detail {
    overflow: hidden;
    display: flex;
  }
  
  
  .example-membership-description {
    // padding: 10px;
    width: 100%;
  }
  
  .example-membership-description-attribution {
    opacity: 0.5;
  }
  