<h3 style="display: inline; vertical-align: middle;" class="mr-2" *ngIf="data?.caller && !joined">
    {{(data?.caller?.name) + ' is calling...'}} <mat-icon class="blinking">call</mat-icon>
</h3>

<button class="mr-2" mat-raised-button color="primary" *ngIf="!joined"
    (click)="onRoomChanged(data.post.slug)">Join</button>

<button mat-raised-button color="primary"
    *ngIf="!joined && data?.post?.createdBy?._id && data?.loggedInUser?._id !== data?.post?.createdBy?._id"
    (click)="call()">Call</button>
<mat-card class="mb-3"><strong>Sharable Link: </strong><a [href]="sharableLink">{{sharableLink}}</a>
    <mat-icon (click)="close()" style="float: right;">close</mat-icon>
</mat-card>

<div class="row m-0">
    <!-- <div class="col-md-3">
        <app-rooms #rooms (roomChanged)="onRoomChanged($event)"
            [activeRoomName]="!!activeRoom ? activeRoom.name : null"></app-rooms>
    </div> -->
    <div class="col-md-9 pl-0">
        <!-- <app-camera #camera [style.display]="!!activeRoom ? 'none' : 'block'">
        </app-camera> -->
        <app-participants #participants (leaveRoom)="onLeaveRoom($event)"
            (participantsChanged)="onParticipantsChanged($event)" [style.display]="!!activeRoom ? 'block' : 'none'"
            [activeRoomName]="!!activeRoom ? activeRoom.name : null"></app-participants>
    </div>
    <div class="col-md-3 p-0">
        <app-settings #settings (settingsChanged)="onSettingsChanged($event)"></app-settings>
    </div>
</div>