<div class="row">
    <div class="col-md-4">
        <div id="controls">
            <div id="preview">
                <div id="local-media"></div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div id="remote-media">
            <!-- <p>{{ start | minuteSeconds }}</p> -->
        </div>
    </div>
    <div class="box">
        <!-- <button *ngIf="!ongoingCallObj && !data?.isSomeoneCalling" mat-button #callButton (click)="call()" id="callButton">Call</button>
                                                        <button *ngIf="data?.isSomeoneCalling && !stream" mat-button color="primary" (click)="answer()" #answerButton id="answerButton">Answer</button>
                                                        <button mat-button color="primary" (click)="screenShare()">Screen Share</button> -->
        <button mat-button color="primary" #rejectButton (click)="hangUp()" id="rejectButton">Reject</button>
    </div>
</div>