<!--================================
        START BREADCRUMB AREA
    =================================-->
<app-breadcumb [title]="breadcumb?.title" [path]="breadcumb?.path"></app-breadcumb>
<!--================================
            END BREADCRUMB AREA
        =================================-->

<div class="container">
    <div class="row">
        <div class="col-md-12 inside-container-area">
            TeamIQ is a continuous team skills training to help software teams run frictionless
        </div>
    </div>
</div>