<!--================================
        START BREADCRUMB AREA
=================================-->

<section class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb" style="align-items: center;">
                    <ul>
                        <li *ngFor="let p of path; let i = index" [ngClass]="{'active': (path?.length - 1) === i}">
                            <a [routerLink]="[p?.pathString ? p.pathString : '/']">{{p?.name}}</a>
                            <!-- <a>{{postDetails?.name}}</a> -->
                        </li>
                    </ul>
                    <div style="margin-left: auto;">
                        <app-add-assignee style="margin-right: 5px;" *ngIf="showAddAssignee"
                            [postDetails]="postDetails"></app-add-assignee>

                        <a *ngIf="false" class="btn btn--vsm btn--round menu"
                            style="color: #00aeef !important; background: white;" [mdePopoverTriggerFor]="importArticle"
                            mdePopoverTriggerOn="click">Import
                        </a>

                        <a *ngIf="showEditPostDetails" class="btn btn--vsm btn--round menu"
                            style="color: #00aeef !important; background: white; margin-right: 5px;"
                            (click)="editPost.emit()">Edit <mat-icon style="vertical-align: middle;">edit</mat-icon>
                        </a>

                    </div>
                </div>
                <h1 style="margin-bottom: 0" [contentEditable]="allowUsersEdit() || inline" class="page-title" id="test" (blur)="!fromAddPost ? myFunction() : doNothing()"
                    (input)="onContentChange($event)">
                    {{postForm?.get('name')?.value ? title : !inline ? title : 'Untitled Document'}}
                </h1>

                <p *ngIf="displaySave">Saving...</p>
                <div style="color: white;">
                    <div>
                        <ul class="row infos">
                            <div class="col-md-4 col-sm-12">

                                <li *ngIf="postDetails?.email && postDetails?.emmail?.length">
                                    <p class="data-label">Email</p>
                                    <p class="info">
                                        <span class="tag" *ngFor="let t of postDetails?.email">{{t}}</span>
                                    </p>
                                </li>

                                <li *ngIf="postDetails?.phone && postDetails?.phone?.length">
                                    <p class="data-label">Phone</p>
                                    <p class="info">
                                        <span class="tag" *ngFor="let t of postDetails?.phone">{{t}}</span>
                                    </p>
                                </li>

                                <!-- <li *ngIf="postDetails?.tags && postDetails?.tags?.length || fromAddPost"> -->
                                <li>
                                    <p class="data-label">Tags</p>
                                    <p class="info">
                                        <span class="tag" *ngFor="let t of postDetails?.tags">{{t?.name}}</span>
                                    </p>
                                    <span *ngIf="allowUsersEdit()" style="margin: 7px 0 0 5px;" [mdePopoverTriggerFor]="addTagsPopover"
                                        mdePopoverTriggerOn="click"><i class="fa fa-plus-square"
                                            aria-hidden="true"></i></span>
                                    <mde-popover #addTagsPopover="mdePopover" [mdePopoverOverlapTrigger]="false"
                                        [mdePopoverCloseOnClick]="false" [mdePopoverArrowOffsetX]="8"
                                        mdePopoverArrowColor="#FFFFFF">
                                        <div style="background: #f8f9fb; padding: 10px;">
                                            <app-autocomplete [autoComplete]="postForm?.get('tags')"
                                                [collection]="'tags'" [multiple]="true" [placeholder]="'Tags'"
                                                [type]="'tag'"></app-autocomplete>
                                            <mat-icon (click)=" !fromAddPost ? addDataOfPost('tags') : displayData('tags')">send</mat-icon>
                                        </div>
                                    </mde-popover>
                                </li>

                                <li *ngIf="postDetails?.connectedPosts && postDetails?.connectedPosts?.length">
                                    <p class="data-label">Reference Posts</p>
                                    <p class="info">
                                        <span style="text-decoration: underline;"
                                            *ngFor="let t of postDetails?.connectedPosts; let last=last;">
                                            <a style="color: white;" [href]="'/' + 'post' + '/' + t?.slug"
                                                target="_blank">{{t?.name}} {{last ? '' : ','}}</a>
                                        </span>
                                    </p>
                                </li>

                                <!-- <li *ngIf="postDetails?.collaborators && postDetails?.collaborators?.length || fromAddPost"> -->
                                <li>
                                    <p class="data-label">Collaborators</p>
                                    <p class="info">
                                        <a *ngFor="let t of postDetails?.collaborators; let i=index" target="_blank"
                                            [href]="'profile' + '/' + t?.slug">
                                            <span class="tag">
                                                <img [src]="t?.avatar ? ((s3FilesBucketURL + t?.avatar) | safe: 'resourceUrl') : anonymousAvatar"
                                                    alt="">{{t?.name}}</span>
                                        </a>
                                        <span *ngIf="allowUsersEdit()" style="margin: 7px 0 0 5px;" [mdePopoverTriggerFor]="addCollaboratorsPopover"
                                        mdePopoverTriggerOn="click"><i class="fa fa-plus-square"
                                            aria-hidden="true"></i></span>

                                        <mde-popover #addCollaboratorsPopover="mdePopover" [mdePopoverOverlapTrigger]="false"
                                            [mdePopoverCloseOnClick]="false" [mdePopoverArrowOffsetX]="8"
                                            mdePopoverArrowColor="#FFFFFF">
                                            <div style="background: #f8f9fb; padding: 10px;">
                                                <app-autocomplete class="field-full-width" [allowToAdd]="false" [autoComplete]="postForm?.get('collaborators')"
                                                    [placeholder]="'Select Collaborators'" [collection]="'users'" [type]="" [multiple]="true" matInput>
                                                </app-autocomplete>
                                                <mat-icon (click)=" !fromAddPost ? addDataOfPost('collaborators') : displayData('collaborators')">send</mat-icon>
                                            </div>
                                        </mde-popover>
                                    </p>
                                </li>

                                <!-- <li *ngIf="postDetails?.clients && postDetails?.clients?.length || fromAddPost"> -->
                                <li>
                                    <p class="data-label">Clients</p>
                                    <p class="info">
                                        <a *ngFor="let t of postDetails?.clients" target="_blank"
                                            [href]="'profile' + '/' + t?.slug">
                                            <span class="tag">
                                                <img [src]="t?.avatar ? ((s3FilesBucketURL + t?.avatar) | safe: 'resourceUrl') : anonymousAvatar"
                                                    alt="">{{t?.name}}</span>
                                        </a>
                                    </p>
                                    <span *ngIf="allowUsersEdit()" style="margin: 7px 0 0 5px;" [mdePopoverTriggerFor]="addClientsPopover"
                                        mdePopoverTriggerOn="click"><i class="fa fa-plus-square"
                                            aria-hidden="true"></i></span>

                                    <mde-popover #addClientsPopover="mdePopover" [mdePopoverOverlapTrigger]="false"
                                        [mdePopoverCloseOnClick]="false" [mdePopoverArrowOffsetX]="8"
                                        mdePopoverArrowColor="#FFFFFF">
                                        <div style="background: #f8f9fb; padding: 10px;">
                                            <app-autocomplete class="field-full-width" [allowToAdd]="false"
                                                [autoComplete]="postForm?.get('clients')"
                                                [placeholder]="'Select Clients'" [collection]="'users'" [type]=""
                                                [multiple]="true" matInput>
                                            </app-autocomplete>
                                            <mat-icon (click)=" !fromAddPost ? addDataOfPost('clients') : displayData('clients')">send</mat-icon>
                                        </div>
                                    </mde-popover>
                                </li>

                                <li *ngIf="postDetails?.jobProfile && postDetails?.jobProfile?.length">
                                    <p class="data-label">Position</p>
                                    <p class="info" style="text-transform: capitalize;">
                                        <span
                                            *ngFor="let c of postDetails?.jobProfile; let ei = index;">{{c?.name + (ei === postDetails?.jobProfile?.length - 1 ? '' : ', ' )}}</span>
                                    </p>
                                </li>

                                <li *ngIf="postDetails?.company">
                                    <p class="data-label">Company</p>
                                    <p class="info" style="text-transform: capitalize; cursor: pointer;"
                                        [routerLink]="['/', 'company', postDetails?.company._id]">
                                        {{ postDetails?.company?.name }}</p>
                                </li>

                            </div>

                            <div class="col-md-4 col-sm-12">
                                <li *ngIf="postDetails?.createdBy">
                                    <p class="data-label">Author</p>
                                    <p class="info">
                                        <a target="_blank"
                                            [href]="'/' + 'profile' + '/' + postDetails?.createdBy?.slug">
                                            <span class="tag">
                                                <img [src]="postDetails?.createdBy?.avatar ? ((s3FilesBucketURL + postDetails?.createdBy?.avatar) | safe: 'resourceUrl') : anonymousAvatar"
                                                    alt="">{{postDetails?.createdBy?.name}}</span>
                                        </a>
                                    </p>
                                </li>
                                <li *ngIf="postDetails?.createdAt">
                                    <p class="data-label">CreatedAt</p>
                                    <p class="info">
                                        <mat-icon style="vertical-align: middle;">date_range</mat-icon>
                                        {{ postDetails?.createdAt | date: 'EEEE, MMMM d, y, h:mm a'}}
                                    </p>
                                </li>

                                <li>
                                    <p class="data-label">Company</p>
                                    <p class="info" style="text-transform: capitalize; cursor: pointer;">
                                        <span *ngFor="let c of postDetails?.companies; let ei = index;"
                                            [routerLink]="['/', 'company', c?._id]">{{c?.name + (ei === postDetails?.companies?.length - 1 ? '' : ', ' )}}</span>
                                    </p>
                                    <span *ngIf="allowUsersEdit()" style="margin: 7px 0 0 5px" [mdePopoverTriggerFor]="addCopmaniesPopover"
                                        mdePopoverTriggerOn="click"><i class="fa fa-plus-square"
                                            aria-hidden="true"></i></span>

                                    <mde-popover #addCopmaniesPopover="mdePopover" [mdePopoverOverlapTrigger]="false"
                                        [mdePopoverCloseOnClick]="false" [mdePopoverArrowOffsetX]="8"
                                        mdePopoverArrowColor="#FFFFFF">
                                        <div style="background: #f8f9fb; padding: 10px;">
                                            <app-autocomplete [autoComplete]="postForm?.get('companies')"
                                                [collection]="'companies'" [forCompany]="true" [multiple]="true"
                                                [placeholder]="'Select Company'" [type]="" class="col-md-6">
                                            </app-autocomplete>
                                            <mat-icon (click)=" !fromAddPost ? addDataOfPost('companies') : displayData('companies')">send</mat-icon>
                                        </div>
                                    </mde-popover>
                                </li>
                            </div>

                            <div class="col-md-4 col-sm-12">
                                <li *ngIf="postDetails?.updatedAt">
                                    <p class="data-label">UpdatedAt</p>
                                    <p class="info">
                                        <mat-icon style="vertical-align: middle;">date_range</mat-icon>
                                        {{ postDetails?.updatedAt | date: 'EEEE, MMMM d, y, h:mm a'}}
                                    </p>
                                </li>
                                <li *ngIf="showShareButtons">
                                    <ul class="social-media">
                                        <button mat-fab shareButton="facebook"
                                            [style.backgroundColor]="share?.prop?.facebook.color">
                                            <i class="fab fa-facebook-f"></i>
                                        </button>
                                        <button mat-fab shareButton="twitter"
                                            [style.backgroundColor]="share?.prop?.twitter.color">
                                            <i class="fab fa-twitter"></i>
                                        </button>
                                        <button mat-fab shareButton="linkedin"
                                            [style.backgroundColor]="share?.prop?.linkedin.color">
                                            <i class="fab fa-linkedin"></i>
                                        </button>

                                        <button mat-fab shareButton="whatsapp"
                                            [style.backgroundColor]="share?.prop?.whatsapp.color">
                                            <i class="fab fa-whatsapp"></i>
                                        </button>

                                    </ul>
                                    <!-- </div> -->
                                </li>
                                
                            </div>



                        </ul>

                    </div>
                </div>
            </div>
            <!-- end /.col-md-12 -->
        </div>
        <!-- end /.row -->
    </div>
    <!-- end /.container -->
</section>
<mde-popover #importArticle="mdePopover" [mdePopoverOverlapTrigger]="false" [mdePopoverCloseOnClick]="false"
    [mdePopoverArrowOffsetX]="50" mdePopoverArrowColor="#FFFFFF">
    <div style="background: #f8f9fb; padding: 10px;">
        <p>Import {{postDetails?.type}} By URL</p>
        <mat-form-field class="field-full-width">
            <input [formControl]="articleLink" type="text" matInput placeholder="Link">
        </mat-form-field>
        <mat-icon (click)="import()">send</mat-icon>
    </div>
    <!-- <a class="btn btn--sm btn--round menu" (click)="import()"
        style="color: #00aeef !important; background: white; float: right;">Ok
    </a> -->
</mde-popover>

<!--================================
                END BREADCRUMB AREA
=================================-->