<!--================================
        START BREADCRUMB AREA
=================================-->

<section class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb" style="align-items: center;">
                    <ul>
                        <li *ngFor="let p of path; let i = index" [ngClass]="{'active': (path?.length - 1) === i}">
                            <a [routerLink]="[p?.pathString ? p.pathString : '/']">{{p?.name}}</a>
                            <!-- <a>{{postDetails?.name}}</a> -->
                        </li>
                        <li *ngIf="all">
                            <button mat-raised-button color="primary" (click)="OnClickAll.emit()"
                                style="line-height: 25px; min-width: 45px;">All</button>
                        </li>
                    </ul>
                    <div style="margin-left: auto;">

                        <a *ngIf="false" class="btn btn--vsm btn--round menu"
                            style="color: #00aeef !important; background: white;" [mdePopoverTriggerFor]="importArticle"
                            mdePopoverTriggerOn="click">Import
                        </a>

                        <a *ngIf="showEditPostDetails" class="btn btn--vsm btn--round menu"
                            style="color: #00aeef !important; background: white; margin-right: 5px;"
                            (click)="editPost.emit()">Edit <mat-icon style="vertical-align: middle;">edit</mat-icon>
                        </a>

                        <div *ngIf="postActions">
                            <button type="button" (click)="saveOrSubmitPost.emit('Drafted')"
                                [disabled]="postForm?.invalid" mat-raised-button
                                style="background-color: #28a745; color: white;">{{ 'Save' }}</button>
                            <button type="button" (click)="saveOrSubmitPost.emit('Published')"
                                [disabled]="postForm?.invalid" mat-raised-button color="primary"
                                style="margin: 0 5px;">{{ 'Publish' }}</button>
                            <button type="button" (click)="cancelClicked()" mat-raised-button
                                color="warn">{{ 'Cancel' }}</button>
                        </div>

                    </div>
                </div>

                <h3 style="font-size: 1rem;">{{titlePlaceholder}}</h3>
                <h2 tabindex="0" autofocus="true" (keydown.enter)="$event.preventDefault()" style="margin-bottom: 0"
                    [contentEditable]="allowUsersEdit() || inline ? true : false" class="page-title" id="test"
                    (blur)="!fromAddPost ? myFunction($event) : postForm?.get('name')?.setValue($event.target.innerText)">
                    {{postForm?.get('name')?.value ? postForm?.get('name')?.value  : title}}
                </h2>

                <p *ngIf="displaySave">Saving...</p>
            </div>
            <!-- end /.col-md-12 -->
        </div>
        <!-- end /.row -->
    </div>
    <!-- end /.container -->
</section>
<mde-popover #importArticle="mdePopover" [mdePopoverOverlapTrigger]="false" [mdePopoverCloseOnClick]="false"
    [mdePopoverArrowOffsetX]="50" mdePopoverArrowColor="#FFFFFF">
    <div style="background: #f8f9fb; padding: 10px;">
        <p>Import {{postDetails?.type}} By URL</p>
        <mat-form-field class="field-full-width">
            <input [formControl]="articleLink" type="text" matInput placeholder="Link">
        </mat-form-field>
        <mat-icon (click)="import()">send</mat-icon>
    </div>
    <!-- <a class="btn btn--sm btn--round menu" (click)="import()"
        style="color: #00aeef !important; background: white; float: right;">Ok
    </a> -->
</mde-popover>

<!--================================
                END BREADCRUMB AREA
=================================-->