.data-label {
    // width: 10%;
    font-weight: 600;
    // color: #333333;
}

.social-media {
    margin-top: 15px;
    button {
        margin-right: 7px;
    }
}

.info {
    // width: 90%;
}

.tag {
    background: #00000033;
    display: inline-block;
    color: white;
    padding: 0 10px;
    line-height: 28px;
    margin-left: 5px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 100px;
    letter-spacing: .5px;
    text-transform: capitalize;

    img {
        border-radius: 50%;
        width: 20px;
        height: 20px;
        margin-right: 5px;
        vertical-align: middle;
    }
}

ul.infos li {
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    // justify-content: space-between;
}

ul.infos li p {
    display: inline-block;
    margin: 0;
    font-size: 16px;
    line-height: 36px;
    font-weight: 500;
}

p.data-label:after {
    content: ":";
    margin-left: 4px
}

span:focus {
    outline: none;
}