<!--================================
        START BREADCRUMB AREA
=================================-->

<section class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb" style="align-items: center;">
                    <ul>
                        <li *ngFor="let p of path; let i = index" [ngClass]="{'active': (path?.length - 1) === i}">
                            <a [routerLink]="[p?.pathString ? p.pathString : '/']">{{p?.name}}</a>
                        </li>
                    </ul>
                    <div style="margin-left: auto;">
                        <a *ngIf="showEditPostDetails" class="btn btn--sm btn--round menu"
                            style="color: #0674ec !important; background: white; margin-right: 5px;"
                            (click)="editPost.emit()">Edit <mat-icon style="vertical-align: middle;">edit</mat-icon>
                        </a>
                        <a *ngIf="postDetails?.type === 'event'" class="btn btn--sm btn--round menu"
                            style="color: #0674ec !important; background: white;"
                            [routerLink]="['/', {outlets: {'main': ['event', 'add-event']}}]">Add <mat-icon
                                style="vertical-align: middle;">add</mat-icon>
                        </a>
                    </div>

                    <!-- Add Post Menu Integrated -->
                    <!-- <app-add-post-menu *ngIf="showMenu" [ngStyle]="{'color': color}" style="padding-left: 10px;"></app-add-post-menu> -->
                </div>
                <h1 class="page-title">{{title}}</h1>

                <div style="color: white; padding-top: 8px">
                    <h6 *ngIf="eventDate && eventDate?.length">
                        <label style="width: 5%; color: white;">From:</label>
                        <mat-icon style="vertical-align: middle;">date_range</mat-icon>
                        {{eventDate[0] | date: 'EEEE, MMMM d, y, h:mm a' }}
                    </h6>
                    <h6 *ngIf="eventDate && eventDate?.length">
                        <label style="width: 5%; color: white;">To:</label>
                        <mat-icon style="vertical-align: middle;">date_range</mat-icon>
                        {{ eventDate[1] | date: 'EEEE, MMMM d, y, h:mm a'}}
                    </h6>

                    <h6 fxLayout="row" fxLayoutGap="7px" *ngIf="postDetails?.company" style="margin: 0 0 8px 0;">
                        <strong fxFlex="17" style="color: white;">Position :</strong>
                        <!-- <mat-icon style="vertical-align: middle;"></mat-icon> -->
                        {{ postDetails?.jobProfile ? postDetails?.jobProfile : '' }}
                    </h6>

                    <h6 fxLayout="row" fxLayoutGap="7px" *ngIf="postDetails?.company" style="margin: 0 0 8px 0;">
                        <strong fxFlex="17" style="color: white;">Company :</strong>
                        <!-- <mat-icon style="vertical-align: middle;"></mat-icon> -->
                        {{ postDetails?.company?.name }}
                    </h6>

                    <h6 fxLayout="row" *ngIf="postDetails?.cities && postDetails?.cities?.length"
                        style="margin: 0 0 8px 0;">
                        <strong fxFlex="17" style="color: white;">Cities :</strong>
                        <!-- <mat-icon style="vertical-align: middle;"></mat-icon> -->
                        <span
                            *ngFor="let c of postDetails?.cities; let ei = index;">{{c?.name + (ei === postDetails?.cities?.length - 1 ? '' : ', ' )}}</span>
                    </h6>

                    <h6 fxLayout="row" fxLayoutGap="7px" *ngIf="postDetails?.salaryRangeFrom"
                        style="margin: 0 0 8px 0;">
                        <strong fxFlex="17" style="color: white;">Expected Salary :</strong>
                        <!-- <mat-icon style="vertical-align: middle;"></mat-icon> -->
                        <!-- <div fxFlex style="color: white;"> -->
                        {{(postDetails?.salaryRangeFrom | currency: 'USD' : 'symbol' : '1.0-0') + 'k'}} -
                        {{ (postDetails?.salaryRangeTo | currency: 'USD' : 'symbol' : '1.0-0') + 'k'}}
                        <!-- </div> -->
                    </h6>
                </div>
            </div>
            <!-- end /.col-md-12 -->
        </div>
        <!-- end /.row -->
    </div>
    <!-- end /.container -->
</section>

<!--================================
                END BREADCRUMB AREA
=================================-->