<ng-container *ngIf="details">
    <!--================================
            START BREADCRUMB AREA
        =================================-->
    <app-breadcumb (editPost)="postService?.editPost(details)"
        [showEditPostDetails]="(details?.createdBy?._id === authService?.loggedInUser?._id || collaborators.indexOf(authService?.loggedInUser?._id) >= 0) ? true : false"
        [title]="details?.name" [path]="breadcumb?.path" [eventDate]="details?.dateRange" [postDetails]="details"
        [showAddCollaborators]="details?.createdBy?._id === authService?.loggedInUser?._id ? true : false"
        [postDetails]="details"
        >
    </app-breadcumb>

    <!--================================
                END BREADCRUMB AREA
        =================================-->



    <!--============================================
            START EVENT DETAILS AREA
        ==============================================-->
    <section class="single-product-desc" style="padding-top: 15px;">
        <div class="container" style="margin-top: 0; margin-bottom: 15px;">

            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 align-items-center justify-content-center" style="margin: auto;">
                    <!-- <div class="avatar-circle" style="margin: auto;">
                        <span class="initials">{{details?.name ? details?.name[0] : ''}}</span>
                    </div>
                    <h4 style="text-align: center; padding-top: 10px;">{{details?.name}}</h4> -->
                </div>

            </div>
            <div class="col-lg-9 col-md-9 col-sm-9" style="padding: 0; margin-left: auto;">
                <div class="picture-container" *ngIf="selectedCoverPic || details?.cover">

                    <img #cover
                        [src]="selectedCoverPic ? (selectedCoverPicURL | safe: 'resourceUrl') : ((s3FilesBucketURL + details?.cover) | safe: 'resourceUrl')">

                    <div class="controls" *ngIf="details?.createdBy?._id === authService?.loggedInUser?._id">
                        <a mat-button style="background-color: #ff00007a;" (click)="removeCover();"
                            class="save">Remove</a>
                        <a mat-button style="background-color: #00aeef" *ngIf="!details?.cover" (click)="updateCover()"
                            class="save">Upload
                            Cover</a>
                    </div>

                </div>
                <div class="image-upload-wrap" style="height: 300px; margin-left: auto;"
                    *ngIf="!selectedCoverPic && details?.createdBy?._id === authService?.loggedInUser?._id && !details?.cover">
                    <input #coverPic class="file-upload-input" type="file" (change)="onFilesAdded()" accept="image/*" />
                    <div class="drag-text">
                        <h3>Drag and drop a file or select add Image 685w x 300h</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">

            <div class="row">
                <div class="col-lg-3">
                    <!-- start aside -->
                    <app-add-post-menu style="color: #00aeef !important;"></app-add-post-menu>

                    <div class="docs-component-viewer-nav common-box-shadow"
                        style="margin-bottom: 20px; margin-top: 10px;">
                        <div class="docs-component-viewer-nav-content">
                            <div *ngFor="let category of viewLinks; let last = last;">
                                <button cdkAccordionItem #panel="cdkAccordionItem"
                                    (click)="selectMainCategory(category, panel)" class="category docs-nav-content-btn"
                                    [ngClass]="view === category.view ? 'docs-component-viewer-sidenav-item-selected' : ''"
                                    [attr.aria-controls]="'panel-' + category.view"
                                    [attr.aria-expanded]="panel.expanded">
                                    {{category.title}}
                                    <button *ngIf="category?.showAdd"
                                        style="float: right; line-height: 23px; padding: 0 9px; font-size: 10px;"
                                        type="button" class="btn btn--vsm btn--round">+</button>
                                </button>
                                <hr *ngIf="!last" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <!-- <div class="comment-form-area" style="padding: 0;">
                        <div class="media comment-form">
                            <div class="media-left">
                                <a [routerLink]="['profile', authService?.loggedInUser?.slug ]">
                                    <img class="author_avatar_comment" style="height: 45px; width:45px;"
                                        [src]="authService?.loggedInUser?.avatar ? ((s3FilesBucketURL + authService?.loggedInUser?.avatar) | safe: 'resourceUrl') : anonymousAvatar"
                                        alt="Commentator Avatar">
                                </a>
                            </div>
                            <div class="media-body">
                                <div class="comment-reply-form">
                                    <app-add-post-menu #addPostMenu style="position: absolute; visibility: hidden;">
                                    </app-add-post-menu>
                                    <div (click)="addPostMenu.openMenu();" class="comment-reply-form">
                                        <textarea placeholder="Add Post!"
                                            style="background: white; height: 100px; padding: 20px 35px; width: 100%; min-height: 130px; border-radius: 6px;">
                                            </textarea>

                                        <button style="float: right; margin-top: 10px; margin-bottom: 20px;"
                                            type="button" class="btn btn--sm btn--round"
                                            (click)="addPostMenu.openMenu();">Post</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->

                    <div *ngIf="view === navLinkName.howtoguide">
                        <!-- <app-add-howtodoc [connectedEvent]="details?._id"></app-add-howtodoc> -->
                        <div class="item-grid pen-grid item-grid-large">
                            <ng-container *ngFor="let p of postsConnectedWithEvent">
                                <app-brief-post *ngIf="p?.type === postTypes?.Howtodoc" style="width: 100%;" [p]="p"
                                    [readMore]="true"></app-brief-post>
                            </ng-container>
                        </div>
                    </div>

                    <div *ngIf="view === navLinkName?.assignments">
                        <!-- <app-add-assignment [connectedEvent]="details?._id"></app-add-assignment> -->
                        <div class="item-grid pen-grid item-grid-large">
                            <ng-container *ngFor="let p of postsConnectedWithEvent">
                                <app-brief-post *ngIf="p?.type === postTypes?.Assignment" style="width: 100%;" [p]="p"
                                    [readMore]="true"></app-brief-post>
                            </ng-container>
                        </div>
                    </div>

                    <!-- <div *ngIf="view === 'technical-challenge'">
                        <ng-container
                            *ngTemplateOutlet="postTemplate; context: { details: details }">
                        </ng-container>
                    </div>

                    <div *ngIf="view === 'business-challenge'">
                        <ng-container
                            *ngTemplateOutlet="postTemplate; context: { details: details }">
                        </ng-container>
                    </div> -->

                    <div *ngIf="details?.createdBy?.name && view === 'creator'" class="author-card sidebar-card">
                        <!-- <ng-container
                                *ngTemplateOutlet="addCompanypostTemplate; context: { details: details, postType: 'company-post'}">
                            </ng-container> -->
                        <div class="card-title">
                            <h4>Author Information</h4>
                        </div>

                        <div class="author-infos">
                            <div class="author_avatar">
                                <img [src]="details?.createdBy?.avatar ? ((s3FilesBucketURL + details.createdBy.avatar) | safe: 'resourceUrl') : anonymousAvatar"
                                    alt="Presenting the broken author avatar :D">
                            </div>

                            <div class="author">
                                <a [routerLink]="['profile', details?.createdBy?.slug ]">
                                    <h4>{{details?.createdBy?.name}}</h4>
                                </a>
                                <!-- <button
                                        *ngIf="details?.createdBy?._id && authService?.loggedInUser?._id && authService?.loggedInUser?._id !== details?.createdBy?._id"
                                        (click)="openDialog(details?.createdBy?._id)" mat-mini-fab color="primary">
                                        <mat-icon>video_call</mat-icon>
                                    </button> -->
                                <!-- <p>Signed Up: 08 April 2016</p> -->
                            </div>
                            <!-- end /.author -->

                            <div class="social social--color--filled">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <span class="fab fa-facebook fa-lg"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="fab fa-github fa-lg"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="fab fa-linkedin fa-lg"></span>
                                        </a>
                                    <li>
                                        <a href="#">
                                            <i class="fab fa-stack-overflow"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- end /.social -->

                            <div class="author-btn">
                                <a (editPost)="postService?.editPost(details)"
                                    [routerLink]="['profile', details?.createdBy?.slug ]"
                                    class="btn btn--sm btn--round">View Profile</a>
                                <!-- <a href="#" class="btn btn--sm btn--round">Message</a> -->
                            </div>
                        </div>
                        <!-- end /.author-infos -->


                    </div>
                    <aside *ngIf="view === 'info'" class="sidebar sidebar--single-product">
                        <!-- <ng-container
                                *ngTemplateOutlet="addCompanypostTemplate; context: { details: details, postType: 'company-post'}">
                            </ng-container> -->
                        <div class="sidebar-card card--product-infos">
                            <app-editor *ngIf="details?.description && details?.description?.length"
                            [commentsList]="commentService?.commentsList$ | async" [blockLevelComments]="true"
                            [readOnly]="true" [data]="details?.description" [id]="'details-editor'" [post]="details"
                            [commentType]="'post'">
                        </app-editor>
                            <div class="card-title">
                                <h4>Information</h4>
                            </div>

                            <ul class="infos">
                                <li *ngIf="details?.createdAt">
                                    <p class="data-label">Created</p>
                                    <p class="info">{{getDate(details?.createdAt) | date: 'dd/MM/yyyy'}}
                                    </p>
                                </li>
                                <li *ngIf="details?.updatedAt">
                                    <p class="data-label">Updated</p>
                                    <p class="info">{{getDate(details?.updatedAt) | date: 'dd/MM/yyyy'}}
                                    </p>
                                </li>
                                <li>
                                    <p class="data-label">Cities</p>
                                    <p class="info" *ngFor="let t of details?.cities">{{t?.name + ','}}
                                    </p>
                                </li>
                                <li>
                                    <p class="data-label">Address</p>
                                    <p class="info">{{details?.location?.address}}
                                    </p>
                                </li>
                            </ul>

                            <!-- <ng-container *ngTemplateOutlet="locationTemplate; context: {location: details?.location}">
                                </ng-container> -->
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </section>

</ng-container>

<ng-template #addCommentTemplate let-cDetails="details">
    <div style="background: white;">
        <div class="tab-pane fade show product-tab">
            <div class="thread">
                <ul class="media-list thread-list" style="list-style: none;">
                    <h4 class="tab-content-wrapper">Comments:</h4>
                    <div *ngFor="let c of commentService?.commentsList$ | async">
                        <li [id]="c?._id" *ngIf="!c?.blockSpecificComment" class="single-thread">
                            <app-comment [comment]="c" [referenceId]="cDetails?._id"></app-comment>
                        </li>
                    </div>
                </ul>
            </div>
        </div>

        <div class="comment-form-area" *ngIf="commentForm">
            <h4>Leave a comment</h4>
            <!-- comment reply -->
            <div class="media comment-form">
                <div class="media-left">
                    <a href="#">
                        <img class="author_avatar_comment"
                            [src]="authService?.loggedInUser?.avatar ? ((s3FilesBucketURL + authService?.loggedInUser?.avatar) | safe: 'resourceUrl') : anonymousAvatar"
                            alt="Commentator Avatar">
                    </a>
                </div>
                <div class="media-body">
                    <div [formGroup]="commentForm" class="comment-reply-form">
                        <app-editor [id]="'comment-editor'">
                        </app-editor>

                        <button style="float: right;" type="button" class="btn btn--sm btn--round"
                            (click)="addComment()">Post
                            Comment</button>
                    </div>
                </div>
            </div>
            <!-- comment reply -->
        </div>
    </div>
</ng-template>