<app-breadcumb [title]="breadcumb?.title"></app-breadcumb>

<div class="container">
    <div fxLayout="row" fxLayoutGap="10px" style="margin-top: 10px; margin-bottom: 10px">
        <button type="button" [routerLink]="['/', 'form-builder']" mat-raised-button color="primary"> Back </button>
      </div>
    <div class="row">
        <div style="padding: 0" class="col-md-12">
            
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name
                        <!-- <span *ngIf="nameAsc">
                            <i class="fas fa-sort-up" (click)="changeOrder('name','asc','contact')"></i>
                        </span>
                        <span *ngIf="!nameAsc">
                            <i class="fas fa-sort-down" (click)="changeOrder('name','desc','contact')"></i>
                        </span> -->
                    </th>
                    <th>Total Points
                        <!-- <span *ngIf="emailAsc">
                            <i class="fas fa-sort-up" (click)="changeOrder('email','asc','contact')"></i>
                        </span>
                        <span *ngIf="!emailAsc">
                            <i class="fas fa-sort-down" (click)="changeOrder('email','desc','contact')"></i>
                        </span> -->
                    </th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let e of valueList" (click)="onClickCalled(e?._id)">
                    <td>{{e?.createdBy?.name}}</td>
                    <td>{{e?.totalPoints}}</td>
                    <td>{{e?.createdAt | date: 'EEEE, MMMM d, y, h:mm a'}}</td>
                    
                </tr>
            </tbody>
        </table>

        <app-paginator [length]="totalCount">
          </app-paginator>
</div>
</div>
</div>