<app-breadcumb [title]="breadcumb?.title"></app-breadcumb>

<div class="container">
    <div fxLayout="row" fxLayoutGap="10px" style="margin-top: 10px; margin-bottom: 10px">
        <button type="button" [routerLink]="['/', 'form-builder']" mat-raised-button color="primary"> Back </button>
      </div>
    <div class="row">
        <div style="padding: 0" class="col-md-12">
            
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Name Column -->
    
    <ng-container style="flex: 0 0 25% !important; min-width: 104px !important;"  *ngFor="let column of displayedColumns" matColumnDef="{{column}}">
        <th mat-header-cell *matHeaderCellDef > {{column}} </th>
        <td setwidth mat-cell
            *matCellDef="let form"> {{form[column]}} </td>
    </ng-container>

    <!-- <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
      <td mat-cell *matCellDef="let MakeMoney" (click)="$event.stopPropagation()">
        <button mat-mini-fab color="primary"
          [routerLink]="['/', 'add-form-data', MakeMoney.formname]">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-mini-fab color="primary" [routerLink]="['/', 'view-form-data-list', MakeMoney.formname]">
          <mat-icon>view_agenda</mat-icon>
        </button>
      </td>
    </ng-container> -->

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>
</div>
</div>