<div class="row m-0">
    <div class="col-md-3">
        <app-rooms #rooms (roomChanged)="onRoomChanged($event)"
            [activeRoomName]="!!activeRoom ? activeRoom.name : null"></app-rooms>
    </div>
    <div class="col-md-6">
        <app-camera #camera [style.display]="!!activeRoom ? 'none' : 'block'">
        </app-camera>
        <app-participants #participants (leaveRoom)="onLeaveRoom($event)"
            (participantsChanged)="onParticipantsChanged($event)" [style.display]="!!activeRoom ? 'block' : 'none'"
            [activeRoomName]="!!activeRoom ? activeRoom.name : null"></app-participants>
    </div>
    <div class="col-md-3">
        <app-settings #settings (settingsChanged)="onSettingsChanged($event)"></app-settings>
    </div>
</div>