<!--============================================
        START COMPANY DETAILS
    ==============================================-->

<ng-container *ngIf="(companyDetails) as details">
    <!--================================
        START BREADCRUMB AREA
    =================================-->

    <!-- <app-breadcumb (editPost)="edit(details)"
        [showEditPostDetails]="details?.createdBy?._id === authService?.loggedInUser?._id ? true : false"
        [companyDetails]="details" [title]="details?.name" [path]="breadcumb?.path">
    </app-breadcumb> -->

    <!--================================
            END BREADCRUMB AREA
    =================================-->



    <!--============================================
        START COMPANY DETAILS AREA
    ==============================================-->
    <section class="single-product-desc" style="padding-top: 15px;">
        <div class="container" style="margin-top: 0; margin-bottom: 15px;">

            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-3 align-items-center justify-content-center" style="margin: auto;">
                    <div class="avatar-circle" style="margin: auto;">
                        <span class="initials">{{details?.name ? details?.name[0] : ''}}</span>
                    </div>
                    <h4 style="text-align: center; padding-top: 10px;">{{details?.name}}</h4>
                    <!-- Social Media Links & Popover to edit those links -->
                    <div class="social" fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="center start">
                        <a [href]="details?.facebookLink" target="_blank" style="color: inherit;"><i
                                class="fab fa-facebook"></i></a>
                        <a [href]="details?.twitterLink" target="_blank" style="color: inherit;"><i
                                class="fab fa-twitter"></i></a>
                        <a [href]="details?.linkedinLink" target="_blank" style="color: inherit;"><i
                                class="fab fa-linkedin"></i></a>
                        <a [href]="details?.yelpLink" target="_blank" style="color: inherit;"><i
                                class="fab fa-yelp"></i></a>
                        <a [href]="details?.websiteLink" target="_blank" style="color: inherit;"><i
                                class="far fa-rss"></i></a>
                        <a *ngIf="details?.createdBy?._id === authService?.loggedInUser?._id"><i class="fas fa-pen"
                                [mdePopoverTriggerFor]="socialMediaLinks" [mdePopoverTargetAt]="lr"
                                mdePopoverTriggerOn="click"></i></a>

                    </div>
                    <p *ngIf="details?.createdAt" style="text-align: center; line-height: 18px;">On platform since
                        {{details?.createdAt | date}}</p>
                    <p *ngIf="details?.createdBy" style="text-align: center; line-height: 18px;">Creator: <a
                            target="_blank"
                            [href]="'profile' + '/' + details?.createdBy?.slug">{{details?.createdBy?.name}}</a>
                    </p>
                    <p *ngIf="details?.owners?.length" style="text-align: center; line-height: 18px;">Owners: <a
                            *ngFor="let o of details?.owners; let last=last;" target="_blank"
                            [href]="'profile' + '/' + o?.slug">{{o?.name}}{{last ? '' : ', '}}</a>
                    </p>

                    <mde-popover #socialMediaLinks="mdePopover" [mdePopoverOverlapTrigger]="false"
                        [mdePopoverCloseOnClick]="false" [mdePopoverArrowWidth]="0" mdePopoverArrowColor="#FFFFFF">
                        <div class="common-box-shadow"
                            style="padding: 15px; min-width: 500px; border-radius: 19px; background: #f2f3f5; border: solid 0.5px rgb(236, 236, 236)">
                            <mat-form-field style="display: block;">
                                <input #fb [value]="details?.facebookLink" type="text" matInput
                                    placeholder="Facebook Page">
                            </mat-form-field>
                            <mat-form-field style="display: block;">
                                <input #tw [value]="details?.twitterLink" type="text" matInput
                                    placeholder="Twitter Handle">
                            </mat-form-field>
                            <mat-form-field style="display: block;">
                                <input #li [value]="details?.linkedinLink" type="text" matInput placeholder="Linkedin">
                            </mat-form-field>
                            <mat-form-field style="display: block;">
                                <input #ig [value]="details?.instagramLink" type="text" matInput
                                    placeholder="Instagram">
                            </mat-form-field>
                            <mat-form-field style="display: block;">
                                <input #yelp [value]="details?.yelpLink" type="text" matInput placeholder="Yelp">
                            </mat-form-field>
                            <mat-form-field style="display: block;">
                                <input #cw [value]="details?.websiteLink" type="text" matInput
                                    placeholder="Company Website">
                            </mat-form-field>
                            <a class="btn btn--vsm btn--round menu"
                                (click)="updateSocialMedia(fb.value, tw.value, li.value, ig.value, yelp.value, cw.value)"
                                style="color: white; background: #00aeef !important;">Update
                            </a>
                        </div>
                    </mde-popover>

                </div>
                <div class="col-lg-10 col-md-10 col-sm-9" style="padding: 0;">
                    <div class="picture-container" *ngIf="selectedCoverPic || companyDetails?.cover">

                        <img #cover
                            [src]="selectedCoverPic ? (selectedCoverPicURL | safe: 'resourceUrl') : ((s3FilesBucketURL + details?.cover) | safe: 'resourceUrl')">

                        <div class="controls" *ngIf="details?.createdBy?._id === authService?.loggedInUser?._id">
                            <a mat-button style="background-color: #ff00007a;" (click)="removeCover();"
                                class="save">Remove</a>
                            <a mat-button style="background-color: #00aeef" *ngIf="!details?.cover"
                                (click)="updateCover()" class="save">Upload
                                Cover</a>
                        </div>

                    </div>
                    <div class="image-upload-wrap" style="height: 300px;"
                        *ngIf="!selectedCoverPic && details?.createdBy?._id === authService?.loggedInUser?._id && !details?.cover">
                        <input #coverPic class="file-upload-input" type="file" (change)="onFilesAdded()"
                            accept="image/*" />
                        <div class="drag-text">
                            <h3>Drag and drop a file or select add Image 685w x 300h</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">

            <div class="row">
                <div class="col-lg-2">
                    <!-- Mainling List -->
                    <div class="add-form-area common-box-shadow" *ngIf="mailingList?.length > 0">
                        <h4>Mailing List</h4>
                            <!-- <div style="border: 1px solid; margin-top: 5px;" *ngFor="let m of mailingList; let i = index;">
                                <h5>{{m?.name}}</h5>
                            </div> -->
                            <button type="button" (click)="reDirectToMailingList(m?._id)" *ngFor="let m of mailingList; let i = index;"
                            mat-raised-button color="primary" [ngClass]="batchId === m?._id ? 'selected-mailing-list' : ''"
                            style="width: 100%; height: auto; margin-top: 5px; white-space: normal; white-space: normal;
                            word-wrap: break-word;">{{m?.name}}</button>
                    </div>
                    
                    <app-post-type-nav *ngIf="false" [selectedPostType]="companyView" [customTabs]="customTabs"
                        (postTypeClick)="selectMainCategory($event);" (plusButtonClick)="redirectToAddPost($event)">
                    </app-post-type-nav>
                    <!-- start aside -->
                    <!-- <app-add-post-menu style="color: #00aeef !important; margin-left: auto;"></app-add-post-menu> -->
                    <!-- <div class="docs-component-viewer-nav common-box-shadow"
                        style="margin-bottom: 20px; margin-top: 10px;">
                        <div class="docs-component-viewer-nav-content">
                            <div *ngFor="let category of companyViewLinks; let last = last;">
                                <button cdkAccordionItem #panel="cdkAccordionItem"
                                    [expanded]="category?.types ? isExpanded(category) : false"
                                    (click)="selectMainCategory(category, panel)" class="docs-nav-content-btn"
                                    [ngClass]="companyView === category.view ? 'docs-component-viewer-sidenav-item-selected' : ''"
                                    [attr.aria-controls]="'panel-' + category.view"
                                    [attr.aria-expanded]="panel.expanded">
                                    {{category.title}}

                                    <mat-icon *ngIf="category?.types">
                                        {{panel.expanded ? 'keyboard_arrow_up' :  'keyboard_arrow_down'}}
                                    </mat-icon>
                                </button>
                                <mat-nav-list dense [@bodyExpansion]="panel.expanded ? 'expanded' : 'collapsed'"
                                    id="panel-{{category.view}}" [attr.aria-label]="category.view">
                                    <a mat-list-item *ngFor="let component of category?.types"
                                        (click)="selectMainCategory(component, panel)"
                                        [ngClass]="component.view === companyView ? 'docs-component-viewer-sidenav-item-selected': ''"
                                        [attr.aria-current]="companyView === component.view ? 'page': 'false'">
                                        {{component.title}}
                                    </a>
                                </mat-nav-list>
                                <hr *ngIf="!last" />
                            </div>

                            <div *ngFor="let p of postTypesArray; let last = last;">
                                <button cdkAccordionItem [routerLink]="[]" [queryParams]="{ view: p.name }"
                                    [queryParamsHandling]="'merge'"
                                    (click)="companyView = p.name; fetchAllCompanyRealtedePosts(p.name);"
                                    class="docs-nav-content-btn"
                                    [ngClass]="companyView === p.name ? 'docs-component-viewer-sidenav-item-selected' : ''">
                                    {{p.label}}
                                </button>
                                <hr *ngIf="!last" />
                            </div>
                        </div>
                    </div> -->



                    <!-- <aside class="sidebar product--sidebar">
                        <div class="sidebar-card card--category" style="background: transparent;">

                            <div class="collapse show collapsible-content" id="collapse1">
                                <ul class="card-content" style="list-style: none;">
                                    <li>
                                        <a *ngFor="let cView of companyViewLinks" [routerLink]="['./']"
                                            [routerLinkActive]="'active-item'" [queryParams]="{view: cView?.view}"
                                            [queryParamsHandling]="'merge'">
                                            <span class="lnr lnr-chevron-right"></span>{{cView?.title}} </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <a [routerLink]="['/', 'company', 'add-company']" class="btn btn--sm btn--round menu"
                            style="margin: 0 30px;">Add Company
                            <mat-icon style="vertical-align: middle;">add</mat-icon>
                        </a>
                        <a class="btn btn--sm btn--round menu"
                            style="color: #00aeef !important; background: white; margin: 10px 30px;"
                            [routerLink]="['./']" [routerLinkActive]="'active-item'" [queryParams]="{view: 'q&a'}"
                            [queryParamsHandling]="'merge'">Add Question <mat-icon style="vertical-align: middle;">add
                            </mat-icon>
                        </a>
                        <a class="btn btn--sm btn--round menu"
                            *ngIf="auth?.loggedInUser?._id === details?.createdBy?._id"
                            style="color: #00aeef !important; background: white; margin: 10px 30px;"
                            (click)="openDialog()">Add Event
                            <mat-icon style="vertical-align: middle;">add</mat-icon>
                        </a>
                    </aside> -->
                </div>
                <div class="col-lg-9">
                    <!-- <div style="height: 312px; width: 820px">
                            <img [src]="avatar?.value ? ((s3FilesBucketURL + avatar.value) | safe: 'resourceUrl') : anonymousAvatar" />
                    </div> -->
                    <div class="row">
                        <div class="col-md-12 comment-form-area" style="padding: 0 15px;">
                            <div class="media comment-form">
                                <div class="media-left">
                                    <a [routerLink]="['profile', authService?.loggedInUser?.slug ]">
                                        <img class="author_avatar_comment" style="height: 45px; width:45px;"
                                            [src]="authService?.loggedInUser?.avatar ? ((s3FilesBucketURL + authService?.loggedInUser?.avatar) | safe: 'resourceUrl') : anonymousAvatar"
                                            alt="Commentator Avatar">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <div class="comment-reply-form">
                                        <app-add-post-menu #addPostMenu style="position: absolute; visibility: hidden;">
                                        </app-add-post-menu>
                                        <div (click)="addPostMenu.openMenu();" class="comment-reply-form">
                                            <textarea placeholder="Add Post!"
                                                style="background: white; height: 100px; padding: 20px 35px; width: 100%; min-height: 130px; border-radius: 6px;">
                                            </textarea>

                                            <button style="float: right; margin-top: 10px; margin-bottom: 20px;"
                                                type="button" class="btn btn--sm btn--round"
                                                (click)="addPostMenu.openMenu();">Post</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    

                    <!--  *ngIf="!hideTabs" -->
                    <mat-tab-group mat-align-tabs="center" [selectedIndex]="tabIndex" (selectedIndexChange)="informChange($event)">
                        <!-- [label]="!hideTabs ? 'Posts' : 'Contacts'" -->
                        <mat-tab label="Posts">
                            <div class="row">
                                <div [ngClass]="selectedBlock ? 'col-md-8 col-lg-8' : 'col-lg-12 col-md-12'">
                                    <!-- Showing the list of posts for the posts tab, everytime user clicks on the "load more", we increase the page number and call
                                    fetchAllOtherPosts method to fetch subsequent posts -->
                                    <ng-container *ngIf="companyView === 'posts'">
                                        <div class="item-grid pen-grid item-grid-large">
                                            <app-brief-post style="width: 100%;" [p]="e"
                                                *ngFor="let e of companyRelatedPosts?.posts" [readMore]="true"
                                                (showComments)="showCommentsOnSide($event)"></app-brief-post>
                                        </div>
                                        <app-paginator [length]="totalcompanyRelatedPosts"
                                            (fetchData)="paginator = $event; fetchAllCompanyRealtedePosts()">
                                        </app-paginator>
                                    </ng-container>

                                    <div *ngIf="companyView === 'campaigns' && details?._id">
                                        <ng-container
                                            *ngTemplateOutlet="campaignsTemplate; context: {details: details}">
                                        </ng-container>
                                        <!-- <div *ngFor="let c of campaignsList">
                                            <app-paginator [length]="c.count" (fetchData)="paginator = $event; fetchAllCampaign('')">
                                            </app-paginator>
                                        </div> -->
                                    </div>

                                    <ng-container *ngIf="companyView !== 'contact'">
                                        <ng-container *ngFor="let p of postTypesArray">
                                            <ng-container *ngIf="companyView === p.name">
                                                <div class="item-grid pen-grid item-grid-large">
                                                    <app-brief-post style="width: 100%;" [p]="e"
                                                        *ngFor="let e of companyRelatedPosts?.posts" [readMore]="true"
                                                        (showComments)="showCommentsOnSide($event)"></app-brief-post>
                                                </div>
                                                <app-paginator [length]="totalcompanyRelatedPosts"
                                                    (fetchData)="paginator = $event; fetchAllCompanyRealtedePosts(p.name)">
                                                </app-paginator>
                                            </ng-container>
                                        </ng-container>
                                    </ng-container>

                                    <div *ngIf="companyView === 'comments'">
                                        <ng-container *ngTemplateOutlet="addCommentTemplate; context: details">
                                        </ng-container>
                                    </div>

                                    <!-- <div *ngIf="companyView === 'comments'">
                                        <ng-container *ngTemplateOutlet="addCommentTemplate; context: details">
                                        </ng-container>
                                    </div> -->

                                    <div *ngIf="companyView === 'q&a'">
                                        <ng-container *ngTemplateOutlet="questionAnswersTemplate; context: details">
                                        </ng-container>
                                    </div>

                                    <!-- <div *ngIf="details?.createdBy?.name && companyView === 'creator'"
                                        class="author-card sidebar-card"> -->
                                    <div *ngIf="companyView === 'contact'">
                                        <ng-container *ngTemplateOutlet="contactTemplate; context: details">
                                        </ng-container>
                                    </div>

                                   

                                    <div *ngIf="details?.createdBy?.name && companyView === 'creator'"
                                        class="author-card sidebar-card">
                                        <!-- <ng-container
                                            *ngTemplateOutlet="addCompanypostTemplate; context: { details: details, postType: 'company-post'}">
                                        </ng-container> -->
                                        <div class="card-title">
                                            <h4>Author Information</h4>
                                        </div>

                                        <div class="author-infos">
                                            <div class="author_avatar">
                                                <img [src]="details?.createdBy?.avatar ? ((s3FilesBucketURL + details.createdBy.avatar) | safe: 'resourceUrl') : anonymousAvatar"
                                                    alt="Presenting the broken author avatar :D">
                                            </div>

                                            <div class="author">
                                                <a [routerLink]="['profile', details?.createdBy?.slug ]">
                                                    <h4>{{details?.createdBy?.name}}</h4>
                                                </a>
                                                <!-- <button
                                                    *ngIf="details?.createdBy?._id && authService?.loggedInUser?._id && authService?.loggedInUser?._id !== details?.createdBy?._id"
                                                    (click)="openDialog(details?.createdBy?._id)" mat-mini-fab color="primary">
                                                    <mat-icon>video_call</mat-icon>
                                                </button> -->
                                                <!-- <p>Signed Up: 08 April 2016</p> -->
                                            </div>
                                            <!-- end /.author -->

                                            <div class="social social--color--filled">
                                                <ul>
                                                    <li>
                                                        <a href="#">
                                                            <span class="fab fa-facebook fa-lg"></span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <span class="fab fa-github fa-lg"></span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <span class="fab fa-linkedin fa-lg"></span>
                                                        </a>
                                                    <li>
                                                        <a href="#">
                                                            <i class="fab fa-stack-overflow"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <!-- end /.social -->

                                            <div class="author-btn">
                                                <a (editPost)="postService?.editPost(details)"
                                                    [routerLink]="['profile', details?.createdBy?.slug ]"
                                                    class="btn btn--sm btn--round">View Profile</a>
                                                <!-- <a href="#" class="btn btn--sm btn--round">Message</a> -->
                                            </div>
                                        </div>
                                        <!-- end /.author-infos -->


                                    </div>
                                    <!-- end /.author-card -->

                                    <aside *ngIf="companyView === 'info'" class="sidebar sidebar--single-product">
                                        <!-- <ng-container
                                            *ngTemplateOutlet="addCompanypostTemplate; context: { details: details, postType: 'company-post'}">
                                        </ng-container> -->
                                        <div class="sidebar-card card--product-infos">
                                            <div class="card-title">
                                                <h4>Information</h4>
                                            </div>

                                            <ul class="infos">
                                                <li *ngIf="details?.createdAt">
                                                    <p class="data-label">Created</p>
                                                    <p class="info">{{getDate(details?.createdAt) | date: 'dd/MM/yyyy'}}
                                                    </p>
                                                </li>
                                                <li *ngIf="details?.updatedAt">
                                                    <p class="data-label">Updated</p>
                                                    <p class="info">{{getDate(details?.updatedAt) | date: 'dd/MM/yyyy'}}
                                                    </p>
                                                </li>
                                                <li>
                                                    <p class="data-label">Cities</p>
                                                    <p class="info" *ngFor="let t of details?.cities">{{t?.name + ','}}
                                                    </p>
                                                </li>
                                                <li>
                                                    <p class="data-label">Address</p>
                                                    <p class="info">{{details?.location?.address}}
                                                    </p>
                                                </li>
                                            </ul>

                                            <!-- <ng-container *ngTemplateOutlet="locationTemplate; context: {location: details?.location}">
                                            </ng-container> -->
                                        </div>
                                    </aside>
                                    <!-- end /.aside -->
                                </div>
                                <div [ngClass]="selectedBlock ? 'col-md-4 col-lg-4' : ''">
                                    <ng-container
                                        *ngTemplateOutlet="addBlockLevelCommentTemplate; context: {details: selectedPost, comments: selectedPostComments | async}">
                                    </ng-container>
                                </div>
                            </div>
                        </mat-tab>
                    <!-- </mat-tab-group> -->

                    <!-- <mat-tab-group mat-align-tabs="center"> -->
                        <!-- Save and Send emails tab -->
                        <mat-tab label="Mailing List">
                            <div class="row">
                                <div class="col-md-12">

                                    <!-- Mainling List -->
                                    <!-- <div class="add-form-area common-box-shadow">
                                        <h2>Mailing List</h2>
                                        <br>
                                        <div class="row">
                                            <div class="col-md-3" style="border: 1px solid; margin-top: 5px;" *ngFor="let m of mailingList; let i = index;">
                                                <h5>{{m?.name}}</h5>
                                            </div>
                                        </div>
                                    </div> -->
                                    <!-- Save Emails -->
                                    <div [formGroup]="saveEmailForm" class="add-form-area common-box-shadow">
                                        <h2>Save Emails</h2>
                                        <mat-form-field class="field-full-width">
                                            <ngx-mat-file-input #removableInput1 formControlName="csvfile"
                                                placeholder="Select csv file with emails"
                                                (change)="uploadFile($event, 'save')"></ngx-mat-file-input>
                                            <button mat-icon-button matSuffix *ngIf="!removableInput1.empty"
                                                (click)="removableInput1.clear($event)">
                                                <mat-icon>clear</mat-icon>
                                            </button>
                                        </mat-form-field>
                                        <mat-form-field appearance="outline" class="field-full-width">
                                            <mat-label>Mailing list Name</mat-label>
                                            <input matInput placeholder="Mailing list Name" type="text"
                                                formControlName="label" autocomplete="false" required>
                                        </mat-form-field>
                                        <!-- <app-autocomplete class="field-full-width" [allowToAdd]="false"
                                            [autoComplete]="saveEmailForm?.get('companies')"
                                            [placeholder]="'Select Company'" [collection]="'companies'" [type]=""
                                            [multiple]="false" matInput>
                                        </app-autocomplete> -->
                                        <button type="button" (click)="saveFile()" [disabled]="saveEmailForm?.invalid"
                                            mat-raised-button color="primary"
                                            style="margin: 12px; height: 35px;">{{ 'Save Mailing List' }}</button>
                                        <br>
                                    </div>

                                    <!-- Send Emails -->
                                    <div [formGroup]="sendEmailForm" class="add-form-area common-box-shadow">
                                        <h2>Send Emails</h2>
                                        <mat-form-field appearance="outline" class="field-full-width">
                                            <mat-label>Enter FROM</mat-label>
                                            <input matInput placeholder="Enter FROM" type="text" formControlName="from"
                                                autocomplete="false" required>
                                        </mat-form-field>

                                        <mat-form-field appearance="outline" class="field-full-width">
                                            <mat-label>Enter Subject</mat-label>
                                            <input matInput placeholder="subject" type="text" formControlName="subject"
                                                autocomplete="false" required>
                                        </mat-form-field>

                                        <!-- <app-autocomplete class="field-full-width" [allowToAdd]="false"
                                            [autoComplete]="sendEmailForm?.get('companies')"
                                            [placeholder]="'Select Company'" [collection]="'companies'" [type]=""
                                            [multiple]="false" matInput>
                                        </app-autocomplete> -->

                                        <app-autocomplete class="field-full-width" [allowToAdd]="false"
                                            [autoComplete]="sendEmailForm?.get('batches')"
                                            [placeholder]="'Select Mailing List'" [collection]="'batches'" [type]=""
                                            [multiple]="false" matInput>
                                        </app-autocomplete>

                                        <p>Create Email template below</p>
                                        <app-editor #descriptionEditor [placeholder]="'Email Template'"
                                            [data]="descriptionFormControl?.value" [id]="'edit-post-editor'">
                                        </app-editor>

                                        <br />

                                        <div fxLayout="row" fxLayoutGap="10px">
                                            <button type="button" (click)="submit()" [disabled]="sendEmailForm?.invalid"
                                                mat-raised-button color="primary">{{ 'Send Email' }}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                    <!-- </mat-tab-group> -->
                    <!-- <mat-tab-group mat-align-tabs="center"> -->
                        <!-- Track emails tab -->
                        <mat-tab label="Campaigns" *ngIf="!hideTabs">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div [formGroup]="trackEmailForm" class="add-form-area common-box-shadow">
                                            <h2>Campaigns</h2>
                                            
                                            <div class="row">
                                                <div class="col-md-4" *ngFor="let c of campaignData;let i=index">
                                                    <button type="button" (click)="getCampaignData(c?.batchId)"
                                                    mat-raised-button color="primary"
                                                    style="width: 100%; height: auto; margin-top: 5px; white-space: normal; white-space: normal;
                                                    word-wrap: break-word;">{{c?.name}}</button>
                                                </div>

                                            </div>
                                            <!-- <app-autocomplete class="field-full-width" [allowToAdd]="false"
                                                [autoComplete]="trackEmailForm?.get('companies')"
                                                [placeholder]="'Select Company'" [collection]="'companies'" [type]=""
                                                [multiple]="false" matInput>
                                            </app-autocomplete>
    
                                            <app-autocomplete class="field-full-width" [allowToAdd]="false"
                                                [autoComplete]="trackEmailForm?.get('batches')"
                                                [placeholder]="'Select Mailing List'" [collection]="'batches'" [type]=""
                                                [multiple]="false" matInput>
                                            </app-autocomplete>
                                            <button type="button" (click)="getCampaignData()"
                                                [disabled]="trackEmailForm?.invalid" mat-raised-button color="primary"
                                                style="margin: 12px; height: 35px;">{{ 'Get Email Data' }}</button> -->
                                        </div>
                                    </div>

                                    <!-- <ng-container *ngIf="campaignsList" *ngTemplateOutlet="campaignsTemplate">
                                    </ng-container> -->
                                    <ng-template #campaignsTemplate [ngIf]="displayCampaignList">
                                        <mat-accordion class="example-headers-align">
                                            <div *ngFor="let c of campaignsList; let i = index;">
                                                <!-- <mat-expansion-panel-header>
                                                    <mat-panel-title>
                                                        {{c?.name}}
                                                    </mat-panel-title>
                                                    <mat-panel-description>
                                                        {{ '(' + c?.count + ')'}} <mat-icon>email</mat-icon>
                                                    </mat-panel-description>
                                                </mat-expansion-panel-header> -->
                                                <div><strong> Campaign: </strong> {{c?.name}}</div>
                                                <div><strong>FROM: </strong>{{c?.from}}</div>
                                                <div><strong>SUBJECT: </strong>{{c?.subject}}</div>
                                                <div><strong>HTML Template:</strong></div>
                                                <div style="border: solid 1px black;" [innerHTML]="c?.descriptionHTML">
                                                </div>

                                                <mat-list>
                                                    <mat-list-item *ngFor="let e of c?.emailData; let j=index;">
                                                        <div mat-list-icon style="padding-right: 12px;">
                                                            <span
                                                                style="padding-right: 5px; vertical-align: super; font-size: 16px;">{{(j + 1 + '.')}}</span>
                                                            <mat-icon style="display: inline;">email</mat-icon>
                                                        </div>

                                                        <div mat-line style="font-weight: 500;">{{e?.to[0]}}</div>
                                                        <div mat-line>Subject: {{e?.subject}} </div>
                                                        <div mat-line>Sent: {{e?.createdAt | date: 'medium'}} </div>
                                                        <div mat-line *ngIf="e?.tracking?.open?.timestamp">Read:
                                                            {{e?.tracking?.open?.timestamp | date: 'medium'}} </div>

                                                        <!-- <i *ngIf="e?.isReplied" matTooltip={{e?.repliedHTML}} matTooltipPosition="left" class="fas fa-reply"></i> -->
                                                        <i *ngIf="e?.isReplied"
                                                            (click)="openDialog(e?.repliedHTML, e?.to[0])"
                                                            class="fas fa-reply"></i>
                                                        <i *ngIf="e?.tracking?.length > 0 && !e?.isReplied"
                                                            class="fas fa-check-double"></i>
                                                        <i *ngIf="!e?.tracking || e?.tracking.length === 0"
                                                            class="fal fa-check"></i>
                                                    </mat-list-item>
                                                </mat-list>

                                            </div>
                                            <app-paginator [length]="campaignsList[0]?.count"
                                                (fetchData)="paginator = $event; fetchEmailsOfCampaign()">
                                            </app-paginator>
                                        </mat-accordion>
                                    </ng-template>
                                </div>
                            </div>
                        </mat-tab>
                        
                        <div *ngIf="companyView === 'contact'">
                            <ng-container *ngTemplateOutlet="contactTemplate; context: details">
                            </ng-container>
                        </div>
                    </mat-tab-group>


                </div>
                <!-- end /.col-md-8 -->

            </div>
        </div>
        <!-- end /.row -->
        <!-- end /.container -->
    </section>
    <!--===========================================
            END SINGLE PRODUCT DESCRIPTION AREA
        ===============================================-->

</ng-container>


<!-- Implementation of Q&A Start Here -->
<ng-template #questionAnswersTemplate let-qa="details">
    <!-- Add Question Section -->
    <div class="comment-form-area" style="padding: 0;">
        <div class="media comment-form">
            <div class="media-left">
                <a href="#">
                    <img class="author_avatar_comment"
                        [src]="authService?.loggedInUser?.avatar ? ((s3FilesBucketURL + authService?.loggedInUser?.avatar) | safe: 'resourceUrl') : anonymousAvatar"
                        alt="Commentator Avatar">
                </a>
            </div>
            <div class="media-body">
                <div [formGroup]="questionOrAnswerForm" class="comment-reply-form">
                    <app-editor #questionEditor [id]="'question-editor'"
                        [editorStyle]="{background: 'white', 'padding': '20px 35px', 'min-height': '130px', 'border-radius': '6px'}"
                        [placeholder]="'Ask a Question'">
                    </app-editor>

                    <button style="float: right;" type="button" class="btn btn--sm btn--round"
                        (click)="addQuestionOrAnswer(true, null, questionEditor)">Ask a Question</button>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane product-tab" *ngIf="questionsList?.length" id="product-faq"
        style="background: white; margin-top: 20px;">
        <div class="tab-content-wrapper">
            <h4 style="padding-bottom: 15px;">Q & A</h4>

            <mat-accordion>
                <mat-expansion-panel *ngFor="let q of questionsList">
                    <mat-expansion-panel-header>
                        <div style="padding: 0; width: 100%;" fxLayout="row" [fxLayoutAlign]="'center center'">
                            <app-editor fxFlex="92" #editQuestionEditor [readOnly]="q['edit'] ? false : true"
                                [data]="q?.text" [id]="q['edit']+ q?._id">
                            </app-editor>
                            <div fxFlex="8">
                                <div fxLayout="column" [fxLayoutAlign]="'center center'" style="padding-right: 5px;">
                                    <a fxFlex="50" style="padding: 0 8px; text-decoration: none;"
                                        *ngIf="q?.createdBy?._id === authService?.loggedInUser?._id" mat-button
                                        (click)="q['edit'] = true">
                                        <i style="font-size: 1.2rem !important;" class="fad fa-edit fa-lg"></i>
                                        <!-- <span>{{' ('}}
                                            {{ q?.answers ? q?.answers?.length : 0 }}
                                            {{')'}}</span> -->
                                    </a>
                                    <a fxFlex="50" style="padding: 0 8px; text-decoration: none;" *ngIf="!q?.__show"
                                        mat-button (click)="deleteQuestionOrAnswer(q)">
                                        <i style="font-size: 1.2rem !important;" class="fad fa-minus-octagon fa-lg"></i>
                                    </a>
                                    <!-- <a fxFlex="33" style="padding: 0 8px; text-decoration: none;"
                                        *ngIf="!q?.show" mat-button (click)="q['show'] = true">
                                        <i style="font-size: 1.2rem !important;" class="fad fa-check-circle fa-lg"></i>
                                    </a>
                                    <a fxFlex="33" style="padding: 0 8px; text-decoration: none;" *ngIf="q?.show" mat-button
                                        (click)="q['show'] = false">
                                        <i style="font-size: 1.2rem !important;" class="fad fa-chevron-circle-up fa-lg"></i>
                                    </a> -->
                                </div>
                            </div>
                        </div>
                    </mat-expansion-panel-header>
                    <br />
                    <button *ngIf="q?.edit" type="button" style="float: right;" class="btn btn--sm btn--round"
                        (click)="updateQuestionOrAnswer(q, false, editQuestionEditor)">Update
                        Question</button>
                    <br />
                    <div class="panel-body">

                        <div class="thread">
                            <ul class="media-list thread-list" style="list-style: none;">
                                <!-- List of Answers -->
                                <div *ngFor="let a of q?.answers">
                                    <li class="single-thread">
                                        <div class="media">
                                            <div class="media-left">

                                                <a [routerLink]="['profile', a?.createdBy?.slug ]">
                                                    <img class="author_avatar_comment"
                                                        [src]="a?.createdBy?.avatar ? ((s3FilesBucketURL + a.createdBy.avatar) | safe: 'resourceUrl') : anonymousAvatar"
                                                        alt="Commentator Avatar">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <div>
                                                    <div class="media-heading">
                                                        <a [routerLink]="['profile', a?.createdBy?.slug ]">
                                                            <h4>{{a?.createdBy?.name }}</h4>
                                                        </a>
                                                        <span>{{fromNow(a?.createdAt)}}</span>
                                                    </div>

                                                    <!-- Answe actions button -->
                                                    <a style="float: right;"
                                                        *ngIf="a?.createdBy?._id === authService?.loggedInUser?._id"
                                                        mat-button (click)="deleteQuestionOrAnswer(a, q)">
                                                        <i style="font-size: 2rem !important;"
                                                            class="fad fa-comment-minus fa-lg"></i>
                                                    </a>

                                                    <a style="float: right;"
                                                        *ngIf="a?.createdBy?._id === authService?.loggedInUser?._id"
                                                        mat-button (click)="a['edit']=true">
                                                        <i style="font-size: 2rem !important;"
                                                            class="fad fa-comment-edit fa-lg"></i>
                                                    </a>

                                                </div>

                                                <!-- View / Update Answer Content -->
                                                <app-editor [readOnly]="a['edit'] ? false : true" #editAnswerEditor
                                                    [data]="a?.text" [id]="a?._id">
                                                </app-editor>
                                                <br />
                                                <button *ngIf="a['edit']" type="button" style="float: right;"
                                                    class="btn btn--sm btn--round"
                                                    (click)="updateQuestionOrAnswer(a, true, editAnswerEditor)">Update
                                                    Answer</button>
                                            </div>

                                        </div>
                                    </li>
                                </div>
                            </ul>
                        </div>

                        <!-- Add Answer Section -->
                        <div class="comment-form-area">
                            <div class="media comment-form">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="author_avatar_comment"
                                            [src]="authService?.loggedInUser?.avatar ? ((s3FilesBucketURL + authService?.loggedInUser?.avatar) | safe: 'resourceUrl') : anonymousAvatar"
                                            alt="Commentator Avatar">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <div class="comment-reply-form">
                                        <app-editor [id]="'answer' + q?._id" [placeholder]="'Answer'" #answerEditor>
                                        </app-editor>

                                        <button style="float: right;" type="button" class="btn btn--sm btn--round"
                                            (click)="addQuestionOrAnswer(false, q, answerEditor)">Answer</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </mat-expansion-panel>
            </mat-accordion>


        </div>
    </div>
</ng-template>

<ng-template #campaignsTemplate let-cDetails="details">
    <mat-accordion class="example-headers-align">
        <mat-expansion-panel #ep *ngFor="let c of campaignsList; let i = index;">
            <mat-expansion-panel-header (click)="fetchEmailsConnectedWithCampaign(c._id, i)">
                <mat-panel-title>
                    {{c?.name}}
                </mat-panel-title>
                <mat-panel-description>
                    <!-- Type your name and age -->
                    {{ '(' + c?.count + ')'}} <mat-icon>email</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>

            <div style="border: solid 1px black;" [innerHTML]="c?.descriptionHTML"></div>

            <mat-list>
                <mat-list-item *ngFor="let e of c?.emailData; let j=index;">
                    <div mat-list-icon style="padding-right: 12px;">
                        <span
                            style="padding-right: 5px; vertical-align: super; font-size: 16px;">{{(j + 1 + '.')}}</span>
                        <mat-icon style="display: inline;">email</mat-icon>
                    </div>

                    <div mat-line style="font-weight: 500;">{{e?.to[0]}}</div>
                    <div mat-line>Subject: {{e?.subject}} </div>
                    <div mat-line>Sent: {{e?.createdAt | date: 'medium'}} </div>
                    <div mat-line *ngIf="e?.tracking?.open?.timestamp">Read:
                        {{e?.tracking?.open?.timestamp | date: 'medium'}} </div>
                    <i *ngIf="e?.tracking" class="fas fa-check-double"></i>
                    <i *ngIf="!e?.tracking" class="fal fa-check"></i>
                    <!-- {{parser?.setUA(e?.tracking?.open?.userAgent)}}{{parser.getResult() | json}} -->
                </mat-list-item>
            </mat-list>

            {{paginator?.pageIndex}}
            {{ep?.expanded}}
            <app-paginator [length]="c?.count"
                (fetchData)="paginator = $event; ep?.expanded ? fetchEmailsConnectedWithCampaign(c._id, i) : null">
            </app-paginator>
        </mat-expansion-panel>
        <!-- <div *ngFor="let c of campaignsList">
        </div> -->
    </mat-accordion>
</ng-template>
<!-- Contact Template -->
<ng-template #contactTemplate let-contacts="details">
    <div style="background: white;" fxLayout="column" fxLayoutGap="10px">
        <div>
            <button type="button" mat-raised-button color="primary" (click)="moveToSaveEmailTab()"
                style="width: auto; height: auto;margin: 10px;">{{ 'Add Mailing List' }}</button>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Name
                        <span *ngIf="nameAsc">
                            <i class="fas fa-sort-up" (click)="changeOrder('name','asc','contact')"></i>
                        </span>
                        <span *ngIf="!nameAsc">
                            <i class="fas fa-sort-down" (click)="changeOrder('name','desc','contact')"></i>
                        </span>
                    </th>
                    <th>First Name
                        <span *ngIf="firstNameAsc">
                            <i class="fas fa-sort-up" (click)="changeOrder('firstName','asc','contact')"></i>
                        </span>
                        <span *ngIf="!firstNameAsc">
                            <i class="fas fa-sort-down" (click)="changeOrder('firstName','desc','contact')"></i>
                        </span>
                    </th>
                    <th>Last Name
                        <span *ngIf="lastNameAsc">
                            <i class="fas fa-sort-up" (click)="changeOrder('lastName','asc','contact')"></i>
                        </span>
                        <span *ngIf="!lastNameAsc">
                            <i class="fas fa-sort-down" (click)="changeOrder('lastName','desc','contact')"></i>
                        </span>
                    </th>
                    <th>Email
                        <span *ngIf="emailAsc">
                            <i class="fas fa-sort-up" (click)="changeOrder('email','asc','contact')"></i>
                        </span>
                        <span *ngIf="!emailAsc">
                            <i class="fas fa-sort-down" (click)="changeOrder('email','desc','contact')"></i>
                        </span>
                    </th>
                    <th>Company Name
                        <span *ngIf="companyName">
                            <i class="fas fa-sort-up" (click)="changeOrder('companyName','asc','contact')"></i>
                        </span>
                        <span *ngIf="!companyName">
                            <i class="fas fa-sort-down" (click)="changeOrder('companyName','desc','contact')"></i>
                        </span>
                    </th>
                    <th>Status
                        <span *ngIf="statusAsc">
                            <i class="fas fa-sort-up" (click)="changeOrder('status','asc','contact')"></i>
                        </span>
                        <span *ngIf="!statusAsc">
                            <i class="fas fa-sort-down" (click)="changeOrder('status','desc','contact')"></i>
                        </span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let e of contactList;let i=index">
                    <td>{{i+1}}</td>
                    <td>{{e?.name}}</td>
                    <td>{{e?.firstName}}</td>
                    <td>{{e?.lastName}}</td>
                    <td>{{e?.email[0]?.email}}</td>
                    <td>{{e?.companyName}}</td>
                    <td>{{e?.email[0]?.status}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <app-paginator [length]="totalContactCount"
        (fetchData)="paginator = $event; fetchContactsRelatedtoMailingList()">
    </app-paginator>
</ng-template>

<ng-template #addBlockLevelCommentTemplate let-cDetails="details" let-comments="comments">
    <aside class="sidebar">
        <app-comment-side-nav *ngIf="selectedBlock"
            (closeCommentSideBar)="selectedBlock['__show'] = null; selectedBlock = null" [selectedBlock]="selectedBlock"
            [selectedPost]="cDetails" [comments]="comments"></app-comment-side-nav>
    </aside>
</ng-template>