@import '../../../../assets/css/theme';


@media (min-width: 1200px) {
  .container {
    max-width: 1335px !important;
  }
}

 aside.sidebar {
  width: max-content;
  position: sticky;
  max-height: 85vh;
  top: 55px;
  // overflow: auto;

  // &::-webkit-scrollbar-thumb {
  //   background: rgba(0, 0, 0, .26);
  // }

  // &::-webkit-scrollbar {
  //   height: 4px;
  //   width: 4px;
  // }
}

// Company Avatar
.avatar-circle {
  width: 130px;
  height: 130px;
  background-color: rgba(0,0,0,.12);
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border: solid 1px;
  border-color: rgba(0,0,0,.14);
}

// Company Avatar Initials
.initials {
  position: relative;
  top: 40px; /* 25% of parent */
  font-size: 50px; /* 50% of parent */
  line-height: 50px; /* 50% of parent */
  color: #fff;
  // font-family: "Courier New", monospace;
  font-weight: bold;
}

.picture-container {
  margin: 0 auto;
  overflow: hidden;
  height: 300px;
  position: relative;
  // width: 80%;
}

.picture-container:hover .controls {
  top: 0;
}

.picture-container img {
  min-height: 100%;
  min-width: 100%;
}

.controls {
  background: rgba(0, 0, 0, 0.2);
  top: -50px;
  height: 38px;
  left: 0;
  position: absolute;
  transition: top 0.15s linear;
  width: 100%;
}

.picture-container img {
  position: absolute;
}
.controls a {
  text-decoration: none;
  color: white;
  // padding: 15px;
  display: inline-block;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload-wrap {
  // margin-top: 20px;
  height: 100%;
  border: 2px dashed #00aeef;
  position: relative;
}

.image-dropping,
.image-upload-wrap:hover {
  background-color: #00aeef52;
  border: 4px dashed #ffffff;
}

.drag-text {
  text-align: center;
  height: 100%;
}

.drag-text h3 {
  font-weight: 100;
  text-transform: uppercase;
  color: #00aeef;
  padding: 60px 0;
}


// Jobs list grid css
.item-grid {
  grid-column-start: 1;
  grid-column-end: 3;
}


.item-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
  justify-items: center;
  grid-gap: 1rem 3rem;
}
@media (min-width: 1101px) {
  .item-grid {
    grid-template-columns: repeat(auto-fill, minmax(90%, 1fr));
  }
}

.item-grid,
.item-grid,
.item-grid {
  grid-gap: 6rem 3rem;
  margin-bottom: 5rem;
}
.item-grid .full-width {
  grid-column: 1 / 4;
}
.item-grid-large {
  display: grid;
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
  justify-items: center;
  grid-gap: 1rem 3rem;
}
@media (max-width: 1280px) {
  .item-grid-large {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
  .item-grid-large > :nth-child(6n + 1),
  .item-grid-large > :nth-child(6n + 5) {
    grid-row: span 2;
  }
  .item-grid-large > :nth-child(6n + 1) .item-content,
  .item-grid-large > :nth-child(6n + 5) .item-content {
    display: none;
  }
  .item-grid-large > :nth-child(6n + 1) .item-content-long,
  .item-grid-large > :nth-child(6n + 5) .item-content-long {
    display: block;
  }
}
@media (min-width: 1281px) {
  .item-grid-large {
    grid-template-columns: repeat(1, 1fr);
  }
  .item-grid-large > :nth-child(12n + 1),
  .item-grid-large > :nth-child(12n + 5),
  .item-grid-large > :nth-child(12n + 9) {
    grid-row: span 2;
  }
  .item-grid-large > :nth-child(12n + 1) .item-content,
  .item-grid-large > :nth-child(12n + 5) .item-content,
  .item-grid-large > :nth-child(12n + 9) .item-content {
    display: none;
  }
  .item-grid-large > :nth-child(12n + 1) .item-content-long,
  .item-grid-large > :nth-child(12n + 5) .item-content-long,
  .item-grid-large > :nth-child(12n + 9) .item-content-long {
    display: block;
  }
}


// Social Media Icons

.social i:hover {
  color: #00aeef;
}

// .social i:last-child {
//   display: none;
// }

// .social:hover {
//   i:last-child {
//     display: inline;
//     margin-left: 12px;
//   }
// }



table, th, td {
  border: 1px solid black !important;
}