.comment-ui {
    max-height: 85vh;
    overflow: auto;
    &::-webkit-scrollbar-thumb {
      background: rgba(0, 0, 0, .26);
    }
  
    &::-webkit-scrollbar {
      height: 4px;
      width: 4px;
    }
  }