<p style="text-align: center;">About Us </p>
<section class="single-product-desc">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <p>
                    I offer a variety of products that can help you meet a number of insurance and financial needs,
                    including, but not limited to college funding, retirement, managing costs for extended periods of
                    care and lifetime income strategies, Property, Casualty and Health insurance, Employee benefits,
                    Business insurance solutions like Buy and Sell agreement and key employee coverage. Please contact
                    me to help you fully analyze your needs and recommend appropriate solutions.
                </p>

                <p>
                    I am an Agent licensed to sell insurance and may be licensed with various other independent
                    unaffiliated insurance companies.
                </p>

                <p>
                    Any testimonial on this site is based on an individual’s experience and may not be representative of
                    the experience of other customers. These testimonials are no guarantee of future performance or
                    success.
                </p>

                
                    <pre>
                        Joseph Tishbi
                        9461 Charleville Blvd. #502
                        Beverly Hills, CA 90212
                        (310)569-5515
                    </pre>
                

                <p>

                    I don't provide tax, legal, or accounting advice. Please consult your own tax, legal, or accounting
                    professionals before making any decisions.

                    I am not licensed in all jurisdictions.

                    My California Insurance license number is #0M67664
                </p>

            </div>
        </div>
    </div>
</section>
