<p style="text-align: center;">About Us </p>
<section class="single-product-desc">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <p>
                        At Tishbi Insurance we offer a variety of products that can help you meet a number of insurance and financial needs, including, but not limited to:
                </p>
                <ul>
                    <li>
                            Protecting the future of your family and loved ones
                    </li>
                    <li>
                            Retirement planning and College funding
                    </li>
                    <li>
                            Managing costs for extended periods of care and lifetime income strategies
                    </li>
                    <li>
                            Property and Casualty insurance
                    </li>
                    <li>
                            Auto and Health insurance
                    </li>
                    <li>
                            Business insurance solutions like Buy-Sell Agreement between co-owners
                    </li>
                    <li>
                            Employee Benefits
                    </li>
                    <li>
                            Key Person(Employee) Insurance Coverage
                    </li>
                </ul>
                <p>
                    Please contact us to help you fully analyze your needs and recommend appropriate solutions. 
                    At Tishbi Insurance we specialize in helping families and businesses with their insurance and investment planning, and to insure and protect everything they own.
                </p>
                <ol>
                    <li>We can connect you to many highly rated companies in the world including MassMutual, Nationwide, Liberty Mutual, New York Life, John Hancock, Travelers, Lincoln, Penn Mutual, AIG, etc.</li>
                    <li>We are committed to having a fiduciary relationship with each of our clients, while providing them with security and peace of mind. We guide them on how to best organize their future and achieve their goals, in order to maximize their returns and minimize their taxes and fees.</li>
                    <li>I, Joseph Tishbi, have decades of experience trading in the financial markets and was a Financial Services Professional with the New York Life Insurance Company.</li>
                </ol>
                           
                <h3>Preferences and Target Markets</h3>
                    
                <ol>
                    <li>Helping young families create financial security for their children through life insurance products and college planning.</li>
                    <li>Working with professionals and pre-retirees in Retirement Planning, Estate Planning, Long Term Care, Property and Liability Insurance, etc.</li> 
                    <li>Assisting business owners and their employees, offering experience and employee benefits.></li>
                    <li>Anyone going through a life event, such as marriage, divorce, retirement, widowed, new job or promotion, having a baby, career transition, winning the lottery, lawsuit or settlement, inheritance, etc.</li>
                </ol>
                      
                <p>
                    We offer a complimentary 30-minute presentation with new clients. This can be a virtual or in person meeting. Either way, we would love to get acquainted with you or get an introduction from you. Please let us know how we can be of assistance to you or others you may know. We really enjoy networking and being a helpful resource to others. Also, we would love to know the types of referrals you'd like to receive to promote your business.
                    I am an Agent licensed to sell insurance. I don't provide tax, legal, or accounting advice. Please consult your own tax, legal, or accounting professionals before making any decisions. I would be happy to give you referrals at your request. I am not licensed in all jurisdictions. My California Insurance license number is #0M67664.
                    Any testimonial on this site is based on an individual’s experience and may not be representative of the experience of other customers. These testimonials are no guarantee of future performance or success.                
                </p>
                <div class="address" style="
                font-size: 18px;
                text-align: center;
                margin-top: 10px;">
                <strong>Joseph Tishbi, MBA</strong>
                <p>Life&Health, Property&Casualty, Series 7, 63 licenses</p>
                <p>jtishbi@outlook.com</p>
                <p>(310)569-5515</p>
                <p>9461 Charleville Blvd. #502</p>
                <p>Beverly Hills, CA 90212 </p>
                </div>
            </div>
        </div>
    </div>
</section>