<!-- Header Section Starts HERE -->

<!-- <section class="hero-area bgimage"> -->
        <div class="container">
                <!-- <h1
                    style="font-size: 50px; margin: 150px 40px 20px 13px; max-width: 100%; font-weight: 400; text-align: left;">
                    Innovation made <br/>Accessible & Affordable for <br/>Everyone
                </h1> -->
                <div style=" width: 90%; align-content: center; align-self: center; " class="col-md-12">
                        <img src="./../assets/images/connect.png">
                    </div>
                <div class="row" style="padding-top: 150px;">
                    <div class="col-md-12">
                        <h1
                            style="font-size: 60px; max-width: 100%; font-weight: 400; text-align: left;">
                           Our mission is to build thriving local communities by connecting people and businesses in local communities around business goals and career goals.
                        </h1>
                        
                    </div>
                    
                </div>
                <div class="row" style="margin-top: 100px;">
                <div class="col-md-12">
                    <h1
                        style="font-size: 70px; max-width: 100%; font-weight: 400; text-align: center;">
                        Our Story
                    </h1>
                    
                </div>
                </div>
                <div class="row" style="padding-top: 10px;">
                    
                    <div style="text-align: center; align-self: center; margin-top: 100px;" class="col-md-6">
                        <img src="./../assets/images/sumi_pic_about_page.jpeg">
                        <h6 style="font-weight: 600; margin: 5px; font-size: 2.4em;">Sumithra Jonnalagadda</h6><br/>
                    </div>
                    <div class="col-md-6">
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                        <h1
                            style="font-size: 50px; max-width: 100%; font-weight: 400; text-align: left;">
                            MOTTO: Give Peace & Love<br />
                        </h1>
                        <p style="font-weight: 70; margin: 5px;">
                                <a routerLinkActive="mat-primary" [routerLink]="['profile', 'sumi-devi-5d3885741af2fd1db7fa5e84']">My Career & Business Goals</a></p>
                      
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-12" style="align-self: start;">
                        
                       
                        <h3 style="font-weight: 200; margin: 5px; font-size: 30px;">
                            As a child growing up in rural India I was fascinated by stories
                             of mathematicians and scientists from far off lands that solved problems of humanities. That fascination paved the path 
                             to do my engineering at one of the prestigious technical institute Indian Institute of Technology, Madras. Technology 
                             also became a way to help my mother and my siblings back in India. From there on I became curious about the business world
                              and went on to do my MBA at premier Indian Institute of Management, Bangalore. Since then my interest has always been 
                              applying my experience in technology and business to solve human problems. That interest brought me to the USA to work at 
                              Amgen. In the past 20 years, I honed my business skills working at both large corporations and also at tech startups. 
                              I found my purpose when I started a meal planning and delivery business the same year my father passed away from 
                              diabetes and Steve Jobs passed away from Cancer. Building my own small business gave me first-hand experience of the 
                              struggles of local businesses. Small businesses are passionate and work hard to solve problems in our local communities 
                              but they do not have access to the technical solutions that can help scale their businesses. Equipped with that 
                              understanding I started codemarket to help local businesses scale their businesses using technical solutions that large 
                              corporations use.
                        </h3>

                    </div>
                    <br/>
                    
                    <!-- <div class="col-md-2" style="text-align: center; margin-bottom: 30px; padding: 0;">
                        <img style="width: 100%" src="./../assets/images/fly720x550.png">
                    </div> -->
            
                    <div class="col-md-12" style="align-self: center;">
                        <h6 style="font-weight: 600; margin: 5px; font-size: 2.4em; align-content: center">William Gulliver</h6><br/>
                        <img style="height: 50%; width: 50%; align-content: center" [src]="'../../assets/images/bill_pic_about_page.jpeg'" alt="Product Image"><br/>
                        <h3 style="font-weight: 200; margin: 5px; font-size: 30px; align-content: center">
                            My work ethic is shaped by my time in US Army when I was 17 years old. Then I went on to train at IBM on setting up servers.
                            I worked at big retail stores like Longs Drug Store and Nordstrom. From there on I got involved with functional medicine doctor in San Diego
                        that introduced me to wellness and worked in the wellness industry for 3 years. During this time I developed passion for small businesses which lead me to
                    work at codemarket combining my passion for technology and small businesses.
     </h3><br/><br/>
                            <p style="font-weight: 70; margin: 5px;"><a
                                [routerLink]="['/', 'company', 'add-company']">SET YOUR BUSINESS GOALS</a></p>
                            <!-- <button mat-flat-button color="primary" (click)="authService.login()">SET YOUR BUSINESS GOALS</button> -->
                    </div>
                </div>
                <!-- <table><tr>
                        <td  height="550px"><img class="header-image" src="../../assets/images/fly720x550.png"
                            alt="background-image"></td><td style="font-size: 67px; margin: 20px 40px 20px 40px; max-width: 550px; font-weight: 700;">FLY IN YOUR TECH CAREER</td>
                        </tr></table> -->
            </div>
           
           
                            
            <!--</section>-->
            
            <swal #successInvitationAccept title="Congratulations!" type="success" [showConfirmButton]="false">
                <div *swalPartial class="alert alert-info">
                    <h4>You have accepted Invitation Successfully</h4>
                    <p></p>
                    <a class="btn btn--sm btn--round" [routerLink]="['/', 'dashboard', 'post-list']"
                        [queryParams]="{type: 'event', all: true}">Events</a>
                </div>
            </swal>