<!-- <app-breadcumb [title]="breadcumb?.title" [path]="breadcumb?.path"></app-breadcumb> -->
<div class="container">
    <div class="row">
        <div style="padding: 0" class="col-md-12">
            <table *ngIf="!all" mat-table [dataSource]="dataSource" matSort multiTemplateDataRows
                class="mat-elevation-z8">
                <!-- Position Column -->
                <ng-container matColumnDef="number">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
                    <td mat-cell *matCellDef="let product; let i = dataIndex;">{{i + 1}} </td>
                    <!-- <mat-cell *matCellDef="let product; let i = dataIndex;">{{i + 1}}</mat-cell> -->
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                    <td mat-cell *matCellDef="let product"> {{product.name}} </td>
                </ng-container>

                <!-- Price Column -->
                <ng-container matColumnDef="price">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
                    <td mat-cell *matCellDef="let product"> {{product.price | currency}} </td>
                </ng-container>

                <!-- Action Column -->
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                    <td mat-cell *matCellDef="let product" (click)="$event.stopPropagation()">
                        <button mat-mini-fab color="primary" [routerLink]="['/', 'post', 'edit-post', product._id]">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-mini-fab color="warn" (click)="deleteProduct(product._id)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>


                <!-- Status Column -->
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                    <td mat-cell *matCellDef="let product"> {{product.status}} </td>
                </ng-container>

                <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
                <ng-container matColumnDef="expandedDetail">
                    <td mat-cell *matCellDef="let product; let i = index;" [attr.colspan]="displayedColumns?.length">
                        <div class="example-product-detail"
                            [@detailExpand]="product == expandedProduct ? 'expanded' : 'collapsed'">
                            <div class="example-product-description">
                                <div class="author-card sidebar-card ">
                                    <div class="card-title">
                                        <h4>Purchased By: {{ purchasedBy?.length }}</h4>
                                        <br />

                                        <ng-container class="row" *ngFor="let pu of purchasedBy">
                                            <div class="col-md-12" style="margin-bottom: 10px;">
                                                <div class="author_avatar_comment" style="vertical-align: middle;">
                                                    <img [src]="pu?.avatar ? ((s3FilesBucketURL + pu.avatar) | safe: 'resourceUrl') : anonymousAvatar"
                                                        alt="Presenting the broken author avatar :D">
                                                </div>
                                                <div class="autor__info">
                                                    <p class="name">
                                                        {{pu?.name}}
                                                    </p>
                                                    <p class="ammount">{{fromNow(pu?.createdAt)}}</p>
                                                </div>
                                            </div>

                                        </ng-container>
                                    </div>
                                </div>
                                <!-- <app-editor *ngIf="product == expandedProduct" [readOnly]="true" [data]="product?.description"
                                            [id]="product?._id"></app-editor> -->
                                <ng-template #noDescription>
                                    <span>No Description</span>
                                </ng-template>
                                <!-- {{product.description}} -->
                            </div>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let product; columns: displayedColumns; let i = dataIndex;"
                    class="example-product-row" [class.example-expanded-row]="expandedProduct === product"
                    (click)="getListOfUsersWhoPurchased(product)">
                </tr>
                <tr mat-row *matRowDef="let row; columns: ['expandedDetail']; let i = dataIndex;"
                    class="example-detail-row"></tr>
            </table>
            <!-- 
            <app-datatable *ngIf="all" (redirect)="postService.redirectToPostDetails($event)"
                (getAllPosts)="getAllPosts($event)" [length]="length" [pagination]="true" [dataSource]="dataSource"
                [displayedColumns]="displayedColumns">
            </app-datatable> -->

        </div>
    </div>
</div>

<div *ngIf="false" class="preload home3">
    <!--================================
    START FILTER AREA
=================================-->

</div>

<section class="single-product-desc" *ngIf="all">
    <div class="container">
        <div class="row">

            <div class="col-lg-3">

                <!-- Side Nav Bar -->


                <!-- <div class="docs-component-viewer-nav common-box-shadow" style="margin-bottom: 20px; margin-top: 10px;">
                    <div class="docs-component-viewer-nav-content">
                        <div *ngFor="let category of filtersMainCategory; let last = last;">
                            <button cdkAccordionItem #panel="cdkAccordionItem"
                                [expanded]="category?.types ? isExpanded(category) : false"
                                (click)="selectMainCategory(category, panel)" class="category docs-nav-content-btn"
                                [ngClass]="selectedPostType === category.view ? 'docs-component-viewer-sidenav-item-selected' : ''"
                                [attr.aria-controls]="'panel-' + category.view" [attr.aria-expanded]="panel.expanded">
                                {{category.title}}

                                <mat-icon *ngIf="category?.types">
                                    {{panel.expanded ? 'keyboard_arrow_up' :  'keyboard_arrow_down'}}
                                </mat-icon>
                            </button>
                            <mat-nav-list dense [@bodyExpansion]="panel.expanded ? 'expanded' : 'collapsed'"
                                id="panel-{{category.view}}" [attr.aria-label]="category">
                                <a mat-list-item *ngFor="let component of category?.types"
                                    (click)="selectedPostType = component; getAllPosts(component)" [routerLink]="[]"
                                    [queryParams]="{view: component}"
                                    [ngClass]="component === selectedPostType ? 'docs-component-viewer-sidenav-item-selected': ''"
                                    [attr.aria-current]="selectedPostType === component ? 'page': 'false'">
                                    {{component}}
                                </a>
                            </mat-nav-list>
                            <hr *ngIf="!last" />
                        </div>

                        <div *ngFor="let p of postTypesArray; let last = last;">
                            <button cdkAccordionItem [routerLink]="[]" [queryParams]="{ view: p.name }"
                                [queryParamsHandling]="'merge'"
                                (click)="selectedPostType = p.name; getAllPosts(p.name);"
                                class="category docs-nav-content-btn"
                                [ngClass]="selectedPostType === p.name ? 'docs-component-viewer-sidenav-item-selected' : ''">
                                {{p.label}}
                            </button>
                            <hr *ngIf="!last" />
                        </div>
                    </div>
                </div> -->

            </div>

            <div class="col-lg-9">

                <div class="comment-form-area" style="padding: 0;">
                    <div class="media comment-form">
                        <div class="media-left">
                            <a [routerLink]="['/', 'dashboard', 'profile', authService?.loggedInUser?._id ]">
                                <img class="author_avatar_comment" style="height: 45px; width:45px;"
                                    [src]="authService?.loggedInUser?.avatar ? ((s3FilesBucketURL + authService?.loggedInUser?.avatar) | safe: 'resourceUrl') : anonymousAvatar"
                                    alt="Commentator Avatar">
                            </a>
                        </div>
                        <div class="media-body">
                            <!-- Created AddPostMenuComponent Instance, and kep it hidden becuase here we want to show the box -->
                            <app-add-post-menu #addPostMenu style="position: absolute; visibility: hidden;">
                            </app-add-post-menu>

                            <div (click)="addPostMenu.openMenu();" class="comment-reply-form">
                                <!-- Created Dummy Textbox  -->
                                <textarea placeholder="Add Post!"
                                    style="background: white; height: 100px; padding: 20px 35px; width: 100%; min-height: 130px; border-radius: 6px;">
                                </textarea>

                                <!-- When Clickd on textbox, access the AddPostMenuComponent instance we have created above and call the 
                                    openMenu() method -->
                                <button style="float: right; margin-top: 10px; margin-bottom: 20px;" type="button"
                                    class="btn btn--sm btn--round" (click)="addPostMenu.openMenu();">Post</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <app-post-type-nav [selectedPostType]="selectedPostType"
                    (postTypeClick)="selectedPostType = $event?.name; getAllPosts($event?.name);"
                    (plusButtonClick)="redirectToAddPost($event)"></app-post-type-nav>
            </div>
            <div class="col-md-10">
                <!-- <div class="width-wrapper"> -->
                <div class="row">
                    <div [ngClass]="selectedBlock ? 'col-md-8 col-lg-8' : 'col-lg-10 col-md-10'">
                        <div class="item-grid pen-grid item-grid-large">
                            <!-- <ng-container > -->
                            <app-brief-post style="width: 100%;" [p]="p" [readMore]="true"
                                *ngFor="let p of dataSource?.data" (showComments)="showCommentsOnSide($event)">
                            </app-brief-post>
                            <!-- </ng-container> -->
                        </div>

                        <app-paginator [length]="length" (fetchData)="paginator = $event; getAllPosts()">
                        </app-paginator>
                    </div>

                    <div [ngClass]="selectedBlock ? 'col-md-4 col-lg-4' : ''">
                        <ng-container
                            *ngTemplateOutlet="addBlockLevelCommentTemplate; context: {details: selectedPost, comments: selectedPostComments | async}">
                        </ng-container>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<ng-template #addBlockLevelCommentTemplate let-cDetails="details" let-comments="comments">
    <aside class="sidebar">
        <app-comment-side-nav *ngIf="selectedBlock"
            (closeCommentSideBar)="selectedBlock['__show'] = null; selectedBlock = null" [selectedBlock]="selectedBlock"
            [selectedPost]="cDetails" [comments]="comments"></app-comment-side-nav>
    </aside>
</ng-template>