<app-breadcumb [title]="breadcumb?.title" [path]="breadcumb?.path"></app-breadcumb>
<div class="container">
    <div class="row">
        <div style="padding: 0" class="col-md-12">
            <table *ngIf="!all" mat-table [dataSource]="dataSource" matSort multiTemplateDataRows
                class="mat-elevation-z8">
                <!-- Position Column -->
                <ng-container matColumnDef="number">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
                    <td mat-cell *matCellDef="let product; let i = dataIndex;">{{i + 1}} </td>
                    <!-- <mat-cell *matCellDef="let product; let i = dataIndex;">{{i + 1}}</mat-cell> -->
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                    <td mat-cell *matCellDef="let product"> {{product.name}} </td>
                </ng-container>

                <!-- Price Column -->
                <ng-container matColumnDef="price">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
                    <td mat-cell *matCellDef="let product"> {{product.price | currency}} </td>
                </ng-container>

                <!-- Action Column -->
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                    <td mat-cell *matCellDef="let product" (click)="$event.stopPropagation()">
                        <button mat-mini-fab color="primary" (click)="editProduct(product)"
                            [routerLink]="['/', 'sell', 'edit-product', product._id]">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-mini-fab color="warn" (click)="deleteProduct(product._id)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>


                <!-- Status Column -->
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                    <td mat-cell *matCellDef="let product"> {{product.status}} </td>
                </ng-container>

                <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
                <ng-container matColumnDef="expandedDetail">
                    <td mat-cell *matCellDef="let product; let i = index;" [attr.colspan]="displayedColumns?.length">
                        <div class="example-product-detail"
                            [@detailExpand]="product == expandedProduct ? 'expanded' : 'collapsed'">
                            <div class="example-product-description">
                                <div class="author-card sidebar-card ">
                                    <div class="card-title">
                                        <h4>Purchased By: {{ purchasedBy?.length }}</h4>
                                        <br />

                                        <ng-container class="row" *ngFor="let pu of purchasedBy">
                                            <div class="col-md-12" style="margin-bottom: 10px;">
                                                <div class="author_avatar_comment" style="vertical-align: middle;">
                                                    <img [src]="pu?.avatar ? ((s3FilesBucketURL + pu.avatar) | safe: 'resourceUrl') : anonymousAvatar"
                                                        alt="Presenting the broken author avatar :D">
                                                </div>
                                                <div class="autor__info">
                                                    <p class="name">
                                                        {{pu?.name}}
                                                    </p>
                                                    <p class="ammount">{{fromNow(pu?.createdAt)}}</p>
                                                </div>
                                            </div>

                                        </ng-container>
                                    </div>
                                </div>
                                <!-- <app-editor *ngIf="product == expandedProduct" [readOnly]="true" [data]="product?.description"
                                            [id]="product?._id"></app-editor> -->
                                <ng-template #noDescription>
                                    <span>No Description</span>
                                </ng-template>
                                <!-- {{product.description}} -->
                            </div>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let product; columns: displayedColumns; let i = dataIndex;"
                    class="example-product-row" [class.example-expanded-row]="expandedProduct === product"
                    (click)="getListOfUsersWhoPurchased(product)">
                </tr>
                <tr mat-row *matRowDef="let row; columns: ['expandedDetail']; let i = dataIndex;"
                    class="example-detail-row"></tr>
            </table>
            <!-- 
            <app-datatable *ngIf="all" (redirect)="postService.redirectToPostDetails($event)"
                (getAllPosts)="getAllPosts($event)" [length]="length" [pagination]="true" [dataSource]="dataSource"
                [displayedColumns]="displayedColumns">
            </app-datatable> -->

        </div>
    </div>
</div>

<div *ngIf="false" class="preload home3">
    <!--================================
    START FILTER AREA
=================================-->

</div>

<section class="single-product-desc" *ngIf="all">
    <div class="container">
        <div class="row">

            <!-- start .col-md-3 -->
            <div class="col-lg-3">
                <!-- start aside -->
                <aside class="sidebar product--sidebar">
                    <div class="sidebar-card card--filter">
                        <a class="card-title" href="#collapse2" role="button" data-toggle="collapse"
                            aria-expanded="false" aria-controls="collapse2">
                            <h4>Filter Posts
                                <span class="lnr lnr-chevron-down"></span>
                            </h4>
                        </a>
                        <div class="collapse show collapsible-content" id="collapse2">
                            <ul class="card-content" style="list-style: none;">
                                <li>
                                    <div class="custom-radio" [routerLink]="[]" [queryParams]="{view: 'all'}" (click)="selectedPostType = ''; getAllPosts('')">
                                        <input type="radio" [checked]="selectedPostType === ''" [id]="'all'" class="" name="filter_opt">
                                        <label [for]="'all'">
                                            <span class="circle"></span>All</label>
                                    </div>
                                </li>
                                <li *ngFor="let p of postTypes?.concat(companyPostTypes)">
                                    <div class="custom-radio" [routerLink]="[]" [queryParams]="{view: p}" (click)="selectedPostType = p; getAllPosts(p)">
                                        <input type="radio" [id]="p" class="" [checked]="selectedPostType === p" name="filter_opt">
                                        <label [for]="p" style="text-transform: capitalize;">
                                            <span class="circle"></span>{{p}}</label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- end /.sidebar-card -->
                </aside>
                <!-- end aside -->
            </div>
            <!-- end /.col-md-3 -->

            <div class="col-lg-9">
                    <mat-paginator style="margin-bottom: 43px; border-radius: 6px;" [length]="length" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
                        </mat-paginator>

                <!-- <div class="width-wrapper"> -->
                <div class="item-grid pen-grid item-grid-large">
                    <!-- <ng-container > -->
                    <app-brief-post style="width: 100%;" [p]="p" *ngFor="let p of dataSource?.data"></app-brief-post>
                    <!-- </ng-container> -->
                </div>
            </div>
            <!-- </div> -->
        </div>
    </div>
</section>