<!-- <app-breadcumb [title]="breadcumb?.title" [path]="breadcumb?.path"></app-breadcumb> -->


<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 com-sm-12" style="
        margin-left: 25%;
        margin-top: 2%;
    ">
            <div [formGroup]="postForm" class="add-form-area common-box-shadow">
                <mat-form-field class="field-full-width">
                    <input type="text" matInput formControlName="firstName" placeholder="name">
                </mat-form-field>

                <mat-form-field class="field-full-width">
                    <input type="email" matInput formControlName="email" placeholder="Email">
                </mat-form-field>

                <mat-form-field class="field-full-width">
                    <input type="text" matInput formControlName="phone" placeholder="phone">
                </mat-form-field>
                
                <mat-form-field class="field-full-width">
                    <mat-label>Insurance Type:</mat-label>
                    <select matNativeControl required formControlName="InsuranceType">
                      <option [selected]="preInsuranceTypevalue == 'Life'" value="Life">Life</option>
                      <option [selected]="preInsuranceTypevalue == 'Property'" value="Property">Property</option>
                      <option [selected]="preInsuranceTypevalue == 'Commercial'" value="Commercial">Commercial</option>
                      <option [selected]="preInsuranceTypevalue == 'Worker'" value="Worker">Worker</option>
                      <option [selected]="preInsuranceTypevalue == 'Health'" value="Health">Health</option>
                      <option [selected]="preInsuranceTypevalue == 'Home'" value="Home">Home</option>
                      <option [selected]="preInsuranceTypevalue == 'Auto'" value="Auto">Auto</option>
                      <option [selected]="preInsuranceTypevalue == 'Auto'" value="Auto">Others</option>
                    </select>
                  </mat-form-field>

                <br />
                 
                <mat-form-field class="field-full-width">
                    <textarea type="text" matInput formControlName="description" placeholder="Description"></textarea>
                </mat-form-field>
                
                <br />

                <div fxLayout="row" fxLayoutGap="10px">
                    <button (click)="submit()" *ngIf="statusFormControl?.value !== 'Published'" type="button" [disabled]="postForm?.invalid" mat-raised-button color="primary">Get Quote</button>
                    <!-- <button type="button" [disabled]="postForm?.invalid" mat-raised-button color="primary">{{ statusFormControl?.value === 'Published' ? 'Publish Changes' : 'Publish' }}</button> -->
                    <!-- <button *ngIf="statusFormControl?.value === 'Published'" type="button" (click)="submit('Unpublished')" [disabled]="postForm?.invalid" mat-raised-button color="primary">{{ 'Unpublish' }}</button> -->
                </div>

            </div>

        </div>
    </div>
</div>