<app-breadcumb [title]="breadcumb?.title" [path]="breadcumb?.path" [showImportButton]="true"></app-breadcumb>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div [formGroup]="postForm" class="add-form-area common-box-shadow">
                <mat-form-field class="field-full-width">
                    <input type="text" matInput formControlName="name" placeholder="name">
                </mat-form-field>

                <mat-form-field class="field-full-width">
                    <input type="email" matInput formControlName="email" placeholder="Email">
                </mat-form-field>

                <mat-form-field class="field-full-width">
                    <input type="number" matInput formControlName="phone" placeholder="phone">
                </mat-form-field>

                <mat-form-field class="field-full-width" formControlName="insuranceType">
                    <mat-label>Insurance Type:</mat-label>
                    <select matNativeControl required>
                      <option value="Commercial">Commercial</option>
                      <option value="Worker">Worker</option>
                      <option value="Life">Life</option>
                      <option value="Health">Health</option>
                      <option value="Home">Home</option>
                      <option value="Auto">Auto</option>
                    </select>
                  </mat-form-field>

                <h6>Description:</h6>
                <br />

                <app-editor #descriptionEditor
                    [data]="descriptionFormControl?.value" [id]="'edit-post-editor'" [importArticleSubscription]="true"></app-editor>

                <br />

                <div fxLayout="row" fxLayoutGap="10px">
                    <button *ngIf="statusFormControl?.value !== 'Published'" type="button" [disabled]="postForm?.invalid" mat-raised-button color="primary">Get Quote</button>
                    <!-- <button type="button" [disabled]="postForm?.invalid" mat-raised-button color="primary">{{ statusFormControl?.value === 'Published' ? 'Publish Changes' : 'Publish' }}</button> -->
                    <!-- <button *ngIf="statusFormControl?.value === 'Published'" type="button" (click)="submit('Unpublished')" [disabled]="postForm?.invalid" mat-raised-button color="primary">{{ 'Unpublish' }}</button> -->
                </div>

            </div>

        </div>
    </div>
</div>