<div *ngIf="userData$ | async as user">
	<!-- <app-breadcumb [title]="user?.name" [path]="breadcumb?.path"></app-breadcumb>  -->


	<section style="padding-top: 35px;" class="author-profile-area">
		<div class="container" style="margin: auto;">
			<div class="container" style="margin-top: 0; margin-bottom: 15px;">
				<div class="row">
					<div class="col-lg-2 col-md-2 col-sm-3 align-items-center justify-content-center"
						style="margin: auto;">
						<div class="profile-picture">
							<div class="user-info">
								<div class="profile-pic">
									<img
										[src]="selectedProfilePicURL ? (selectedProfilePicURL | safe: 'resourceUrl') : user?.avatar ? ((s3FilesBucketURL + user?.avatar) | safe: 'resourceUrl') : anonymousAvatar" />
									<div class="layer">
										<div class="loader"></div>
									</div>
									<a class="image-wrapper">
										<mat-icon class="edit glyphicon glyphicon-pencil" (click)="addProfilePic()">edit
										</mat-icon>
										<mat-icon class="edit glyphicon glyphicon-pencil"
											(click)="removeProfilePic(user?._id)">delete</mat-icon>
									</a>
								</div>
							</div>
							<input type="file" #profilePic style="display: none" (change)="onProfilePicAdded()" />
						</div>
						<div style="display: flex;">
							<button *ngIf="selectedProfilePic" style="margin: auto;" type="button"
								class="btn btn--vsm btn--round"
								(click)="updateProfilePicture(user?._id)">Update</button>
						</div>
						<h4 style="text-align: center; padding-top: 10px;">{{user?.name}}</h4>
						<button *ngIf="authService?.loggedInUser && authorId && authService?.loggedInUser?._id !== authorId" (click)="openDialog()" mat-mini-fab color="primary">
                                        <mat-icon>video_call</mat-icon>
                                    </button>
					</div>
					<div class="col-lg-10 col-md-10 col-sm-9" style="padding: 0;">
						<div class="picture-container" *ngIf="selectedCoverPic?.name || user?.cover">

							<img #cover
								[src]="selectedCoverPic ? (selectedCoverPicURL | safe: 'resourceUrl') : ((s3FilesBucketURL + user?.cover) | safe: 'resourceUrl')">

							<div class="controls" *ngIf="user?._id === authService?.loggedInUser?._id">
								<a mat-button style="background-color: #ff00007a;" (click)="removeCover(user?._id);"
									class="save">Remove</a>
								<a mat-button style="background-color: #00aeef" *ngIf="!user?.cover"
									(click)="updateCover(user?._id)" class="save">Upload
									Cover</a>
							</div>

						</div>
						<div class="image-upload-wrap" style="height: 300px;"
							*ngIf="user?._id === authService?.loggedInUser?._id && !selectedCoverPic && !user?.cover">
							<input #coverPic class="file-upload-input" type='file' (change)="onFilesAdded()"
								accept="image/*" />
							<div class="drag-text">
								<h3>Drag and drop a file or select add Image 685w x 300h</h3>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				
				<!-- start aside -->
				<div class="col-md-2">
					<!-- <app-add-post-menu style="color: #00aeef !important; margin-left: auto;">
					</app-add-post-menu> -->
					<app-post-type-nav [customTabs]="authService?.loggedInUser && authService?.loggedInUser?._id == authorId ? customTabs : []" [selectedPostType]="profileView" (postTypeClick)="$event?.isCustom ? fetchBasedOnCustomTab($event) : selectMainCategory($event?.name);"
						(plusButtonClick)="redirectToAddPost($event)"></app-post-type-nav>

				</div>

				<div class="col-lg-10 col-md-10">
					<!-- POST EDITOR STARTS HERE -->

					<!-- POST EDITOR ENDS HERE -->
					<div class="row">
						<div [ngClass]="selectedBlock ? 'col-md-8 col-lg-8' : 'col-lg-12 col-md-12'">
							<!-- {{profileView}} -->
							<div *ngIf="profileView === navLinkName.buy">
								<router-outlet></router-outlet>
							</div>

							<div *ngIf="profileView === 'files'">
								<ng-container *ngTemplateOutlet="filesList; context: {details: selectedPost, files: files}">
								</ng-container>
							</div>

							<div *ngIf="profileView === navLinkName.sell">
								<router-outlet></router-outlet>
							</div>

							<div *ngIf="profileView === navLinkName.membership">
								<router-outlet></router-outlet>
							</div>

							<div *ngIf="profileView === navLinkName.myrsvp">
								<router-outlet></router-outlet>
							</div>

							<!-- Showing the list of posts for the posts tab, everytime user clicks on the "load more", we increase the page number and call
							fetchAllOtherPosts method to fetch subsequent posts -->
							<ng-container *ngIf="profileView === navLinkName.posts">
								<div class="">
									<app-brief-post style="width: 100%;" [p]="e"
										*ngFor="let e of listOfAllOtherPosts?.posts"
										(showComments)="showCommentsOnSide($event)" [readMore]="true"></app-brief-post>
								</div>
								<app-paginator [length]="totalOtherPosts"
									(fetchData)="paginator = $event; fetchAllOtherPosts()">
								</app-paginator>
							</ng-container>

							<!-- Show list of the posts based on post type -->
							<ng-container *ngFor="let p of postTypesArray">
								<ng-container *ngIf="profileView === p.name">
									<div class="item-grid pen-grid item-grid-large">
										<app-brief-post style="width: 100%;" [p]="e"
											*ngFor="let e of listOfAllOtherPosts?.posts"
											(showComments)="showCommentsOnSide($event)" [readMore]="true">
										</app-brief-post>
									</div>

									<app-paginator [length]="totalOtherPosts"
										(fetchData)="paginator = $event; fetchAllOtherPosts(p.name)">
									</app-paginator>
								</ng-container>
							</ng-container>

							<div *ngIf="profileView === navLinkName?.info && (userData$) | async as user">
								<div class="col-lg-12 col-md-12">
									<aside class="common-box-shadow sidebar sidebar_author">
										<div class="author-card sidebar-card">
											<div class="author-infos">
												<div class="author_avatar">
													<img [src]="user?.avatar ? ((s3FilesBucketURL + user.avatar) | safe: 'resourceUrl') : anonymousAvatar"
														alt="Presenting the broken author avatar :D">
												</div>

												<div class="author">
													<h4>{{user?.name}}</h4>
													<button
														*ngIf="authorId && authService?.loggedInUser?._id && authService?.loggedInUser?._id !== authorId"
														(click)="openDialog()" mat-mini-fab color="primary">
														<mat-icon>video_call</mat-icon>
													</button>
													<p>On platform since {{user?.createdAt | date}}</p>
												</div>
												<!-- end /.author -->


												<div class="social social--color--filled">
													<ul>
														<li style="margin: 5px; color: initial">
															<a [href]="user?.linkedin_url">
																<i style="font-size: 1.7rem !important;"
																	class="fab fa-linkedin"></i>
															</a>
														</li>
														<li style="margin: 5px">
															<a [href]="user?.github_url">
																<i style="font-size: 1.7rem !important;"
																	class="fab fa-stack-overflow"></i>
															</a>
														</li>
														<li style="margin: 5px">
															<a [href]="user?.stackoverflow_url">
																<i style="font-size: 1.7rem !important;"
																	class="fab fa-github"></i>
															</a>
														</li>
													</ul>
												</div>



												<ul class="infos">
													<li>
														<span class="data-label">Likes: </span>
														<span class="info"
															*ngIf="authService?.loggedInUser; else likeCount">
															<app-like-dislike [data]="user" [type]="'user'"
																[likeCount]="null">
															</app-like-dislike>
														</span>
														<ng-template #likeCount>
															<div class="info">
																{{user?.likeCount}}
															</div>
														</ng-template>
													</li>
												</ul>
												<!-- end /.social -->

												<!-- <div class="author-btn">
																				<a href="#" class="btn btn--md btn--round">Follow</a>
																		</div> -->
												<!-- end /.author-btn -->
											</div>
											<!-- end /.author-infos -->
										</div>
										<!-- end /.author-card -->
									</aside>
								</div>
							</div>

						</div>
						<div [ngClass]="selectedBlock ? 'col-md-4 col-lg-4' : ''">
							<ng-container
								*ngTemplateOutlet="addBlockLevelCommentTemplate; context: {details: selectedPost, comments: selectedPostComments | async}">
							</ng-container>
						</div>

					</div>
					<!-- <ng-template matTabContent>
					</ng-template> -->
					  <!-- <mat-tab-group  mat-align-tabs="center">
					    <mat-tab label="Posts">
					    </mat-tab>
					     <mat-tab label="Chats">
					      <ng-template matTabContent>
					        <app-chat-full-ui [loggedInUser]="authService?.loggedInUser" [postList]="listOfAllOtherPosts?.posts"></app-chat-full-ui>
					      </ng-template>
					    </mat-tab>
					  </mat-tab-group> -->
				</div>
			</div>
		</div>
	</section>
</div>

<ng-template #addBlockLevelCommentTemplate let-cDetails="details" let-comments="comments">
	<aside class="sidebar">
		<app-comment-side-nav *ngIf="selectedBlock"
			(closeCommentSideBar)="selectedBlock['__show'] = null; selectedBlock = null" [selectedBlock]="selectedBlock"
			[selectedPost]="cDetails" [comments]="comments"></app-comment-side-nav>
	</aside>
</ng-template>

<ng-template #filesList let-cDetails="details" let-comments="files">
	<app-editor [id]="f?._id" *ngFor="let f of files" [data]="[f]" [readOnly]="true"></app-editor>
</ng-template>