<div *ngIf="userData$ | async as user">
	<app-breadcumb [title]="user?.name" [path]="breadcumb?.path"></app-breadcumb>



	<section class="author-profile-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-12">
					<aside class="sidebar sidebar_author">
						<div class="author-card sidebar-card">
							<div class="author-infos">
								<div class="author_avatar">
									<img [src]="user?.avatar ? ((codemarketBucketURL + user.avatar) | safe: 'resourceUrl') : anonymousAvatar"
										alt="Presenting the broken author avatar :D">
								</div>

								<div class="author">
									<h4>{{user?.name}}</h4>
									<button
										*ngIf="authorId && authService?.loggedInUser?._id && authService?.loggedInUser?._id !== authorId"
										(click)="openDialog()" mat-mini-fab color="primary">
										<mat-icon>video_call</mat-icon>
									</button>
									<p>On platform since {{user?.createdAt | date}}</p>
								</div>
								<!-- end /.author -->


								<div class="social social--color--filled">
									<ul>
										<li style="margin: 5px; color: initial">
											<a [href]="user?.linkedin_url">
												<i style="font-size: 1.7rem !important;" class="fab fa-linkedin"></i>
											</a>
										</li>
										<li style="margin: 5px">
											<a [href]="user?.github_url">
												<i style="font-size: 1.7rem !important;"
													class="fab fa-stack-overflow"></i>
											</a>
										</li>
										<li style="margin: 5px">
											<a [href]="user?.stackoverflow_url">
												<i style="font-size: 1.7rem !important;" class="fab fa-github"></i>
											</a>
										</li>
									</ul>
								</div>



								<ul class="infos">
									<li>
										<span class="data-label">Likes: </span>
										<span class="info" *ngIf="authService?.loggedInUser; else likeCount">
											<app-like-dislike [data]="user" [type]="'user'" [likeCount]="null">
											</app-like-dislike>
										</span>
										<ng-template #likeCount>
											<div class="info">
												{{user?.likeCount}}
											</div>
										</ng-template>
									</li>
								</ul>
								<!-- end /.social -->

								<!-- <div class="author-btn">
																				<a href="#" class="btn btn--md btn--round">Follow</a>
																		</div> -->
								<!-- end /.author-btn -->
							</div>

							<!-- end /.author-infos -->


						</div>
						<!-- end /.author-card -->

					</aside>
				</div>
				<!-- end /.sidebar -->

				<div class="col-lg-8 col-md-12">

					<div class="row">
						<div class="col-md-12">

							<nav mat-tab-nav-bar>
								<a mat-tab-link *ngFor="let link of navLinks" [routerLink]="[link.path]"
									[queryParams]="link?.queryParams ? link.queryParams : null" routerLinkActive
									#rla="routerLinkActive" [active]="rla.isActive">
									{{link.label}}
								</a>

								<app-add-post-menu></app-add-post-menu>
							</nav>

							<div>
								<router-outlet></router-outlet>
							</div>
						</div>
						<!-- end /.col-md-12 -->


					</div>
					<!-- end /.row -->
				</div>
				<!-- end /.col-md-8 -->

			</div>
			<!-- end /.row -->
		</div>
		<!-- end /.container -->
	</section>
</div>