<div *ngIf="userData$ | async as user">
	<app-breadcumb [title]="user?.name" [path]="breadcumb?.path"></app-breadcumb>



	<section style="padding: 35px;" class="author-profile-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-12">
					<aside class="common-box-shadow sidebar sidebar_author">
						<div class="author-card sidebar-card">
							<div class="author-infos">
								<div class="author_avatar">
									<img [src]="user?.avatar ? ((codemarketBucketURL + user.avatar) | safe: 'resourceUrl') : anonymousAvatar"
										alt="Presenting the broken author avatar :D">
								</div>

								<div class="author">
									<h4>{{user?.name}}</h4>
									<button
										*ngIf="authorId && authService?.loggedInUser?._id && authService?.loggedInUser?._id !== authorId"
										(click)="openDialog()" mat-mini-fab color="primary">
										<mat-icon>video_call</mat-icon>
									</button>
									<p>On platform since {{user?.createdAt | date}}</p>
								</div>
								<!-- end /.author -->


								<div class="social social--color--filled">
									<ul>
										<li style="margin: 5px; color: initial">
											<a [href]="user?.linkedin_url">
												<i style="font-size: 1.7rem !important;" class="fab fa-linkedin"></i>
											</a>
										</li>
										<li style="margin: 5px">
											<a [href]="user?.github_url">
												<i style="font-size: 1.7rem !important;"
													class="fab fa-stack-overflow"></i>
											</a>
										</li>
										<li style="margin: 5px">
											<a [href]="user?.stackoverflow_url">
												<i style="font-size: 1.7rem !important;" class="fab fa-github"></i>
											</a>
										</li>
									</ul>
								</div>



								<ul class="infos">
									<li>
										<span class="data-label">Likes: </span>
										<span class="info" *ngIf="authService?.loggedInUser; else likeCount">
											<app-like-dislike [data]="user" [type]="'user'" [likeCount]="null">
											</app-like-dislike>
										</span>
										<ng-template #likeCount>
											<div class="info">
												{{user?.likeCount}}
											</div>
										</ng-template>
									</li>
								</ul>
								<!-- end /.social -->

								<!-- <div class="author-btn">
																				<a href="#" class="btn btn--md btn--round">Follow</a>
																		</div> -->
								<!-- end /.author-btn -->
							</div>
							<!-- end /.author-infos -->
						</div>
						<!-- end /.author-card -->
					</aside>
				</div>
				<!-- end /.sidebar -->

				<div class="col-lg-8 col-md-12">

					<div class="row">
						<div class="col-md-12">

							<nav mat-tab-nav-bar>
								<a mat-tab-link *ngFor="let link of navLinks" [routerLink]="[link.path]"
									[queryParams]="link?.queryParams ? link.queryParams : null" routerLinkActive
									#rla="routerLinkActive" [active]="rla.isActive">
									{{link.label}}
								</a>

								<!-- <app-add-post-menu></app-add-post-menu> -->
							</nav>

							<div>
								<router-outlet></router-outlet>
							</div>
						</div>
						<!-- end /.col-md-12 -->


					</div>
					<!-- end /.row -->
				</div>
				<!-- end /.col-md-8 -->
			</div>
			<!-- end /.row -->

			<!-- Dream Job -->
			<div class="row">
				<div class="col-lg-12 col-md-12">
					<div class="common-box-shadow sidebar-card card--product-infos">
						<div class="card-title" style="margin-bottom: 0;">
							<h4>DreamJob:</h4>
						</div>
						<div *ngIf="porfileData">
							<mat-accordion *ngFor="let p of porfileData?.dreamJob">
								<mat-expansion-panel>
									<mat-expansion-panel-header style="height: 50px !important">
										<mat-panel-title>
											{{p?.name}}
										</mat-panel-title>
									</mat-expansion-panel-header>
									<app-editor [readOnly]="true" [data]="p?.description" [id]="p?._id">
									</app-editor>
								</mat-expansion-panel>
							</mat-accordion>
						</div>
					</div>
				</div>
			</div>

			<!-- Businesses Area Interests -->
			<div class="row" *ngIf="porfileData">
				<div class="col-lg-12 col-md-12">
					<div class="common-box-shadow sidebar-card card--product-infos">
						<div class="card-title" style="margin-bottom: 0;">
							<h4 style="display: inline-block;">Business Area Interests:</h4>
							<mat-icon style="float: right; vertical-align: bottom;"
								*ngIf="user?._id === authService?.loggedInUser?._id"
								(click)="selectBusinessAreaInterests = true; addTagAction(porfileData?.businessAreaInterests ? porfileData?.businessAreaInterests : [] );">
								{{porfileData?.businessAreaInterests && porfileData?.businessAreaInterests.length ? 'edit' : 'add' }}
							</mat-icon>
						</div>

						<div *ngIf="selectBusinessAreaInterests" class="product-purchase">
							<ng-container
								*ngTemplateOutlet="tagSelectionTemplate; context: {placeholder: 'Business Area Interests:'}">
							</ng-container>
						</div>

						<div>
							<div class="product-purchase">
								<div *ngFor="let t of (selectBusinessAreaInterests ?  tagsFormControl?.value : porfileData?.businessAreaInterests); let i = index;"
									class="price_love" style="padding-bottom: 15px;">
									<span>{{t?.name}} <mat-icon style="vertical-align: middle;"
											*ngIf="selectBusinessAreaInterests" (click)="remove(i)">cancel</mat-icon>
									</span>
								</div>
								<br>
								<button *ngIf="selectBusinessAreaInterests" style="float: right;" type="button"
									class="btn btn--sm btn--round"
									(click)="updateInterests('businessAreaInterests', 'selectBusinessAreaInterests')">Update</button>
							</div>
						</div>
						<!-- </div> -->
					</div>
				</div>
			</div>

			<!-- Leadership Area Interests -->
			<div class="row" *ngIf="porfileData">
				<div class="col-lg-12 col-md-12">
					<div class="common-box-shadow sidebar-card card--product-infos">
						<div class="card-title" style="margin-bottom: 0;">
							<h4 style="display: inline-block;">Leadership Area Interests:</h4>
							<mat-icon style="float: right; vertical-align: bottom;"
								*ngIf="user?._id === authService?.loggedInUser?._id"
								(click)="selectLeadershipAreaInterests = true; addTagAction(porfileData?.leadershipAreaInterests ? porfileData?.leadershipAreaInterests : [] );">
								{{porfileData?.leadershipAreaInterests && porfileData?.leadershipAreaInterests.length ? 'edit' : 'add' }}
							</mat-icon>
						</div>

						<div *ngIf="selectLeadershipAreaInterests" class="product-purchase">
							<ng-container
								*ngTemplateOutlet="tagSelectionTemplate; context: {placeholder: 'Leadership Area Interests:'}">
							</ng-container>
						</div>

						<div>
							<div class="product-purchase">
								<div *ngFor="let t of (selectLeadershipAreaInterests ?  tagsFormControl?.value : porfileData?.leadershipAreaInterests); let i = index;"
									class="price_love" style="padding-bottom: 15px;">
									<span>{{t?.name}} <mat-icon style="vertical-align: middle;"
											*ngIf="selectLeadershipAreaInterests" (click)="remove(i)">cancel</mat-icon>
									</span>
								</div>
								<br>
								<button *ngIf="selectLeadershipAreaInterests" style="float: right;" type="button"
									class="btn btn--sm btn--round"
									(click)="updateInterests('leadershipAreaInterests', 'selectLeadershipAreaInterests')">Update</button>
							</div>
						</div>
						<!-- </div> -->
					</div>
				</div>
			</div>


			<!-- Social Impact Interests -->
			<div class="row" *ngIf="porfileData">
				<div class="col-lg-12 col-md-12">
					<div class="common-box-shadow sidebar-card card--product-infos">
						<div class="card-title" style="margin-bottom: 0;">
							<h4 style="display: inline-block;">Social Impact Interests:</h4>
							<mat-icon style="float: right; vertical-align: bottom;"
								*ngIf="user?._id === authService?.loggedInUser?._id"
								(click)="selectsocialImpactInterests = true; addTagAction(porfileData?.socialImpactInterests ? porfileData?.socialImpactInterests : [] );">
								{{porfileData?.socialImpactInterests && porfileData?.socialImpactInterests.length ? 'edit' : 'add' }}
							</mat-icon>
						</div>

						<div *ngIf="selectsocialImpactInterests" class="product-purchase">
							<ng-container
								*ngTemplateOutlet="tagSelectionTemplate; context: {placeholder: 'Social Impact Interests:'}">
							</ng-container>
						</div>

						<div>
							<div class="product-purchase">
								<div *ngFor="let t of (selectsocialImpactInterests ?  tagsFormControl?.value : porfileData?.socialImpactInterests); let i = index;"
									class="price_love" style="padding-bottom: 15px;">
									<span>{{t?.name}} <mat-icon style="vertical-align: middle;"
											*ngIf="selectsocialImpactInterests" (click)="remove(i)">cancel</mat-icon>
										</span>
								</div>
								<br>
								<button *ngIf="selectsocialImpactInterests" style="float: right;" type="button"
									class="btn btn--sm btn--round"
									(click)="updateInterests('socialImpactInterests', 'selectsocialImpactInterests')">Update</button>
							</div>
						</div>
						<!-- </div> -->
					</div>
				</div>
			</div>
		</div>
		<!-- end /.container -->
	</section>
</div>

<ng-template #tagSelectionTemplate let-placeholder="placeholder">
	<mat-form-field class="field-full-width" style="width: 80%; border: none !important;">
		<mat-chip-list #tagsList>
			<!-- <mat-chip *ngFor="let tag of tagsFormControl?.value; let i = index;" [selectable]="selectable"
				[removable]="true" (removed)="remove(i)">
				{{tag?.name}}
				<mat-icon matChipRemove>cancel</mat-icon>
			</mat-chip> -->
			<input #searchInput [formControl]="searchText" [matAutocomplete]="auto" [placeholder]="placeholder"
				[matChipInputFor]="tagsList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
				[matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="addTech($event)">
			<!-- <mat-icon matSuffix>code</mat-icon> -->
		</mat-chip-list>
		<mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
			<mat-option *ngFor="let tag of tagSuggestions" [value]="tag">
				{{tag?.name}}
			</mat-option>
		</mat-autocomplete>
	</mat-form-field>
</ng-template>