<div class="container" style="margin: 30px auto 15px;">
    <p>Tweet From Here!</p>

    <div class="col-md-12 comment-form-area">
       
        <div class="media comment-form">
            <div class="media-left">
                <a [routerLink]="['profile', authService?.loggedInUser?.slug ]">
                    <img class="author_avatar_comment" style="height: 45px; width:45px;"
                        [src]="authService?.loggedInUser?.avatar ? ((s3FilesBucketURL + authService?.loggedInUser?.avatar) | safe: 'resourceUrl') : anonymousAvatar"
                        alt="Commentator Avatar">
                </a>
            </div>
            <div class="media-body">
                <div class="comment-reply-form" [formGroup]="tweetForm" >
                    <textarea placeholder="Add Tweet!" id="tweet_input" class="add-tweet__textarea"></textarea>
                    <div class="text-right">
                        <button style="margin-top: 10px; margin-bottom: 20px;box-shadow: none;"
                            type="button" class="btn btn--sm"
                            (click)="addTweet('Created');">Tweet</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
