<table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows class="mat-elevation-z8">
    <!-- Position Column -->
    <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
        <td mat-cell *matCellDef="let goal; let i = dataIndex;">{{i + 1}} </td>
        <!-- <mat-cell *matCellDef="let goal; let i = dataIndex;">{{i + 1}}</mat-cell> -->
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell (click)="postService.redirectToPostDetails(goal)" *matCellDef="let goal"> {{goal.name}} </td>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
        <td mat-cell *matCellDef="let goal"> {{goal.price}} </td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
        <td mat-cell *matCellDef="let goal" (click)="$event.stopPropagation()">
            <button mat-mini-fab color="primary" (click)="editGoal(goal)"
                [routerLink]="['/', {outlets: {'main': ['goal', 'edit-goal', goal._id]}}]">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-mini-fab color="warn" (click)="deleteGoal(goal._id)">
                <mat-icon>delete</mat-icon>
            </button>
        </td>
    </ng-container>


    <!-- Status Column -->
    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
        <td mat-cell *matCellDef="let goal"> {{goal.status}} </td>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let goal; let i = index;" [attr.colspan]="displayedColumns?.length">
            <div class="example-goal-detail" [@detailExpand]="goal == expandedGoal ? 'expanded' : 'collapsed'">
                <div class="example-goal-description">
                    <app-editor *ngIf="goal.description && goal == expandedGoal; else noDescription;" [readOnly]="true" [data]="goal?.description" [id]="goal?._id"></app-editor>
                    <!-- <quill-view *ngIf="goal.description; else noDescription;" [modules]="modules"
                            [content]="goal.description" format="text" theme="snow"></quill-view> -->
                    <ng-template #noDescription>
                        <span>No Description</span>
                    </ng-template>
                    <!-- {{goal.description}} -->
                </div>
            </div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let goal; columns: displayedColumns; let i = dataIndex;" class="example-goal-row"
        [class.example-expanded-row]="expandedGoal === goal">
        <!-- (click)="expandedGoal = expandedGoal === goal ? null : goal" -->
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']; let i = dataIndex;" class="example-detail-row"></tr>
</table>