<p>homework works!</p>
<div id="container"
    style="display: block; float: left; width: 100%;background-color: lightblue; font-family: verdana; font-size: 20px;">
    <h1 style="text-align: center; color: white; margin-bottom: 30px;">Homework Assignment</h1>

    <div style="display: block; clear: blth;">
    <input #assignmentNo type="text" style="float:right; clear: right; margin: 10px 40% 10px 2%;"><span style="display: block; float:left; clear: left; margin-left: 20%">Assignment No.</span>

    <input #title type="text" style="float:right; clear: right; margin: 10px 40% 10px 2%;"><span style="display: block; float:left; clear: left; margin-left: 20%">Title</span>

    <!--  This will be system generated -->
    <!--
    <input #assignmentUrl type="text" style="float:right; clear: right; margin: 10px 40% 10px 2%;"><span style="display: block; float:left; clear: left; margin-left: 20%">Demo URL</span>
    -->
    </div>

    <div style="display: block; width: 100%; clear: both; margin: 10px 40% 10 px 20%">
    <span style="margin-left: 20%;">Detail Description</span><br/>
    <textarea #assignmentDescription type="textarea"
        style="float:left; clear: left; align-self: center; width: 40%; height: 400px; margin: 10px 20% 10px 20%;"></textarea>
    </div>

    <div class="" style="float: right; clear: right; margin: 10px 40% 10px 20%;">
        <button id="add_assignment" type="button" (click)="addAssignment(assignmentNo?.value, title?.value, assignmentDescription?.value)"
            style="display: block;
    float: right;
    clear: both;
    background-color: lightgray;
    width: 150px; 
    height: 75px;
    color: red;
    font-size: 14px;
    font-weight: bold;
    border: 10px lightgray;
    border-style: groove solid outset;
    margin: 10px 20% 10px 20%;">Add Assignment</button>

<!--
        <button id="update_assignment" type="button" (click)="updateAssignment(assignmentNo?.value, title?.value, assignmentUrl?.value, assignmentPost?.value)" style="display: block;
    float: right;
    clear: both;
    background-color: lightgray;
    width: 150px; 
    height: 75px;
    color: red;
    font-size: 14px;
    font-weight: bold;
    border: 10px lightgray;
    border-style: groove solid outset;
    margin: 10px 20% 10px 20%;">Update Assignment</button>
-->

<!--
        <button id="get_assignment" type="button" (click)="getAssignment(assignmentNo?.value, title?.value)" style="display: block;
    float: right;
    clear: both;
    background-color: lightgray;
    width: 150px; 
    height: 75px;
    color: red;
    font-size: 14px;
    font-weight: bold;
    border: 10px lightgray;
    border-style: groove solid outset;
    margin: 10px 20% 10px 20%;">Search Assignment</button>
-->
    </div>

    <!-- to be removed -->
    <div style="display: block; clear: both;">
        Assignment No: {{this.formFieldObject?.assignmentNo}} <br/>
        Title: {{this.formFieldObject?.title}} <br/>
        Detail Description: {{this.formFieldObject?.detailDescription}}
    </div>
</div>