<app-breadcumb [title]="breadcumb?.title" [path]="breadcumb?.path"></app-breadcumb>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div [formGroup]="companyForm" class="company-form-area">

                <mat-form-field class="field-full-width">
                    <input type="text" matInput formControlName="name" placeholder="Name">
                </mat-form-field>

                <!-- <ng-container *ngIf="!data"> -->

                    <br />

                    <ng-select placeholder="Select Company Type" formControlName="type">
                        <ng-option *ngFor="let cName of companyTypes" [value]="cName">
                            {{ cName }}
                        </ng-option>
                    </ng-select>

                    <h6>Enter Company Location:</h6>
                    <mat-form-field class="field-full-width">
                        <input type="text" matInput placeholder="Search Location" #searchLocation>
                        <mat-icon matSuffix (click)="locationService?.setCurrentLocation(locationFormGroup)">my_location
                        </mat-icon>
                    </mat-form-field>

                    <div *ngIf="locationFormGroup.get('latitude').value || locationFormGroup.get('longitude').value">
                        <agm-map [latitude]="locationFormGroup.get('latitude').value"
                            [longitude]="locationFormGroup.get('longitude').value" [zoom]="zoom">
                            <agm-marker [latitude]="locationFormGroup.get('latitude').value"
                                [longitude]="locationFormGroup.get('longitude').value" [markerDraggable]="true"
                                (dragEnd)="locationService?.markerDragEnd($event, locationFormGroup)"></agm-marker>
                        </agm-map>
                    </div>

                    <mat-form-field class="field-full-width" [formGroupName]="'location'">
                        <textarea type="text" matInput formControlName="address" placeholder="Address"></textarea>
                        <!-- <mat-icon matSuffix>location</mat-icon> -->
                    </mat-form-field>

                    <ng-select placeholder="Select Cities" [addTag]="addCitiesFn" [items]="allCities"
                        formControlName="cities" [multiple]="true" bindLabel="name">
                    </ng-select>

                    <br />
                    <h6>Description</h6>
                    <br />

                    <app-editor *ngIf="descriptionFormControl?.value && edit; else add"
                        (output)="descriptionFormControl.setValue($event)" [data]="descriptionFormControl?.value"
                        [id]="'edit-company-editor'"></app-editor>


                    <ng-template #add>
                        <app-editor *ngIf="!edit" (output)="descriptionFormControl.setValue($event)"
                            [id]="'company-editor'"></app-editor>
                    </ng-template>

                    <br />

                <!-- </ng-container> -->
                <!-- <h6>Ideas:</h6>
                <br />

                <app-editor *ngIf="ideasFormControl?.value && edit; else addIdeas" (output)="ideasFormControl.setValue($event)"
                    [data]="ideasFormControl?.value" [id]="'edit-ideas-editor'" [placeholder]="'Add Ideas!'"></app-editor>


                <ng-template #addIdeas>
                    <app-editor *ngIf="!edit" (output)="ideasFormControl.setValue($event)" [id]="'ideas-editor'" [placeholder]="'Add Ideas!'"></app-editor>
                </ng-template>

                <br /> -->
                <!-- <h6>Questions:</h6>
                <br />

                <app-editor *ngIf="questionsFormControl?.value && edit; else addQuestions" (output)="questionsFormControl.setValue($event)"
                    [data]="ideasFormControl?.value" [id]="'edit-questions-editor'" [placeholder]="'Add Questions!'"></app-editor> -->


                <!-- <ng-template #addQuestions>
                    <app-editor *ngIf="!edit" (output)="questionsFormControl.setValue($event)" [id]="'questions-editor'" [placeholder]="'Add Questions!'"></app-editor>
                </ng-template> -->



                <br />

                <div fxLayout="row" fxLayoutGap="10px">
                    <button type="button" (click)="submit('Published')" [disabled]="companyForm?.invalid"
                        mat-raised-button color="primary">{{ idFromControl?.value ? 'Update' : 'Save' }}</button>
                </div>

            </div>

        </div>
    </div>
</div>