<app-breadcumb [title]="breadcumb?.title" [path]="breadcumb?.path"></app-breadcumb>


<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div *ngIf="companyForm" [formGroup]="companyForm" class="company-form-area common-box-shadow">

                <mat-form-field class="field-full-width">
                    <input type="text" matInput formControlName="name" placeholder="Name">
                </mat-form-field>

                <!-- <ng-container *ngIf="!data"> -->

                <br />

                <ng-select placeholder="Select Company Type" formControlName="type">
                    <ng-option *ngFor="let cName of companyTypes" [value]="cName">
                        {{ cName }}
                    </ng-option>
                </ng-select>

                <app-autocomplete class="field-full-width" [allowToAdd]="false"
                    [autoComplete]="companyForm?.get('owners')" [placeholder]="'Select Owner'"
                    [collection]="'users'" [type]="" [multiple]="true" matInput>
                </app-autocomplete>

                <mat-form-field class="field-full-width" [formGroupName]="'location'">
                    <textarea type="text" matInput formControlName="address" placeholder="Address"></textarea>
                    <!-- <mat-icon matSuffix>location</mat-icon> -->
                </mat-form-field>

                <app-autocomplete [autoComplete]="companyForm?.get('cities')" [placeholder]="'cities'"
                    [collection]="'cities'" [type]="" [multiple]="true"></app-autocomplete>

                <br />
                <!-- <h6>Description</h6>
                <br /> -->

                <!-- <app-editor #descriptionEditor [data]="descriptionFormControl?.value" [id]="'edit-company-editor'">
                </app-editor> -->

                <!-- <br /> -->

                <div fxLayout="row" fxLayoutGap="10px">
                    <button type="button" (click)="submit('Published')" [disabled]="companyForm?.invalid"
                        mat-raised-button color="primary">{{ idFromControl?.value ? 'Update' : 'Save' }}</button>
                </div>

            </div>

        </div>

        <div class="col-md-4">

            <mat-list class="company-form-area common-box-shadow">
                <h3 style="font-size: large;" mat-subheader>Companies:</h3>
                <mat-list-item *ngFor="let cc of listOfCompanies; let last=last">
                    <!-- <mat-icon mat-list-icon>folder</mat-icon> -->
                    <img height="35px" width="35px" style="border-radius: 50%;"
                        [src]="cc?.createdBy?.avatar ? ((s3FilesBucketURL + cc.createdBy.avatar) | safe: 'resourceUrl') : anonymousAvatar">
                    <h4 mat-line (click)="companyService?.redirectToCompanyDetails(cc?._id, cc?.slug)"><a>{{cc?.name}}</a></h4>
                    <p mat-line> {{cc?.createdAt | date}} </p>
                </mat-list-item>
                <div class="pagination-area" *ngIf="listOfCompanies?.length < totalCompanies">
                    <span style="text-decoration: underline; cursor: pointer;"
                        (click)="companiesPageNumber = companiesPageNumber + 1; fetchCompanies(companiesPageNumber)">+
                        Load More{{'(' + (totalCompanies - listOfCompanies?.length) + ')'}}</span>
                </div>
            </mat-list>
        </div>
    </div>
</div>