.askforhelp-form-area {
    background: #fff;
    padding: 32px;
    margin-bottom: 30px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.field-full-width {
    width: 100%;
    margin: 20px 0 20px 0;
}







// .cdx-codeplus__textarea {
//     min-height: 200px;
//     font-family: Menlo, Monaco, Consolas, Courier New, monospace;
//     color: #41314e;
//     line-height: 1.6em;
//     font-size: 12px;
//     background: #f8f7fa;
//     border: 1px solid #f1f1f4;
//     box-shadow: none;
//     white-space: pre;
//     word-wrap: normal;
//     overflow-x: auto;
//     resize: vertical;
// }

// .cdx-codeplus__language {
//     width: 100%;
//     cursor: pointer;
//     padding-right: 2em;
//     border: none;
//     background: transparent;
//     background-image: none;
//     -webkit-appearance: none;
//     -moz-appearance: none;
//     appearance: none;
//     text-indent: 0.01px;
//     text-overflow: '';
// }