<!-- <div class="container"> -->
    <!-- <div class="chat-header">
        <h3>Start your chat</h3>
    </div> -->
    <div class="main-container">
        <div *ngFor="let c of comments">
            <div [id]="c?._id" style="padding-left: 3px; padding-right: 3px;"
                *ngIf="!c?.blockSpecificComment" class="single-thread">
                <app-comment [comment]="c" [referenceId]="cDetails?._id"></app-comment>
                <!-- <div class="media-left"> -->
                    <!-- <a [routerLink]="['/', 'dashboard', 'profile', c?.createdBy?._id ]"> -->
                        <!-- <img class="author_avatar_comment" style="width: 45px; height: 45px;"
                            [src]="c?.createdBy?.avatar ? ((s3FilesBucketURL + c.createdBy.avatar) | safe: 'resourceUrl') : anonymousAvatar"
                            alt="Commentator Avatar"> -->
                    <!-- </a> -->
                <!-- </div> -->
                <!-- <app-editor
                [editorStyle]="{padding: '0 15px', 'border-radius': '19px', background: '#f2f3f5', border: 'solid 0.5px rgb(236, 236, 236)'}"
                [readOnly]="edit ? false : true" #singleCommentEditor [data]="c?.text"
                [id]="'c-' + c._id"></app-editor> -->
            </div>
        </div>
        <!-- <app-editor [id]="'comment-editor'" #addCommentEditor
            [editorStyle]="{padding: '0 15px', 'border-radius': '19px', background: '#f2f3f5', border: 'solid 0.5px rgb(236, 236, 236)'}">
        </app-editor> -->
        <mat-icon class="send-button">send</mat-icon>
    </div>
<!-- </div> -->