.main-container {
    background-color: #ffffff;
    overflow-y: scroll;
    height: 90%;
}

.send-button {
    position: fixed;
    bottom: 15px;
    right: 20px;
}

.chat-header {
    background-color: #9879cf;
}