<div class="container row" style="margin: auto; padding-top: 45px;">
  <div class="col-md-9 col-xs-9">
    <div class="eligibility-form-heading">
      <h1 class="text-center">CHECK YOUR ELIGIBILITY NOW</h1>
      <p class="text-center"><strong style="font-size:125%;">Please answer a few questions to learn how many programs
          may be available to you.</strong></p>
    </div>
    {{dialog?.openDialogs?.length}}
    <div *ngIf="isBrowser()">
      <formio [form]="form1" (change)="!dialog?.openDialogs?.length ? onChange($event) : ''" (submit)="onSubmitForm1($event)"></formio>
    </div>
  </div><!-- /.col -->

  <div class="sidebar-primary col-md-3 col-xs-3">
    <div class="resultscontent">
      <div class="preview">
        <h3>Matched Programs</h3>
      </div>
      <div aria-live="polite" class="preview preview-results" role="status">
        <p>{{programCount}}<span class="sr-only"> matched programs. Press
            enter to show the results page.</span></p>
      </div>
      <div class="preview preview-button"><input
          class="btn btn-primary btn-block" (click)="openDialog()" name="commit" tabindex="400" type="submit"
          value="GET DETAILS"></div>
    </div>
    <!-- <div class="resultscontent">
      <div class="preview">
        <h3>Matched Programs</h3>
      </div>
      <div class="preview preview-results" role="status" aria-live="polite">
        <p>{{programCount}}<span class="sr-only"> matched programs. Press enter to show the results page.</span></p>
      </div>
      <div class="preview preview-button">
        <input class="btn btn-primary btn-block" tabindex="400" (click)="openDialog()" type="submit" name="commit"
          value="Get Details" data-tracking-pixel="get-details">
      </div>
    </div> -->

  </div><!-- /.col -->
</div>