<app-breadcumb [title]="breadcumb?.title"></app-breadcumb>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div [formGroup]="contactForm" class="add-form-area common-box-shadow">
                <mat-form-field class="field-full-width">
                    <input type="text" matInput formControlName="firstName" placeholder="First Name">
                </mat-form-field>

                <br />

                <mat-form-field class="field-full-width">
                    <input type="text" matInput formControlName="lastName" placeholder="Last Name">
                </mat-form-field>

                <br />
                
                <mat-form-field class="field-full-width">
                    <input type="email" matInput formControlName="email" placeholder="Email Address">
                </mat-form-field>
                <br />
    
                <mat-form-field class="field-full-width">
                    <input type="text" matInput formControlName="phone" placeholder="Phone Number">
                </mat-form-field>

                <br />

                <mat-form-field class="field-full-width">
                    <textarea type="text" matInput formControlName="address" placeholder="Address"></textarea>
                </mat-form-field>

                <br />

                <mat-form-field class="field-full-width">
                    <input type="date" matInput formControlName="showDate" placeholder="Pick Date">
                </mat-form-field>

                <br />

                <div fxLayout="row" fxLayoutGap="10px">
                    <button type="button" (click)="submit()" mat-raised-button color="primary">Submit</button>
                </div>

            </div>

        </div>
    </div>
</div>