.site2css #intro {
    background: #eee;
}
.site2css #intro {
    padding: 35px 10px;
    background: #f6f6f6;
    border-bottom: 1px solid #E5E5E5;
}

.site2css .wrap-safari {
    display: block;
    height: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

.site2css #intro #intro-core {
    display: table;
    width: 100%;
}

.site2css #pre-header-core, #header-core, #content-core, #footer-core, #sub-footer-core, #sub-footer-widgets, #sub-footer-close, #notification-core, #intro-core, #introaction-core, #outroaction-core {
    display: block;
    max-width: 1140px;
    margin: 0 auto;
}


.site2css h1 {
    color: #964522;
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 400;
    margin-left: 10px;
    text-transform: none;
}


.site2css #intro .page-title {
    font-size: 40px;
    font-weight: 300;
    color: #115172;
    margin: 0px;
    display: table-cell;
}

.site2css #intro .page-title {
    color: #1e1e1e;
    font-weight: 700;
}

.site2css #intro.option1 .page-title {
    width: 100%;
}

.site2css #content {
    font-weight: 300;
    clear: both;
    margin: 0;
    padding: 30px 10px;
}

.site2css #pre-header-core, #header-core, #content-core, #footer-core, #sub-footer-core, #sub-footer-widgets, #sub-footer-close, #notification-core, #intro-core, #introaction-core, #outroaction-core {
    display: block;
    max-width: 1140px;
    margin: 0 auto;
}


.site2css p {
    color: #964522;
    font-family: 'Helvetica';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    margin-left: 28px;
    margin-right: 28px;
    text-transform: none;
}

.site2css p {
    margin-bottom: 20px;
}


.site2css .wpcf7-form p {
    font-size: 15px;
    line-height: 35px;
    margin-bottom: 10px;
}


.site2css html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, cite, del, dfn, em, font, q, s, samp, strike, strong, ol, ul, li, fieldset, form, label, legend, tbody, tfoot, thead, tr {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}

.site2css input[type=text], input[type=email], input[type=password], input[type=search], input[type=tel], select, textarea, input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, input[type=search]:focus, input[type=tel]:focus, select:focus, textarea:focus {
    background-color: #f7f7f7;
    outline: none;
    border: none;
}

.site2css .wpcf7-form input {
    width: 100%;
}

.site2css input[type=text], input[type=email], input[type=password], input[type=search], input[type=tel], select, textarea {
    background: white;
    border: 1px solid #E5E5E5;
    padding: 10px 20px;
}


.site2css .wpcf7-form textarea {
    height: 130px;
    min-height: 68px;
}


.site2css input[type=text], input[type=email], input[type=password], input[type=search], input[type=tel], select, textarea, input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, input[type=search]:focus, input[type=tel]:focus, select:focus, textarea:focus {
    background-color: #f7f7f7;
    outline: none;
    border: none;
}


.site2css .last {
    clear: right;
    margin-right: 0px !important;
}



.site2css input[type="radio"] {
    padding: 0;
}

.site2css .wpcf7-form input[type="submit"] {
    width: inherit;
    padding: 8px 30px;
}


.site2css .themebutton, button, html input[type="button"], input[type="reset"], input[type="submit"] {
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    box-shadow: none;
}


.site2css .themebutton, button, html input[type="button"], input[type="reset"], input[type="submit"] {
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    box-shadow: none;
}

.site2css .wpcf7-form input {
    width: 100%;
}
.site2css .themebutton, button, html input[type="button"], input[type="reset"], input[type="submit"] {
    overflow: hidden;
    color: #FFF;
    text-align: center;
    background: #115172;
    border: none;
    margin: 4px;
    border: 2px solid rgb(255, 255, 255);
    -webkit-box-shadow: 0 0 0 4px rgba(17, 81, 114, 0.2);
    -moz-box-shadow: 0 0 0 4px rgba(17, 81, 114, 0.2);
    -ms-box-shadow: 0 0 0 4px rgba(17, 81, 114, 0.2);
    -o-box-shadow: 0 0 0 4px rgba(17, 81, 114, 0.2);
    box-shadow: 0 0 0 4px rgba(17, 81, 114, 0.2);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
