<div id="content" class="site2css" style="background: #ad7cea;">

<div id="intro" class="option1" style="
margin-left: 273px;
margin-right: 273px;
">
    <div class="wrap-safari">
        <div id="intro-core">
            <h1 class="page-title"><span>Contact</span></h1>
        </div>
    </div>
</div>

    <div id="content-core">
        <div id="main">
            <div id="main-core" style="
            background: #FFFF;
        ">
                <p>Thank you very much for visiting my website.
                </p>
                <p>Please indicate in the “Your Message” box whether you are interested in a <strong>free 30-minute
                        consultation</strong>, or if you are signing up for <strong>Thursday Thoughts</strong>.</p>
                <p>Thank you.</p>
                <div>
                    <div class="screen-reader-response"></div>
                    <form  [formGroup]="contactForm" class="formclass1" (ngSubmit)="submitContact()">
                        <p>Your Name * <br>
                            <span class="wpcf7-form-control-wrap your-name"><input formControlName="name" type="text" value=""
                                    size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                    aria-required="true"></span> </p>
                        <p>Your Email *<br>
                            <span class="wpcf7-form-control-wrap your-email"><input formControlName="email" type="email"
                                    value="" size="40"
                                    class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
                                    aria-required="true" ></span> </p>
                        <p>Subject<br>
                            <span class="wpcf7-form-control-wrap your-subject"><input formControlName="subject" type="text" name="your-subject"
                                    value="" size="40" class="wpcf7-form-control wpcf7-text"></span> </p>
                        <p>Your Message<br>
                            <span class="wpcf7-form-control-wrap your-message"><textarea formControlName="description" name="your-message" cols="40"
                                    rows="10" class="wpcf7-form-control wpcf7-textarea"></textarea></span> </p>
            
                        <p><input type="submit" value="Send" class="wpcf7-form-control wpcf7-submit"></p>
                        <div class="wpcf7-response-output wpcf7-display-none"></div>
                    </form>
                </div>
            </div><!-- #main-core -->
        </div><!-- #main -->
    </div>
</div>