<!-- <button mat-icon-button [matMenuTriggerFor]="menu" class="menu">
  <mat-icon>library_add</mat-icon>
  <mat-icon>keyboard_arrow_down</mat-icon>
</button> -->

<a class="btn btn--sm btn--round menu" #addPostMenu="matMenuTrigger" [matMenuTriggerFor]="menu">{{label}}
  <!-- <mat-icon style="vertical-align: middle;">library_add</mat-icon> -->
  <mat-icon style="vertical-align: middle;">keyboard_arrow_down</mat-icon>
</a>
<mat-menu #menu="matMenu" [yPosition]="'below'" [xPosition]="'after'" [overlapTrigger]="false">

  <ng-container *ngFor="let p of postTypesArray">
    <button mat-menu-item [routerLink]="['/', 'add-post']" [queryParams]="{type: p.name}">
      <i style="font-size: 1.7rem !important;"
        [class]="'vertical-align-middle fal fa-' + icons[p.name] + ' fa-fw'"></i>
      <span style="text-transform: capitalize;"> {{p.name}}</span>
    </button>
  </ng-container>


  <!-- SEND EMAIL -->
  <button mat-menu-item [routerLink]="['/', 'post', 'send-' + postTypes.Email]">
    <i style="font-size: 1.7rem !important;" [class]="'vertical-align-middle fal fa-' + icons['dream-job'] + ' fa-fw'"></i>
    <span> Email</span>
  </button>

</mat-menu>