<!-- <p>product-details works!</p> -->

<!-- {{productDetails$ | async | json }} -->
<ng-container *ngIf="(details$ | async) as details">
    <!--================================
        START BREADCRUMB AREA
    =================================-->

    <app-breadcumb [title]="details?.name" [path]="breadcumb?.path" [eventDate]="details?.dateRange"></app-breadcumb>

    <!--================================
            END BREADCRUMB AREA
    =================================-->





    <!--============================================
        START SINGLE PRODUCT DESCRIPTION AREA
    ==============================================-->
    <section class="single-product-desc">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">

                    <div class="item-info">
                        <div>
                            <div class="tab-pane fade show product-tab active" id="product-details">
                                <div class="tab-content-wrapper">
                                    <!-- <quill-view *ngIf="product?.description; else noDescription;" [modules]="modules"
                                        [content]="product.description" format="text" theme="snow"></quill-view> -->

                                    <app-editor [readOnly]="true" [data]="details?.description" [id]="'details-editor'">
                                    </app-editor>

                                    <br />
                                    <br />
                                    <h2>Support Details:</h2>

                                    <app-editor *ngIf="details?.support?.description" [readOnly]="true"
                                        [data]="details?.support?.description" [id]="'details-support-editor'">
                                    </app-editor>
                                    <ng-template #noDescription>
                                        <span>No Description</span>
                                    </ng-template>
                                    <!-- <h2>Features With Image:</h2>
                                    <img src="images/apspr.jpg" alt="This is product description thumbnail"> -->
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade show product-tab">
                            <div class="thread">
                                <ul class="media-list thread-list" style="list-style: none;">
                                    <h4 class="tab-content-wrapper">Comments:</h4>
                                    <li class="single-thread" *ngFor="let c of commentsList">

                                        <app-comment [comment]="c" [referenceId]="details?._id"></app-comment>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="comment-form-area">
                            <h4>Leave a comment</h4>
                            <!-- comment reply -->
                            <div class="media comment-form">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="author_avatar_comment"
                                            [src]="authService?.loggedInUser?.avatar ? ((codemarketBucketURL + authService?.loggedInUser?.avatar) | safe: 'resourceUrl') : anonymousAvatar"
                                            alt="Commentator Avatar">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <div [formGroup]="commentForm" class="comment-reply-form">
                                        <app-editor [id]="'comment-editor'" (output)="updateFormData($event)">
                                        </app-editor>
                                        <!-- <textarea formControlName="text" name="reply-comment" placeholder="Write your comment..."></textarea> -->
                                        <button type="button" class="btn btn--sm btn--round" (click)="addComment()">Post
                                            Comment</button>
                                    </div>
                                </div>
                            </div>
                            <!-- comment reply -->
                        </div>
                    </div>

                    <!-- end /.item-info -->
                </div>
                <!-- end /.col-md-8 -->

                <div class="col-lg-4">
                    <aside class="sidebar sidebar--single-product">


                        <div class="author-card sidebar-card " *ngIf="details?.createdBy?.name">
                            <div class="card-title">
                                <h4>Author Information</h4>
                            </div>

                            <div class="author-infos">
                                <div class="author_avatar">
                                    <img [src]="details?.createdBy?.avatar ? ((codemarketBucketURL + details.createdBy.avatar) | safe: 'resourceUrl') : anonymousAvatar"
                                        alt="Presenting the broken author avatar :D">
                                </div>

                                <div class="author">
                                    <a
                                        [routerLink]="['/', {outlets: {'main': ['dashboard', 'profile', details?.createdBy?._id ]}}]">
                                        <h4>{{details?.createdBy?.name}}</h4>
                                    </a>
                                    <button
                                        *ngIf="details?.createdBy?._id && authService?.loggedInUser?._id && authService?.loggedInUser?._id !== details?.createdBy?._id"
                                        (click)="openDialog(details?.createdBy?._id)" mat-mini-fab color="primary">
                                        <mat-icon>video_call</mat-icon>
                                    </button>
                                    <!-- <p>Signed Up: 08 April 2016</p> -->
                                </div>
                                <!-- end /.author -->

                                <div class="social social--color--filled">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <span class="fab fa-facebook fa-lg"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="fab fa-github fa-lg"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="fab fa-linkedin fa-lg"></span>
                                            </a>
                                        <li>
                                            <a href="#">
                                                <i class="fab fa-stack-overflow"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- end /.social -->

                                <div class="author-btn">
                                    <a [routerLink]="['/', {outlets: {'main': ['dashboard', 'profile', details?.createdBy?._id ]}}]"
                                        class="btn btn--sm btn--round">View Profile</a>
                                    <!-- <a href="#" class="btn btn--sm btn--round">Message</a> -->
                                </div>
                            </div>
                            <!-- end /.author-infos -->


                        </div>
                        <!-- end /.author-card -->


                        <div class="sidebar-card card-pricing card--pricing2">
                            <div class="price">
                                <h1>
                                    <span>{{details?.price | currency}}</span>
                                    <!-- <sup>$</sup> -->
                                </h1>
                            </div>

                            <div class="purchase-button" *ngIf="details?.type === 'event'">
                                <!-- <a href="#" class="btn btn--lg btn--round">Purchase Now</a> -->

                                <!-- Check if the product is in cart -->
                                <a *ngIf="true; else productIsInCart" (click)="rsvpEvent(details?._id)"
                                    class="btn btn--lg btn--round cart-btn" style="padding: 12px;">
                                    <!-- <span class="lnr lnr-cart"></span> -->
                                    <h5>RSVP</h5>
                                </a>

                                <!-- Show product addedd to cart if product is already in the cart -->
                                <ng-template #productIsInCart>
                                    <a class="btn btn--lg btn--round cart-btn">
                                        <mat-icon style="vertical-align: middle">done</mat-icon> Added To Cart
                                    </a>
                                </ng-template>
                            </div>

                        </div>



                        <div class="sidebar-card card--product-infos">
                            <div class="card-title">
                                <h4>Information</h4>
                            </div>

                            <ul class="infos">
                                <li>
                                    <p class="data-label">Likes</p>
                                    <p class="info" *ngIf="authService?.loggedInUser; else likeCount">
                                        <app-like-dislike [data]="details" [type]="type" [likeCount]="null">
                                        </app-like-dislike>
                                    </p>
                                    <ng-template #likeCount>
                                        <p class="info">
                                            {{details?.likeCount}}
                                        </p>
                                    </ng-template>
                                </li>
                                <li *ngIf="details?.createdAt">
                                    <p class="data-label">Created</p>
                                    <p class="info">{{getDate(details?.createdAt) | date: 'dd/MM/yyyy'}}</p>
                                </li>
                                <li *ngIf="details?.updatedAt">
                                    <p class="data-label">Updated</p>
                                    <p class="info">{{getDate(details?.updatedAt) | date: 'dd/MM/yyyy'}}</p>
                                </li>
                                <li *ngIf="details?.dateRange && details?.dateRange?.length">
                                    <p class="data-label">Event Dates</p>
                                    <p class="info">{{details?.dateRange[0] | date: 'dd/MM/yyyy hh:ss'}} -
                                        {{details?.dateRange[1] | date: 'dd/MM/yyyy hh:ss'}}</p>
                                </li>
                                <li *ngIf="details?.address">
                                    <p class="data-label">Address</p>
                                    <p class="info">{{details?.address}}</p>
                                </li>
                                <!-- <li>
                                    <p class="data-label">Version</p>
                                    <p class="info">{{details?.version}}{{'-'}}</p>
                                </li> -->
                                <li>
                                    <p class="data-label">Category</p>
                                    <p class="info" *ngFor="let t of details?.tags">{{t?.name + ','}}</p>
                                </li>
                                <li>
                                    <p class="data-label">Support</p>
                                    <p class="info">{{details?.support?.time}} {{ 'Minutes'}}</p>
                                </li>
                            </ul>
                        </div>
                        <!-- end /.aside -->

                        <div class="author-card sidebar-card ">
                            <div class="card-title">
                                <h4>Share:</h4>
                                <br />
                                <div class="social social--color--filled">
                                    <ul>
                                        <li>
                                            <button mat-fab shareButton="facebook"
                                                [style.backgroundColor]="share?.prop?.facebook.color">
                                                <fa-icon [icon]="share?.prop?.facebook.icon" size="lg"></fa-icon>
                                            </button>
                                        </li>
                                        <li>
                                            <button mat-fab shareButton="twitter"
                                                [style.backgroundColor]="share?.prop?.twitter.color">
                                                <fa-icon [icon]="share?.prop?.twitter.icon" size="lg"></fa-icon>
                                            </button>
                                        </li>
                                        <li>
                                            <button mat-fab shareButton="linkedin"
                                                [style.backgroundColor]="share?.prop?.linkedin.color">
                                                <fa-icon [icon]="share?.prop?.linkedin.icon" size="lg"></fa-icon>
                                            </button>
                                        <li>
                                            <button mat-fab shareButton="whatsapp"
                                                [style.backgroundColor]="share?.prop?.whatsapp.color">
                                                <fa-icon [icon]="share?.prop?.whatsapp.icon" size="lg"></fa-icon>
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>

                        <div class="author-card sidebar-card " *ngIf="details?.type === 'event'">
                            <div class="card-title">
                                <h4>Attendees: {{ details?.usersAttending?.length }}</h4>
                                <br />

                                <ng-container class="row" *ngFor="let attendee of details?.usersAttending">
                                    <div class="col-md-12" style="margin-bottom: 10px;">
                                        <div class="author_avatar_comment" style="vertical-align: middle;">
                                            <img [src]="attendee?.avatar ? ((codemarketBucketURL + attendee.avatar) | safe: 'resourceUrl') : anonymousAvatar"
                                                alt="Presenting the broken author avatar :D">
                                        </div>
                                        <div class="autor__info">
                                            <a
                                                [routerLink]="['/', {outlets: {'main': ['dashboard', 'profile', attendee?._id ]}}]">
                                                <p class="name">
                                                    {{attendee?.name}}
                                                </p>
                                            </a>
                                            <!-- <p class="ammount">{{fromNow(pu?.createdAt)}}</p> -->
                                        </div>
                                    </div>

                                </ng-container>
                            </div>
                        </div>

                    </aside>
                    <!-- end /.aside -->
                </div>
                <!-- end /.col-md-4 -->
            </div>
            <!-- end /.row -->
        </div>
        <!-- end /.container -->
    </section>
    <!--===========================================
            END SINGLE PRODUCT DESCRIPTION AREA
        ===============================================-->

</ng-container>

<swal #successfulRSVP title="RSVP Successful!" type="success" [showConfirmButton]="false">
    <div *swalPartial class="alert alert-info">
        <p>You have been successfully added in the list of Attendees</p>`
        <p>You can visit the list of events you have RSVP for: By Clicking 
        <p></p>
        <a class="btn btn--sm btn--round" [routerLink]="['/', {outlets: {'main': ['dashboard', 'my-profile', 'my-rsvp']}}]">My RSVP Events</a>
    </div>
</swal>