<!--============================================
        START SINGLE POST DETAILS AREA
==============================================-->
<ng-container *ngIf="(details$ | async) as details">
    <!--================================
        START BREADCRUMB AREA
    =================================-->

    <app-breadcumb (editPost)="postService?.editPost(details)"
        [showEditPostDetails]="(details?.createdBy?._id === authService?.loggedInUser?._id || collaborators.indexOf(authService?.loggedInUser?._id) >= 0) ? true : false"
        [showAddCollaborators]="details?.createdBy?._id === authService?.loggedInUser?._id ? true : false"
        [showShareButtons]="true" [showAddClients]="details?.createdBy?._id === authService?.loggedInUser?._id"
        [postDetails]="postDetails" [title]="details?.name" [path]="breadcumb?.path" [eventDate]="details?.dateRange"
        [postDetails]="details" [postForm]="postForm" [inline]="true">
    </app-breadcumb>

    <!--================================
            END BREADCRUMB AREA
    =================================-->

    <!--============================================
        START SINGLE POST DESCRIPTION AREA
    ==============================================-->
    <section class="single-product-desc">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <!-- Based On the List Of Post Types -->
                    <app-post-type-nav [selectedPostType]="selectedPostType"
                     (postTypeClick)="selectedBlock = null; getConnectedPosts($event?.name); showConnectedPosts = true"
                     (plusButtonClick)="redirectToAddPost(details, $event)"
                     ></app-post-type-nav>
                    <!-- <div class="docs-component-viewer-nav common-box-shadow" style="margin-bottom: 20px;">
                        <div class="docs-component-viewer-nav-content">
                            <div *ngFor="let p of postTypesArray; let last = last;">
                                <button cdkAccordionItem class="docs-nav-content-btn"
                                    [ngClass]="selectedPostType === p.name ? 'docs-component-viewer-sidenav-item-selected' : ''">
                                    <span
                                        (postTypeClick)="getConnectedPosts($event); showConnectedPosts = true">{{p.label}}</span>
                                    <mat-icon (plusButtonClick)="redirectToAddPost(details, $event)">add</mat-icon>
                                </button>
                                <hr *ngIf="!last" />
                            </div>
                        </div>
                    </div> -->
                </div>
                <div *ngIf="!showConnectedPosts" [ngClass]="selectedBlock ? 'col-lg-6 col-md-6' : 'col-lg-10 col-md-10'" style="padding: 0;">

                    <div class="item-info">
                        <div>
                            <div class="tab-pane fade show product-tab active" id="product-details">
                                <article>
                                    <app-editor
                                        (showComments)="showCommentsOnSide($event)"
                                        [data]="details?.description"
                                        [commentsList]="commentService?.commentsList$ | async"
                                        [blockLevelComments]="false" [readOnly]="true"
                                        [id]="'details-editor'" [html]="details?.descriptionHTML" [post]="details" [commentType]="'post'">
                                    </app-editor>

                                    <br />

                                    <ng-template #noDescription>
                                        <span>No Description</span>
                                    </ng-template>
                                </article>
                            </div>

                            <ng-container *ngTemplateOutlet="addCommentTemplate; context: {details: details}">
                            </ng-container>
                        </div>

                    </div>

                    <!-- end /.item-info -->
                </div>
                <!-- end /.col-md-8 -->

                <div *ngIf="!showConnectedPosts" class="col-md-6 col-lg-4">
                    <!-- <aside class="sidebar sidebar--single-product"> -->

                        <ng-container *ngTemplateOutlet="addBlockLevelCommentTemplate; context: {details: details, comments: (commentService?.commentsList$ | async)}">
                        </ng-container>


                        <div class="sidebar-card card-pricing card--pricing2" *ngIf="details?.type !== 'dream-job' && false">

                            <div class="purchase-button" *ngIf="details?.type === 'event'">
                                <!-- <a href="#" class="btn btn--lg btn--round">Purchase Now</a> -->

                                <h3 style="text-align: center;" *ngIf="isUserAttending; else eventRSVP"
                                    (click)="cancelRSVP(details?._id)">
                                    You are going
                                    <button color="warn" mat-mini-fab
                                        aria-label="Example icon-button with a heart icon">
                                        <mat-icon>close</mat-icon>
                                    </button></h3>
                                <!-- <a
                                    class="btn btn--lg btn--round cart-btn" style="padding: 12px;">
                                    <h5>Cancel RSVP</h5>
                                </a> -->
                                <ng-template #eventRSVP>
                                    <h3 style="text-align: center;" (click)="rsvpEvent(details?._id)">Are you going?
                                        <button color="primary" mat-mini-fab
                                            aria-label="Example icon-button with a heart icon">
                                            <mat-icon>done</mat-icon>
                                        </button></h3>

                                    <!-- <mat-icon>yes</mat-icon> -->
                                    <!-- <a (click)="rsvpEvent(details?._id)"
                                        class="btn btn--lg btn--round cart-btn" style="padding: 12px;">
                                        <h5></h5>
                                    </a> -->
                                </ng-template>
                            </div>

                        </div>

                        <div class="author-card sidebar-card " *ngIf="details?.type === 'event' && false">
                            <div class="card-title">
                                <h4>Attendees: {{ details?.usersAttending?.length }}</h4>
                                <br />

                                <ng-container class="row" *ngFor="let attendee of details?.usersAttending">
                                    <div class="col-md-12" style="margin-bottom: 10px;">
                                        <div class="author_avatar_comment" style="vertical-align: middle;">
                                            <img [src]="attendee?.avatar ? ((s3FilesBucketURL + attendee.avatar) | safe: 'resourceUrl') : anonymousAvatar"
                                                alt="Presenting the broken author avatar :D">
                                        </div>
                                        <div class="autor__info">
                                            <a [routerLink]="['/', 'dashboard', 'profile', attendee?._id ]">
                                                <p class="name">
                                                    {{attendee?.name}}
                                                </p>
                                            </a>
                                            <!-- <p class="ammount">{{fromNow(pu?.createdAt)}}</p> -->
                                        </div>
                                    </div>

                                </ng-container>
                            </div>
                        </div>

                    <!-- </aside> -->
                    <!-- end /.aside -->
                </div>
                <!-- end /.col-md-4 -->

                <div class="col-md-10 col-lg-10" *ngIf="showConnectedPosts">
                    <div class="row">
                        <div class="col-md-8">
                            <a mat-stroked-button color="primary" style="margin-bottom: 10px;" (click)="selectedBlock = null; showConnectedPosts = false; selectedPostType = ''">
                                <mat-icon>keyboard_arrow_left</mat-icon>Back
                            </a>
                            <div class="item-grid pen-grid item-grid-large">
                                <app-brief-post style="width: 100%;" [p]="e" *ngFor="let e of listOfConnectedPosts?.posts"
                                    [readMore]="true" (showComments)="showCommentsOnSide($event)"></app-brief-post>
                            </div>
                            <app-paginator [length]="totalOtherPosts"
                                (fetchData)="paginator = $event; getConnectedPosts(selectedPostType)">
                            </app-paginator>
                        </div>

                        <div class="col-md-4">
                            <ng-container *ngTemplateOutlet="addBlockLevelCommentTemplate; context: {details: selectedPost, comments: selectedPostComments | async}">
                            </ng-container>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end /.row -->
        </div>
        <!-- end /.container -->

        <!-- Start of chat box code -->

        <!-- <section class="chat-window docked" #chatWindow>
            <div class="chat-header" (click)="chatWindow.classList.toggle('docked')">
              <p>Live Chat</p>
              <span class="close"></span>
            </div>
            <div class="chat-body">
              <div class="message-container">
                <app-chat-box [comments]="commentService?.commentsList$ | async" [loggedInUserId]="authService?.loggedInUser?._id" [postDetails]="postDetails"></app-chat-box>
              </div>
            </div>
            <div class="chat-footer">
              <div class="form-area">
              </div>
            </div>
        </section> -->
        <!-- End of chat box code -->
    </section>
    <!--===========================================
            END SINGLE PRODUCT DESCRIPTION AREA
        ===============================================-->

</ng-container>


<!--============================================
        START COMPANY DETAILS
    ==============================================-->


<ng-template #addCommentTemplate let-cDetails="details">
    <div style="background: white;">
        <div class="tab-pane fade show product-tab">
            <div class="thread">
                <ul class="media-list thread-list" style="list-style: none;">
                    <!-- <h4 class="tab-content-wrapper">Comments:</h4> -->
                    <div *ngFor="let c of commentService?.commentsList$ | async; trackBy: trackByFn">
                        <li [id]="c?._id" style="padding-left: 30px; padding-right: 30px;"
                            *ngIf="!c?.blockSpecificComment || true" class="single-thread">
                            <app-comment [comment]="c" [referenceId]="cDetails?._id"></app-comment>
                        </li>
                    </div>
                </ul>
            </div>
        </div>

        <div class="comment-form-area">
            <app-add-comment *ngIf="commentForm" [showLabel]="true" [referenceId]="cDetails?._id"></app-add-comment>
        </div>

    </div>
</ng-template>

<swal #successfulRSVP title="RSVP Successful!" type="success" [showConfirmButton]="false">
    <div *swalPartial class="alert alert-info">
        <p>You have been successfully added in the list of Attendees</p>`
        <p>You can visit the list of events you have RSVP for: By Clicking
            <p></p>
            <a class="btn btn--sm btn--round" [routerLink]="['/', 'dashboard', 'my-profile', 'my-rsvp']">My RSVP
                Events</a>
    </div>
</swal>

<ng-template #addBlockLevelCommentTemplate let-cDetails="details" let-comments="comments">
    <!-- {{selectedBlock | json}} -->
    <aside class="sidebar" *ngIf="!(isHandset$ | async)">
        <app-comment-side-nav (closeCommentSideBar)="selectedBlock = null" [selectedBlock]="selectedBlock" [selectedPost]="cDetails" [comments]="comments"></app-comment-side-nav>
    </aside>
    <!-- <ng-container *ngIf="selectedBlock && (isHandset$ | async)">
        <mat-icon (click)="selectedBlock['__show'] = null; selectedBlock = null">close</mat-icon>
        <div class="sidebar-card" style="padding: 10px; width: fit-content;">
            <div class="tab-pane fade show product-tab">
                <div class="thread">
                    <ul class="media-list thread-list" style="list-style: none; padding-bottom: 0;">
                        <div *ngFor="let c of comments">
                            <li [id]="c?._id" *ngIf="c?.blockSpecificComment && c?.blockId === selectedBlock?._id"
                                class="single-thread">
                                <app-comment [comment]="c" [referenceId]="cDetails?._id"></app-comment>
                            </li>
                        </div>
                    </ul>
                </div>
            </div>

            <div class="comment-form-area" style="padding-left: 0; padding-right: 0;">
                <app-add-comment [referenceId]="cDetails?._id" [blockId]="selectedBlock?._id"
                    [showLabel]="true"></app-add-comment>
            </div>
        </div>
    </ng-container> -->
</ng-template>
