@import '../../../assets/css/theme';

@media (min-width: 1200px) {
  .container {
    max-width: 1335px !important;
  }
}

 aside.sidebar {
  position: sticky;
  max-height: 85vh;
  top: 55px;
  overflow: auto;

  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, .26);
  }

// Side Navbar CSS Ends here
  &::-webkit-scrollbar {
    height: 4px;
    width: 4px;
  }
}
