@import '../../../assets/css/theme';

@media (min-width: 1200px) {
  .container {
    max-width: 1335px !important;
  }
}

 aside.sidebar {
  position: sticky;
  max-height: 85vh;
  top: 55px;
  overflow: auto;

  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, .26);
  }

 .chat-box {
  position: fixed;
  z-index: 1000;
  bottom: 0;
  right: 30px;
  height: 0;
  overflow: visible;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  align-items: flex-end;
 }

 .msg-overlay-bubble-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 8px 0 8px;
  min-height: 30px;
  position: relative;
  background: #0674ec;
  border-bottom: 1px solid rgba(0,0,0,.15);
  border-radius: 2px 2px 0 0;
  border-radius: 8px;
  cursor: pointer;
 }

  .chat-button {
    background: transparent;
    max-width: 100px;
    color: white;
    border: none;
 }

 .flex-row {
  flex-direction: row!important;
}

.align-items-center {
  align-items: center!important;
}

.truncate {
  white-space: nowrap!important;
  overflow: hidden!important;
  text-overflow: ellipsis!important;
}

.chat-font-size {
  font-size: 1.2rem;;
}
// Side Navbar CSS Ends here
  &::-webkit-scrollbar {
    height: 4px;
    width: 4px;
  }
}
