<!--============================================
        START SINGLE POST DETAILS AREA
==============================================-->
<ng-container *ngIf="(details$ | async) as details">
    <!--================================
        START BREADCRUMB AREA
    =================================-->

    <app-breadcumb (editPost)="postService?.editPost(details)" [title]="details?.name" [path]="breadcumb?.path"
        [postDetails]="details" [postForm]="postForm">
    </app-breadcumb>

    <!--================================
            END BREADCRUMB AREA
    =================================-->

    <!--============================================
        START SINGLE POST DESCRIPTION AREA
    ==============================================-->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-0">
                    <!-- Based On the List Of Post Types -->
                    <app-post-type-nav *ngIf="false" [selectedPostType]="selectedPostType"
                        (postTypeClick)="selectedBlock = null; getConnectedPosts($event?.name); showConnectedPosts = true"
                        (plusButtonClick)="redirectToAddPost(details, $event)"></app-post-type-nav>
                </div>

                <div *ngIf="!showConnectedPosts" [ngClass]="selectedBlock ? 'col-lg-7 col-md-7' : 'col-lg-8 col-md-8'">

                    <div class="item-info">
                        <div>
                            <div class="tab-pane fade show product-tab active" id="product-details">
                                <article>
                                    <app-editor (showComments)="showCommentsOnSide($event)"
                                        [data]="details?.description"
                                        [commentsList]="commentService?.commentsList$ | async"
                                        [blockLevelComments]="false" [readOnly]="true" [realTime]="true"
                                        [role]="'writer'" [id]="'details-editor'" [html]="details?.descriptionHTML"
                                        [post]="details" [commentType]="'post'">
                                    </app-editor>

                                    <br />

                                    <ng-template #noDescription>
                                        <span>No Description</span>
                                    </ng-template>
                                </article>
                            </div>

                            <ng-container *ngTemplateOutlet="addCommentTemplate; context: {details: details}">
                            </ng-container>
                        </div>

                    </div>

                    <!-- end /.item-info -->
                </div>

                <div class="col-md-4 col-sm-12">
                    <ul class="row infos">


                        <li *ngIf="postDetails?.email && postDetails?.email?.length">
                            <p class="data-label">Email</p>
                            <p class="info">
                                <span class="tag" *ngFor="let t of postDetails?.email">{{t}}</span>
                            </p>
                        </li>

                        <li *ngIf="postDetails?.phone && postDetails?.phone?.length">
                            <p class="data-label">Phone</p>
                            <p class="info">
                                <span class="tag" *ngFor="let t of postDetails?.phone">{{t}}</span>
                            </p>
                        </li>

                        <!-- <li *ngIf="postDetails?.tags && postDetails?.tags?.length || fromAddPost"> -->
                        <li *ngIf="allowUsersEdit()">
                            <p class="data-label">Tags</p>
                            <p class="info">
                                <span class="tag" *ngFor="let t of postDetails?.tags">{{t?.name}}</span>
                            </p>
                            <span style="margin: 7px 0 0 5px;" [mdePopoverTriggerFor]="addTagsPopover"
                                mdePopoverTriggerOn="click"><i class="fa fa-plus-square" aria-hidden="true"></i></span>
                            <mde-popover #addTagsPopover="mdePopover" [mdePopoverOverlapTrigger]="false"
                                [mdePopoverCloseOnClick]="false" [mdePopoverArrowOffsetX]="8"
                                mdePopoverArrowColor="#FFFFFF">
                                <div style="background: #f8f9fb; padding: 10px;">
                                    <app-autocomplete [autoComplete]="postForm?.get('tags')" [collection]="'tags'"
                                        [multiple]="true" [placeholder]="'Tags'" [type]="'tag'"></app-autocomplete>
                                    <mat-icon (click)="addDataOfPost('tags')">
                                        send</mat-icon>
                                </div>
                            </mde-popover>
                        </li>

                        <li *ngIf="postDetails?.connectedPosts && postDetails?.connectedPosts?.length">
                            <p class="data-label">Reference Posts</p>
                            <p class="info">
                                <span style="text-decoration: underline;"
                                    *ngFor="let t of postDetails?.connectedPosts; let last=last;">
                                    <a style="color: white;" [href]="'/' + 'post' + '/' + t?.slug"
                                        target="_blank">{{t?.name}}
                                        {{last ? '' : ','}}</a>
                                </span>
                            </p>
                        </li>

                        <!-- <li *ngIf="postDetails?.collaborators && postDetails?.collaborators?.length || fromAddPost"> -->
                        <li *ngIf="allowUsersEdit()">
                            <p class="data-label">Collaborators</p>
                            <p class="info">
                                <a *ngFor="let t of postDetails?.collaborators; let i=index" target="_blank"
                                    [href]="'profile' + '/' + t?.slug">
                                    <span class="tag">
                                        <img [src]="t?.avatar ? ((s3FilesBucketURL + t?.avatar) | safe: 'resourceUrl') : anonymousAvatar"
                                            alt="">{{t?.name}}</span>
                                </a>
                                <span style="margin: 7px 0 0 5px;" [mdePopoverTriggerFor]="addCollaboratorsPopover"
                                    mdePopoverTriggerOn="click"><i class="fa fa-plus-square"
                                        aria-hidden="true"></i></span>

                                <mde-popover #addCollaboratorsPopover="mdePopover" [mdePopoverOverlapTrigger]="false"
                                    [mdePopoverCloseOnClick]="false" [mdePopoverArrowOffsetX]="8"
                                    mdePopoverArrowColor="#FFFFFF">
                                    <div style="background: #f8f9fb; padding: 10px;">
                                        <app-autocomplete class="field-full-width" [allowToAdd]="false"
                                            [autoComplete]="postForm?.get('collaborators')"
                                            [placeholder]="'Select Collaborators'" [collection]="'users'" [type]=""
                                            [multiple]="true" matInput>
                                        </app-autocomplete>
                                        <mat-icon (click)="addDataOfPost('collaborators')">
                                            send</mat-icon>
                                    </div>
                                </mde-popover>
                            </p>
                        </li>

                        <!-- <li *ngIf="postDetails?.clients && postDetails?.clients?.length || fromAddPost"> -->
                        <li *ngIf="allowUsersEdit()">
                            <p class="data-label">Clients</p>
                            <p class="info">
                                <a *ngFor="let t of postDetails?.clients" target="_blank"
                                    [href]="'profile' + '/' + t?.slug">
                                    <span class="tag">
                                        <img [src]="t?.avatar ? ((s3FilesBucketURL + t?.avatar) | safe: 'resourceUrl') : anonymousAvatar"
                                            alt="">{{t?.name}}</span>
                                </a>
                            </p>
                            <span style="margin: 7px 0 0 5px;" [mdePopoverTriggerFor]="addClientsPopover"
                                mdePopoverTriggerOn="click"><i class="fa fa-plus-square" aria-hidden="true"></i></span>

                            <mde-popover #addClientsPopover="mdePopover" [mdePopoverOverlapTrigger]="false"
                                [mdePopoverCloseOnClick]="false" [mdePopoverArrowOffsetX]="8"
                                mdePopoverArrowColor="#FFFFFF">
                                <div style="background: #f8f9fb; padding: 10px;">
                                    <app-autocomplete class="field-full-width" [allowToAdd]="false"
                                        [autoComplete]="postForm?.get('clients')" [placeholder]="'Select Clients'"
                                        [collection]="'users'" [type]="" [multiple]="true" matInput>
                                    </app-autocomplete>
                                    <mat-icon (click)="addDataOfPost('clients')">
                                        send</mat-icon>
                                </div>
                            </mde-popover>
                        </li>

                        <li *ngIf="postDetails?.jobProfile && postDetails?.jobProfile?.length">
                            <p class="data-label">Position</p>
                            <p class="info" style="text-transform: capitalize;">
                                <span
                                    *ngFor="let c of postDetails?.jobProfile; let ei = index;">{{c?.name + (ei === postDetails?.jobProfile?.length - 1 ? '' : ', ' )}}</span>
                            </p>
                        </li>

                        <li *ngIf="postDetails?.createdBy">
                            <p class="data-label">Author</p>
                            <p class="info">
                                <a target="_blank" [href]="'/' + 'profile' + '/' + postDetails?.createdBy?.slug">
                                    <span class="tag">
                                        <img [src]="postDetails?.createdBy?.avatar ? ((s3FilesBucketURL + postDetails?.createdBy?.avatar) | safe: 'resourceUrl') : anonymousAvatar"
                                            alt="">{{postDetails?.createdBy?.name}}</span>
                                </a>
                            </p>
                        </li>
                        <li *ngIf="postDetails?.createdAt">
                            <p class="data-label">CreatedAt</p>
                            <p class="info">
                                <mat-icon style="vertical-align: middle;">date_range</mat-icon>
                                {{ postDetails?.createdAt | date: 'EEEE, MMMM d, y, h:mm a'}}
                            </p>
                        </li>

                        <li *ngIf="postDetails?.updatedAt">
                            <p class="data-label">UpdatedAt</p>
                            <p class="info">
                                <mat-icon style="vertical-align: middle;">date_range</mat-icon>
                                {{ postDetails?.updatedAt | date: 'EEEE, MMMM d, y, h:mm a'}}
                            </p>
                        </li>

                        <li *ngIf="allowUsersEdit()">
                            <p class="data-label">Company</p>
                            <p class="info" style="text-transform: capitalize; cursor: pointer;">
                                <span *ngFor="let c of postDetails?.companies; let ei = index;"
                                    [routerLink]="['/', 'company', c?._id]">{{c?.name + (ei === postDetails?.companies?.length - 1 ? '' : ', ' )}}</span>
                            </p>
                            <span style="margin: 7px 0 0 5px" [mdePopoverTriggerFor]="addCopmaniesPopover"
                                mdePopoverTriggerOn="click"><i class="fa fa-plus-square" aria-hidden="true"></i></span>

                            <mde-popover #addCopmaniesPopover="mdePopover" [mdePopoverOverlapTrigger]="false"
                                [mdePopoverCloseOnClick]="false" [mdePopoverArrowOffsetX]="8"
                                mdePopoverArrowColor="#FFFFFF">
                                <div style="background: #f8f9fb; padding: 10px;">
                                    <app-autocomplete [autoComplete]="postForm?.get('companies')"
                                        [collection]="'companies'" [forCompany]="true" [multiple]="true"
                                        [placeholder]="'Select Company'" [type]="" class="col-md-6">
                                    </app-autocomplete>
                                    <mat-icon (click)="addDataOfPost('companies')">
                                        send</mat-icon>
                                </div>
                            </mde-popover>
                        </li>

                        <li>
                            <ul class="social-media">
                                <button mat-fab shareButton="facebook"
                                    [style.backgroundColor]="shareSocial?.prop?.facebook.color">
                                    <i class="fab fa-facebook-f"></i>
                                </button>
                                <button mat-fab shareButton="twitter"
                                    [style.backgroundColor]="shareSocial?.prop?.twitter.color">
                                    <i class="fab fa-twitter"></i>
                                </button>
                                <button mat-fab shareButton="linkedin"
                                    [style.backgroundColor]="shareSocial?.prop?.linkedin.color">
                                    <i class="fab fa-linkedin"></i>
                                </button>

                                <button mat-fab shareButton="whatsapp"
                                    [style.backgroundColor]="shareSocial?.prop?.whatsapp.color">
                                    <i class="fab fa-whatsapp"></i>
                                </button>

                            </ul>
                            <!-- </div> -->
                        </li>
                    </ul>
                </div>
                <!-- end /.col-md-8 -->

                <!-- <div *ngIf="!showConnectedPosts" class="col-md-6 col-lg-4">
                    <ng-container *ngTemplateOutlet="addBlockLevelCommentTemplate; context: {details: details, comments: (commentService?.commentsList$ | async)}">
                    </ng-container>
                </div> -->
                <!-- end /.col-md-4 -->

                <div class="col-md-12 col-lg-12" *ngIf="showConnectedPosts">
                    <div class="row">
                        <div class="col-md-8">
                            <a mat-stroked-button color="primary" style="margin-bottom: 10px;"
                                (click)="selectedBlock = null; showConnectedPosts = false; selectedPostType = ''">
                                <mat-icon>keyboard_arrow_left</mat-icon>Back
                            </a>
                            <div class="item-grid pen-grid item-grid-large">
                                <app-brief-post style="width: 100%;" [p]="e"
                                    *ngFor="let e of listOfConnectedPosts?.posts" [readMore]="true"
                                    (showComments)="showCommentsOnSide($event)"></app-brief-post>
                            </div>
                            <app-paginator [length]="totalOtherPosts"
                                (fetchData)="paginator = $event; getConnectedPosts(selectedPostType)">
                            </app-paginator>
                        </div>

                        <div class="col-md-4">
                            <ng-container
                                *ngTemplateOutlet="addBlockLevelCommentTemplate; context: {details: selectedPost, comments: selectedPostComments | async}">
                            </ng-container>
                        </div>

                    </div>
                </div>

            </div>
            <!-- end /.row -->
        </div>
        <!-- end /.container -->

        <!-- Start of chat box code -->
        <!-- <app-chat-box [postDetails]="postDetails"></app-chat-box> -->
        <!-- End of chat box code -->
    </section>
    <!--===========================================
            END SINGLE PRODUCT DESCRIPTION AREA
        ===============================================-->

</ng-container>


<!--============================================
        START COMPANY DETAILS
    ==============================================-->


<ng-template #addCommentTemplate let-cDetails="details">
    <div style="background: white;">
        <div class="tab-pane fade show product-tab">
            <div class="thread">
                <ul class="media-list thread-list" style="list-style: none;">
                    <!-- <h4 class="tab-content-wrapper">Comments:</h4> -->
                    <div *ngFor="let c of commentService?.commentsList$ | async; trackBy: trackByFn">
                        <li [id]="c?._id" style="padding-left: 30px; padding-right: 30px;"
                            *ngIf="!c?.blockSpecificComment || true" class="single-thread">
                            <app-comment [comment]="c" [referenceId]="cDetails?._id"></app-comment>
                        </li>
                    </div>
                </ul>
            </div>
        </div>

        <div class="comment-form-area">
            <app-add-comment *ngIf="commentForm" [showLabel]="true" [referenceId]="cDetails?._id"></app-add-comment>
        </div>

    </div>
</ng-template>

<ng-template #addBlockLevelCommentTemplate let-cDetails="details" let-comments="comments">
    <!-- {{selectedBlock | json}} -->
    <aside class="sidebar" *ngIf="!(isHandset$ | async)">
        <app-comment-side-nav (closeCommentSideBar)="selectedBlock = null" [selectedBlock]="selectedBlock"
            [selectedPost]="cDetails" [comments]="comments"></app-comment-side-nav>
    </aside>
    <!-- <ng-container *ngIf="selectedBlock && (isHandset$ | async)">
        <mat-icon (click)="selectedBlock['__show'] = null; selectedBlock = null">close</mat-icon>
        <div class="sidebar-card" style="padding: 10px; width: fit-content;">
            <div class="tab-pane fade show product-tab">
                <div class="thread">
                    <ul class="media-list thread-list" style="list-style: none; padding-bottom: 0;">
                        <div *ngFor="let c of comments">
                            <li [id]="c?._id" *ngIf="c?.blockSpecificComment && c?.blockId === selectedBlock?._id"
                                class="single-thread">
                                <app-comment [comment]="c" [referenceId]="cDetails?._id"></app-comment>
                            </li>
                        </div>
                    </ul>
                </div>
            </div>

            <div class="comment-form-area" style="padding-left: 0; padding-right: 0;">
                <app-add-comment [referenceId]="cDetails?._id" [blockId]="selectedBlock?._id"
                    [showLabel]="true"></app-add-comment>
            </div>
        </div>
    </ng-container> -->
</ng-template>