<div class="container">
    <div id="insurance-banner"></div>

    <div id="insurance-content" class="common-box-shadow row" style="
    margin-left: 2px;
    margin-right: 2px; padding: 15px;">
<div  style="margin-top: 30px;">
    <p>
        There are reasons to use the cash-value portion of your parmanent life insurance
        policy for investing and reasons to buy term insurance and invest the difference.
    </p>

    <p>
        When you use permanent life insurance as an investment, you don't pay texts until
        you withdraw the money, and you can keep the policy until age 120 as long as you
        pay premiums on time.  
    </p>
    <p>
        You can also borrow against the cash value to buy a house or a pay for your children's
        college costs, tax-free and receive some of your policy's death benefit while you are
        alive if you develop certain medical conditions. 
    </p>
    <p>
        With term life INsurance, all of your payments are put toword the death benefit for
        your beneficiaries, with no cash value and, therefor no investment component; this
        means small premiums in exchange for large death benefit.  
    </p>
    <p>
        However, the majority of policyholders with term life insurance end up losing what 
        they have paid in as the policy typically expires before the beneficiary can file a claim.
    </p>
</div>
</div>
</div>