<app-breadcumb [title]="breadcumb?.title" [path]="breadcumb?.path" [showImportButton]="true"></app-breadcumb>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div [formGroup]="jobForm" class="job-form-area">
                <mat-form-field class="field-full-width">
                    <input type="text" matInput formControlName="name" placeholder="Title">
                </mat-form-field>

                <ng-select placeholder="Roles" formControlName="jobProfile" [addTag]="addTagFn" [multiple]="true">
                </ng-select>

                <app-editor [placeholder]="'Job Description:'" *ngIf="descriptionFormControl?.value && edit; else add" (output)="updateFormData($event)"
                    [data]="descriptionFormControl?.value" [id]="'edit-job-editor'" [importArticleSubscription]="true"></app-editor>

                <br />

                <ng-template #add>
                    <app-editor [placeholder]="'Job Description:'" *ngIf="!edit" (output)="updateFormData($event)" [id]="'job-editor'" [importArticleSubscription]="true"></app-editor>
                </ng-template>

                <div class="row">
                    <ng-select class="col-md-6" [addTag]="addCompany" placeholder="Select Company" formControlName="company" bindLabel="name">
                        <ng-option *ngFor="let cName of allCompanies" [value]="cName._id">
                            {{ cName?.name }}
                        </ng-option>
                    </ng-select>
    
                    <ng-select class="col-md-6" placeholder="Select Cities" [addTag]="addCitiesFn" [items]="citySuggestions" formControlName="cities" [multiple]="true" bindLabel="name">
                    </ng-select>
                </div>

                <mat-form-field appearance="outline">
                    <mat-label>Expected Salary(Yearly)(In Thousands)</mat-label>
                    <!-- <mat-hint matSuffix>K</mat-hint> -->
                    <input type="number" matInput formControlName="salaryRangeFrom" placeholder="Expected Salary">
                    <mat-select matSuffix style="width: 35px; vertical-align: super;" formControlName="salaryCurrency">
                        <mat-option value="$">$</mat-option>
                        <mat-option value="€">€</mat-option>
                        <mat-option value="₹">₹</mat-option>
                    </mat-select>
                </mat-form-field>

                <br />
                <br />

                <div fxLayout="row" fxLayoutGap="10px">
                    <button *ngIf="statusFormControl?.value !== 'Published'" type="button" (click)="submit('Drafted')"
                        [disabled]="jobForm?.invalid" mat-raised-button color="primary">Save</button>
                    <button type="button" (click)="submit('Published')" [disabled]="jobForm?.invalid"
                        mat-raised-button
                        color="primary">{{ statusFormControl?.value === 'Published' ? 'Publish Changes' : 'Publish' }}</button>
                    <button *ngIf="statusFormControl?.value === 'Published'" type="button"
                        (click)="submit('Unpublished')" [disabled]="jobForm?.invalid" mat-raised-button
                        color="primary">{{ 'Unpublish' }}</button>
                    <button *ngIf="data" type="button"
                        (click)="dialogRef.close(null)" mat-raised-button
                        color="warn">{{ 'Cancel' }}</button>
                </div>

            </div>

        </div>
    </div>
</div>