<!--================================
        START BREADCRUMB AREA
    =================================-->
<app-breadcumb [title]="breadcumb?.title" [path]="breadcumb?.path"></app-breadcumb>
<!--================================
            END BREADCRUMB AREA
        =================================-->

<div class="container">
    <div class="row">
        <div class="col-md-12 inside-container-area">
            Your local business needs your inputs. Connect with local businesses that you love and help them to thrive with your innovative ideas.
        </div>
    </div>
</div>