<div class="preload cart-page">

    <!--================================
        START BREADCRUMB AREA
    =================================-->
    <app-breadcumb [title]="breadcumb?.title" [path]="breadcumb?.path"></app-breadcumb>
    <!--================================
        END BREADCRUMB AREA
    =================================-->

    <!--================================
            START DASHBOARD AREA
    =================================-->
    <section *ngIf="(cartProductsList | async) as cartList" class="cart_area section--padding2 bgcolor">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product_archive added_to__cart">
                        <div class="title_area">
                            <div class="row">
                                <div class="col-md-5">
                                    <h4>Product Details</h4>
                                </div>
                                <div class="col-md-3">
                                    <h4 class="add_info">Category</h4>
                                </div>
                                <div class="col-md-2">
                                    <h4>Price</h4>
                                </div>
                                <div class="col-md-2">
                                    <h4>Remove</h4>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12" *ngFor="let item of cartList">
                                <app-single-cart-product (removeProduct)="removeProductFromCart($event)" [product]="item"></app-single-cart-product>
                            </div>
                        </div>
                        <!-- end /.row -->

                        <div class="row" *ngIf="cartList?.length">
                            <div class="col-md-6 offset-md-6" *ngIf="(productService?.cartTotal | async) as cartTotal">
                                <div class="cart_calculation">
                                    <!-- <div class="cart--subtotal">
                                        <p>
                                            <span>Cart Subtotal</span>{{cartTotal?.subTotal | currency}}</p>
                                    </div> -->
                                    <div class="cart--total">
                                        <p>
                                            <span>total</span>{{cartTotal | currency}}</p>
                                    </div>

                                    <a [routerLink]="['checkout']" class="btn btn--round btn--md checkout_link">Proceed To Checkout</a>
                                </div>
                            </div>
                            <!-- end .col-md-12 -->
                        </div>
                        <!-- end .row -->
                    </div>
                    <!-- end /.product_archive2 -->
                </div>
                <!-- end .col-md-12 -->
            </div>
            <!-- end .row -->

        </div>
        <!-- end .container -->
    </section>
    <!--================================
            END DASHBOARD AREA
    =================================-->


</div>