<!-- Single Post UI -->
<div class="box image common-box-shadow">
    <div class="box-header">
        <!-- Post Title -->
        <div *ngIf="p?.activities?.length > 0">
            {{p?.activities[0]?.message}}
        </div>
        <hr/>
        <h2 class="post-title" *ngIf="p?.name">
            <a style="display: inline-block;" [href]="'/post' + '/' + (p?.slug ? p.slug : p._id)" target="_blank">{{p?.name}}</a>
        </h2>

        <!-- USER'S AVATAR & NAME -->
        <h3>
            <a [href]="'/'+ 'dashboard' + '/' + 'profile' + '/' + p?.createdBy?._id" target="_blank">
                <img class="creator" [src]="p?.createdBy?.avatar ? ((s3FilesBucketURL + p?.createdBy?.avatar) | safe: 'resourceUrl') : anonymousAvatar"
                    alt="" />{{p?.createdBy?.name}}
            </a>
            <span>{{fromNow(p?.createdAt)}} {{' • '}} {{p?.createdAt | date: 'medium'}} <i class="fa fa-globe"></i></span>
        </h3>

        <ul class="infos">
            <li *ngIf="p?.type">
                <p class="data-label">Type</p>
                <p class="info">
                    <a>
                        <span class="tag">{{p?.type}}</span>
                    </a>
                </p>
            </li>
            <li *ngIf="p?.assignees && p?.assignees?.length">
                <p class="data-label">Assignees</p>
                <p class="info">
                    <a *ngFor="let t of p?.assignees" target="_blank" [href]="'/'+ 'dashboard' + '/' + 'profile' + '/' + t?._id">
                        <span class="tag">
                            <img class="avatar" [src]="t?.avatar ? ((s3FilesBucketURL + t?.avatar) | safe: 'resourceUrl') : anonymousAvatar"
                            alt="">{{t?.name}}</span>
                    </a>
                </p>
            </li>
            <li *ngIf="p?.collaborators && p?.collaborators?.length">
                <p class="data-label">Collaborators</p>
                <p class="info">
                    <a *ngFor="let t of p?.collaborators" target="_blank" [href]="'/'+ 'dashboard' + '/' + 'profile' + '/' + t?._id">
                        <span class="tag">
                            <img class="avatar" [src]="t?.avatar ? ((s3FilesBucketURL + t?.avatar) | safe: 'resourceUrl') : anonymousAvatar"
                            alt="">{{t?.name}}</span>
                    </a>
                </p>
            </li>
            <li *ngIf="p?.companies && p?.companies?.length">
                <p class="data-label">Company</p>
                <p class="info">
                    <a *ngFor="let t of p?.companies" target="_blank" [href]="'/'+ 'company' + '/' + t?._id">
                        <span class="tag">
                            <!-- <img class="avatar" [src]="t?.avatar ? ((s3FilesBucketURL + t?.avatar) | safe: 'resourceUrl') : anonymousAvatar"
                            alt=""> -->
                            {{t?.name}}</span>
                    </a>
                </p>
            </li>
            <li *ngIf="p?.connectedPosts && p?.connectedPosts?.length">
                <p class="data-label">Reference Posts</p>
                <p class="info">
                    <span style="text-decoration: underline;" *ngFor="let t of p?.connectedPosts; let last=last;">
                        <a [href]="'/' + 'post' + '/' + t?.slug" target="_blank">{{t?.name}} {{last ? '' : ','}}</a>
                    </span>
                </p>
            </li>
        </ul>


        <!-- Post Actions -->
        <!-- <i class="fad fa-check-circle" *ngIf="p['__edit']" (click)="updatePost(p, singlePostEditor)"></i> -->
        <span style="float: right; display: none" *ngIf="p?.createdBy?._id === authService?.loggedInUser?._id">
            <button mat-icon-button [matMenuTriggerFor]="optionsMenu" aria-label="Example icon-button with a menu">
                <mat-icon>more_horiz</mat-icon>
            </button>
            <mat-menu #optionsMenu="matMenu">
                <button mat-menu-item (click)="p['__edit'] = !p['__edit']">
                    <mat-icon>edit</mat-icon>
                    <span>Edit</span>
                </button>
                <button mat-menu-item (click)="deletePost(p?._id)">
                    <mat-icon>delete</mat-icon>
                    <span>Delete</span>
                </button>
            </mat-menu>
        </span>
        <!-- <span><i class="fa fa-angle-down"></i></span> -->
        <div class="window"><span></span></div>
    </div>
    <div class="box-content">
        <div class="content">
            <img alt="" />
        </div>
        <div class="bottom">
            <p [ngClass]="readMore ? 'readMore' : ''">
                <!---------------- SINGLE POST EDITOR --------------->
                <app-editor #singlePostEditor (showComments)="showComments.emit({block : $event.block, selectedPost: p, comments: commentService.commentsList$})" [editorStyle]="{background: 'white'}" [data]="p?.description"
                    [id]="'post' + p?._id" [readOnly]="!p['__edit']" [blockLevelComments]="!readMore" [html]="p?.descriptionHTML"
                    [commentType]="'post'" [post]="p" [commentsList]="(commentService.commentsList$ | async)">
                </app-editor>
            </p>
            <!-- <span><span class="fa fa-search-plus"></span></span> -->
        </div>
    </div>

    <!-- Post Tags -->
    <div style="padding: 10px 0 0 30px;">
        <span *ngFor="let t of p?.tags"
            style="background: rgba(6, 116, 236, 0.1); display: inline-block;
                padding: 0 15px; line-height: 32px;
                color: #0674ec; margin-right: 10px;font-size: 15px;font-weight: 200;-webkit-border-radius: 100px;border-radius: 100px;">{{t?.name}}</span>
    </div>
    
    <!-- Read More Button to Fetch comments and show full description-->
    <div class="ce-block" *ngIf="readMore" style="padding: 10px 0 0 30px;" (click)="readMore = false; fetchComments(p)">
        <a>Read More...</a></div>

    <div class="box-likes">
        <div class="post-row" style="display: none; padding: 0;">
            <span><a href="#"><img src="https://goo.gl/oM0Y8G" alt="" /></a></span>
            <span><a href="#"><img src="https://goo.gl/vswgSn" alt="" /></a></span>
            <span><a href="#"><img src="https://goo.gl/4W27eB" alt="" /></a></span>
            <span><a href="#">+99</a></span>
            <span>Like this</span>
        </div>

        <!-- Show Number of Likes & Comments -->
        <footer style="float: left; margin-left: -18px;">
            <a mat-button class="single-stat invisible-button loves loves heart-button loved-0">
                <mat-icon style="color: crimson;" class="vertical-align-middle">favorite</mat-icon>
                <span class="count"> {{p?.likeCount ? p?.likeCount : 0}}</span>
            </a>
            <a mat-button class="single-stat comments" (click)="readMore = false; fetchComments(p) ">
                <mat-icon style="color: #0674ec;" class="vertical-align-middle">comment</mat-icon>
                <span class="count"> {{(commentService.commentsList$ | async)?.length ? (commentService.commentsList$ | async)?.length : p?.commentCount}}</span>
            </a>
        </footer>
        <!-- <div class="post-row" style="padding: 0; border: none;">
            <span>{{p?.comments?.length}} comments</span>
        </div> -->
    </div>
    <!-- <div class="box-buttons">
                <div class="post-row">
                    <button><span class="fa fa-thumbs-up"></span></button>
                    <button (click)="p['__show'] = !p['__show']"><span class="fas fa-comment-lines"></span></button>
                    <button><span class="ion-share"></span></button>
                </div>
            </div> -->

    <!-- <div class="box-click"><span><i class="ion-chatbox-working"></i> View 140 more comments</span></div> -->
    <!-- Show List of Comments + Add Comment UI only when user clicks on read more or comment icon -->
    <div class="box-comments" style="border-top: 2px solid #f4f4f4;" *ngIf="readMore === false">
        <div class="thread">
            <ul class="media-list thread-list" style="padding: 10px 0px 0px 0px; list-style: none;">
                <div *ngFor="let com of (commentService.commentsList$ | async)">
                    <li *ngIf="!com?.blockSpecificComment || true" class="single-thread">
                        <app-comment [comment]="com"></app-comment>
                    </li>
                </div>
            </ul>
        </div>
    </div>

    <!-- Show List of Comments + Add Comment UI only when user clicks on read more or comment icon -->
    <div class="box-new-comment" *ngIf="readMore === false">
        <img [src]="authService?.loggedInUser?.avatar ? ((s3FilesBucketURL + authService?.loggedInUser?.avatar) | safe: 'resourceUrl') : anonymousAvatar"
            alt="" />
        <div class="content">
            <!-- <div class="post-row"> -->
            <!---------------- ADD COMMENT EDITOR --------------->
            <app-editor #addCommentEditor [placeholder]="'Write a comment'"
                [editorStyle]="{ width: '84%', background: 'white', padding: '0 12px 0 12px', 'border-radius': '20px'}"
                [id]="'comment' + p?._id"></app-editor>
            <!-- </div> -->
            <div class="post-row">
                <button style="float: right;" type="button" class="btn btn--sm btn--round"
                    (click)="addComment(addCommentEditor)">Post</button>
            </div>
        </div>
    </div>
</div>