::ng-deep {
  @import '~@aws-amplify/ui/src/Theme';
  @import '~@aws-amplify/ui/dist/style';
  .amplify-component {
    display: block;
  }
  
  .amplify-container {
    height: auto;
    padding-bottom: 1em;
  }
  
  /********************************************
  ** Auth
  *******************************************/
  
  .amplify-authenticator {
    width: var(--component-width-desktop);
    margin: 0 auto;
    border-radius: 6px;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
  }

  .amplify-signup-container {
    height: 570px;
  }
  
  .amplify-reset-password-container {
    height: 270px;
  }
  
  .amplify-confirm-reset-password-container {
    height: 360px;
  }
  
  .amplify-confirm-signup-container {
    height: 370px;
  }
  
  .amplify-confirm-signin-container {
    height: 260px;
  }
  
  .amplify-form-actions-left {
    margin-top: 1em;
    color: var(--color-gray);
  }  
  
  @media (min-width: 320px) and (max-width: 480px) {
  .amplify-authenticator {
    width: var(--component-width-mobile);
    box-shadow: none;
  }
  }
  
  /********************************************
  ** Storage
  *******************************************/
 
  
  /**********************************************
  ** Interactions
  **********************************************/
  
  
  /************************************
  ** Input Groups
  ************************************/ 
  .amplify-input-group {
    display:flex;
    margin-left: 0.3em;
    margin-top: 0.5em;
  }
  
  .amplify-input-group > div:first-of-type {
    float:left;
  }
  
  .amplify-input-group > div:last-child > input {
    border-left: none !important;
    width: 100%;
  }
  
  .amplify-input-group > div:last-child {
    display: flex;
    width: 100%;
  }
  
  .amplify-input-group > div {
    float:right;
  }
  
  
  /***********************************
  ** Forms
  ***********************************/
  
  /************************************
  ** Alert
  ************************************/
  .amplify-form-container {
    height:100%;
  }
  
  .amplify-form-header {
    color: var(--color-primary-accent);
    height: 28px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.49px;
    line-height: 16px;
    margin: 0.2em;
  }
  
  .amplify-form-text {
    height: 36px;
    width: 90%;
    color: var(--color-accent-brown);
    font-size: 14px;
    letter-spacing: 0.4px;
    line-height: 20px;
  }
  
  .amplify-input-label {
    height: 18px;
    width: 367.92px;
    color: var(--color-accent);
    font-family: var(--font-family);
    font-size: 14px;
    margin: 0.5em;
    letter-spacing: 0.4px;
    line-height: 18px;
  }
  
  .amplify-form-input {
    height: 42px;
    width: 378px;
    font-size: 14px;
    letter-spacing: 0.4px;
    border: var(--input-border);
    border-radius: 3px;
    background-color: #FFFFFF;
    padding: var(--input-padding);
    margin: 0.5em;
  }
  
  .amplify-form-extra-details {
    margin: 0.5em;
    font-size: 12px;
    color: var(--color-gray);
  }
  
  /** Ionic styles for material design */
  .md .amplify-form-input {
    border: none;
    border-bottom: var(--input-border);
    border-radius: 0px;
  }
  
  .amplify-form-actions {
    margin-top:1.8em;
    padding-bottom: 1.5em;
  }
  
  .amplify-signin-username {
    margin-top: 0.8em;
  }
  
  .amplify-form-row {
    margin-top: 1em;
  }
  
  .amplify-form-action {
    margin: 0.5em;
    font-size: 12px;
  }
  
  .amplify-form-signup {
    margin-top: 1em;
    color: var(--color-gray);
  }
  
  .amplify-form-body {
    padding: 1.5em;
  }
  
  .amplify-form-row {
  display: block;
  }
  
  .amplify-form-cell-left {
  float: left;
  margin: 8px 0 8px 8px;
  }
  
  .amplify-form-cell-right {
  float:right;
  margin: 8px 8px 8px 0;
  }
  
  .amplify-form-link {
  cursor: pointer;
  color: var(--color-primary);
  }
  
  .amplify-form-link:hover {
  color: var(--color-primary-highlight);
  }
  
  .amplify-form-button {
    margin: 0.4em 0 0 0.5em;
    padding: 0.5em;
    border: none;
    height: var(--button-height);
    width: 155px;
    color: white;
    text-transform: uppercase;
    background-color: var(--color-primary);
    cursor: pointer;
  }
  
  .amplify-form-button:hover {
    background-color: var(--color-primary-highlight);
  }
  
  .amplify-greeting {
    display: flex;
    padding: 1em;
    margin: 0 auto;
  }
  
  .amplify-greeting-flex-spacer {
    width: 30%;
  }
  
  .amplify-greeting-sign-out {
    flex: auto;
  }
  
  .amplify-footer {
    clear: both;
  }
  
  .amplify-input-invalid {
    border-color: red !important;
  }
  
  @media (min-width: 320px) and (max-width: 480px) {
    .amplify-form-input {
        width: 100%;
    }
  }
  
  /************************************
  ** Alert
  ************************************/
  
  .amplify-alert-close {
  float:right;
  cursor: pointer;
  color: var(--color-gray);
  font-size: 24px;
  line-height: 24px;
  }
  
  .amplify-alert-close:hover {
    color: var(--color-primary-accent);
  }
  
  .amplify-alert-icon {
  float:left;
  font-size: 24px;
  line-height: 24px;
  color: var(--color-danger);
  }
  
  .amplify-alert {
  position: absolute;
  min-height: 52px;
  width: 460px;
  margin-top: 5em;
  border-radius: 6px;
  background-color: #FFFFFF;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.3);
  }
  
  .amplify-alert-body {
  padding:1em;
  }
  
  .amplify-alert-message {
  max-width: 85%;
  display: inline-flex;
  color: var(--color-primary-accent);
  font-size: 15px;
  line-height: 24px;
  margin-left: 0.5em;
  }
  
  @media (min-width: 320px) and (max-width: 480px) {
  .amplify-alert {
      width: 92%;
      margin-top: 1em;
      margin-left: 4%;
      margin-right: 4%;
  }
  }

  
}

.center-content {
  width: 100%;
  max-width: 800px;
  margin: auto;
  padding: 0 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  // background: inherit;
}

.mat-toolbar {
  position: sticky;
  background: whitesmoke;
  color: black;
  top: 0;
  z-index: 10;
  flex-wrap: wrap !important;
  // padding-bottom: 20px;
  height: fit-content;
  place-content: center;
}

.menu-width {
  max-width: 110px !important;
}

div::-webkit-scrollbar {
  width: 0.5em;
}
div::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
div::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}


