<div class="rupertspira">
    <div class="content">
        <div class="container">
            <p>You are already whole and complete right where you are.</p>
            <p style="text-align: center;">
                I work with individuals and small groups, pointing people to their innate resiliency and psychological well-being.
                There are a number of ways I can support you in finding liberation from all mental/emotional suffering. Everything
                starts from a conversation, which we can arrange after you reach me through the CONTACT page.
            </p>
        </div>
    </div>
</div>