<app-breadcumb [title]="breadcumb?.title" [path]="breadcumb?.path"></app-breadcumb>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div [formGroup]="requirementForm" class="requirement-form-area" (ngSubmit)="submit()">
                <mat-form-field class="field-full-width">
                    <input type="text" matInput formControlName="name" placeholder="Name">
                </mat-form-field>

                <app-editor (output)="updateFormData($event)" [id]="'requirement-editor'"></app-editor>

                <!-- <quill-editor #editor formControlName="description" [modules]="modules">
                </quill-editor> -->



                <mat-form-field class="field-full-width">
                    <input matInput formControlName="shortDescription" placeholder="Short Description">
                </mat-form-field>

                <mat-form-field class="field-full-width">
                    <input type="number" matInput formControlName="price" placeholder="price">
                </mat-form-field>

                <mat-form-field class="field-full-width">
                    <input matInput formControlName="demo_url" placeholder="Demo Url">
                    <mat-error *ngIf="requirementForm?.get('demo_url')?.invalid">{{'Please enter a valid URL'}}
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="field-full-width">
                    <mat-chip-list #tagsList>
                        <mat-chip *ngFor="let tag of tagsFormControl?.value; let i = index;"
                            [selectable]="selectable" [removable]="true" (removed)="remove(i)">
                            {{tag?.name}}
                            <mat-icon matChipRemove>cancel</mat-icon>
                        </mat-chip>
                        <input placeholder="Add Programming Language Tags" [matChipInputFor]="tagsList"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                            (matChipInputTokenEnd)="add($event)">
                        <mat-icon matSuffix>web</mat-icon>
                    </mat-chip-list>
                </mat-form-field>

                <!-- <mat-form-field class="field-full-width">
                    <input matInput formControlName="documentation_url" placeholder="Documentation Url">
                    <mat-error *ngIf="requirementForm?.get('documentation_url')?.invalid">{{'Please enter a valid URL'}}
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="field-full-width">
                    <input matInput formControlName="video_url" placeholder="Video Url">
                    <mat-error *ngIf="requirementForm?.get('video_url')?.invalid">{{'Please enter a valid URL'}}
                    </mat-error>
                </mat-form-field> -->

                <button mat-raised-button (click)="submit()" color="primary">Submit Query</button>
            </div>

        </div>
    </div>
</div>