<div class="container">
    <a style="font-weight: 600; margin: 10px; font-size: 2.0em; align-self: center;">WE MAKE TALENT WITH BEST SKILLSETS AFFORDABLE TO WORK WITH SMALL BUSIENSSES</a>

  
<div class="col-md-12" style="align-self: left;">
    <img style="height: 80%; width: 80%; align-content: left" [src]="'../../assets/images/affordable.png'" alt="BUILD WEBSITE"><br/>
    </div>

<div class="col-md-12" style="align-self: center;">
<h2 style="font-weight: 400; margin: 20px; font-size: 2.0em; align-self: center;"><a
    [routerLink]="['/', 'post', 'add-dreamjob']">JOIN</a></h2>
</div>
</div>
