<app-breadcumb [title]="breadcumb?.title" [path]="breadcumb?.path"></app-breadcumb>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div [formGroup]="dreamjobForm" class="dreamjob-form-area">

                <mat-form-field class="field-full-width" style="width: 85%;">
                    <input #url formControlName="referencePostUrl" type="text" matInput
                        placeholder="Import Post By Url">
                </mat-form-field>
                <a matSuffix type="button" (click)="formService?.import(url?.value, dreamjobForm?.get('name'))"
                    class="btn btn--sm btn--round menu" style="margin-left: 8px;">
                    <mat-icon style="vertical-align: middle;">arrow_downward</mat-icon>Import
                </a>


                <mat-form-field class="field-full-width">
                    <input type="text" matInput formControlName="name" placeholder="Title">
                </mat-form-field>

                <ng-select placeholder="Roles"
                    [items]="roles$ | async" [hideSelected]="true" formControlName="jobProfile"
                    [addTag]="formService?.addRoleFn" [bindLabel]="'name'" [minTermLength]="2" [loading]="rolesLoading"
                    [multiple]="true" [typeahead]="roleInput$">
                </ng-select>

                <app-editor *ngIf="descriptionFormControl?.value && edit; else add" (output)="updateFormData($event)"
                    [data]="descriptionFormControl?.value" [id]="'edit-dreamjob-editor'"
                    [importArticleSubscription]="true" [placeholder]="'Dream Job Description:'"></app-editor>

                <br />

                <ng-template #add>
                    <app-editor *ngIf="!edit" [placeholder]="'Dream Job Description:'" (output)="updateFormData($event)"
                        [id]="'dreamjob-editor'" [importArticleSubscription]="true"></app-editor>
                </ng-template>

                <div class="row">
                    <ng-select class="col-md-6" placeholder="Select Dream Companies" [addTag]="addCompany"
                        [items]="allCompanies" formControlName="companies" [multiple]="true" bindLabel="name">
                        <ng-option *ngFor="let cName of allCompanies" [value]="cName._id">
                            {{ cName?.name }}
                        </ng-option>
                        <!-- <ng-option disabled (click)="openAddCompanyDialog()">+ Add Company</ng-option> -->
                    </ng-select>

                    <ng-select [hideSelected]="true" placeholder="Cities" [addTag]="formService.addCityFn"
                        [loading]="citiesLoading" [items]="citySuggestions$ | async" [typeahead]="cityInput$"
                        formControlName="cities" [multiple]="true" bindLabel="name">
                    </ng-select>
                </div>

                <!-- <mat-form-field class="field-full-width">
                    <mat-chip-list #citiesList>
                        <mat-chip *ngFor="let city of citiesFormControl?.value; let i = index;"
                            [selectable]="selectable" [removable]="true" (removed)="remove(i)">
                            {{city?.name}}
                            <mat-icon matChipRemove>cancel</mat-icon>
                        </mat-chip>
                        <input #searchInput [formControl]="searchText" [matAutocomplete]="auto"
                            placeholder="Choose Cities" [matChipInputFor]="citiesList"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                            (matChipInputTokenEnd)="addTech($event)">
                        <mat-icon matSuffix>location_city</mat-icon>
                    </mat-chip-list>
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                        <mat-option *ngFor="let city of citySuggestions" [value]="city">
                            {{city?.name}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field> -->

                <!-- <h6>Expected Salary Range:</h6>
                <br /> -->

                <mat-form-field appearance="outline">
                    <mat-label>Expected Salary(Yearly)(In Thousands)</mat-label>
                    <input type="number" matInput formControlName="salaryRangeFrom" placeholder="Expected Salary">
                    <!-- <mat-hint matSuffix>K</mat-hint> -->
                    <mat-select matSuffix style="width: 35px; vertical-align: super;" formControlName="salaryCurrency">
                        <mat-option value="$">$</mat-option>
                        <mat-option value="€">€</mat-option>
                        <mat-option value="₹">₹</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline" style="margin-left: 10px;">
                    <mat-label>Timeline(In Years)</mat-label>
                    <input type="number" matInput formControlName="timeline" placeholder="Timeline">
                    <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                    <!-- <mat-hint>Timeline</mat-hint> -->
                </mat-form-field>

                <!-- <mat-form-field class="field-full-width" style="width: 30%; padding-left: 10px;">
                    <input type="number" matInput formControlName="salaryRangeFrom" placeholder="Timeline">
                </mat-form-field> -->

                <!-- <ng5-slider [(value)]="salaryRangeFrom"
                    [(highValue)]="salaryRangeTo" [options]="options"></ng5-slider>
                <br /> -->
                <br />
                <br />

                <div fxLayout="row" fxLayoutGap="10px">
                    <button *ngIf="statusFormControl?.value !== 'Published'" type="button" (click)="submit('Drafted')"
                        [disabled]="dreamjobForm?.invalid" mat-raised-button color="primary">Save</button>
                    <button type="button" (click)="submit('Published')" [disabled]="dreamjobForm?.invalid"
                        mat-raised-button
                        color="primary">{{ statusFormControl?.value === 'Published' ? 'Publish Changes' : 'Publish' }}</button>
                    <button *ngIf="statusFormControl?.value === 'Published'" type="button"
                        (click)="submit('Unpublished')" [disabled]="dreamjobForm?.invalid" mat-raised-button
                        color="primary">{{ 'Unpublish' }}</button>
                </div>

            </div>

        </div>
    </div>
</div>