<ng-container *ngIf="isPlatformBrowser">
    <div [ngStyle]="editorStyle" *ngIf="!realTime || !ckEditorUserToken">
        <ckeditor #ckEditorRef [config]="{
            extraPlugins: readOnly ? [] : [ myCustomUploadAdapterPlugin ],
            removePlugins: ['CloudServices', 'EasyImage', 'RealTimeCollaborativeEditing', 'RealTimeCollaborativeComments', 'RealTimeCollaborativeTrackChanges', 'PresenceList' ]
        }" [disabled]="readOnly" [editor]="ckEditor" [(ngModel)]="html" (ready)="readOnly ? null : onReady($event)">
        </ckeditor>
    </div>

    <div *ngIf="(realTime && this.post?._id) && ckEditorUserToken">
        <div class="sample-sidebar">
            <div class="row row-presence m-0">
                <div #presenceList class='presence'></div>
            </div>
        </div>
        <div [id]="ckEditorUserToken ? 'container' : ''">
            <div [id]="ckEditorUserToken ? 'editor' : ''">
                <ckeditor  #ckEditorRef [config]="{
                    removePlugins: ['CloudServices', 'EasyImage'],
                    extraPlugins: [ myCustomUploadAdapterPlugin ],
                    cloudServices: {uploadUrl: 'https://71258.cke-cs.com/easyimage/upload/', tokenUrl: generateToken, webSocketUrl: webSocketUrl },
                    sidebar: {container: sidebar},
                    presenceList: {container: presenceList},
                    collaboration: { channelId: this.post._id },
                    commentsOnly: readOnly,
                    autosave: { save: realTime && !readOnly ? autosave : null}
                }" [disabled]="false" [editor]="ckEditor" [(ngModel)]="html" (ready)="readOnly ? refreshDisplayMode($event, sidebar) : onReady($event, sidebar)">
                </ckeditor>
            </div>

            <div #sidebar [id]="ckEditorUserToken ? 'sidebar' : ''" class="sidebar"></div>
        </div>

    </div>
</ng-container>


<div *ngIf="false" #editorViewRef [ngStyle]="editorStyle" [ngClass]="'visibility-hidden'">
    <div class="ce-block">
        <div class="ce-block__content" style="word-break: break-all">
            <ng-container [ngSwitch]="b?.type" *ngFor="let b of data; let i = index">
                <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="start center"
                    [style.backgroundColor]="b?.__show && selectedBlockIndex > -1 ? 'beige' : ''">
                    <!-- Paragraph -->

                    <!-- Icon to view / collapse comments section -->
                    <div [fxFlex]="blockLevelComments ? '10' : '0'" style="text-align: right;">
                        <ng-container *ngIf="blockLevelComments">
                            <a style="text-align: right; padding: 0 8px; text-decoration: none;" *ngIf="!b?.__show;"
                                mat-button
                                (click)="b['__show'] = true; showComments.emit({block: b, comments: of(commentsList)}); selectedBlockIndex > -1 ? data[selectedBlockIndex]['__show'] = false : null; selectedBlockIndex = i">
                                <i [style.color]=" commentsList && commentsList?.length && numberOfComments(b?._id) > 0 ? '#00aeef' : ''"
                                    style="font-size: 1.3rem !important; font-style: normal;"
                                    [ngClass]="'fad fa-comments-alt fa-lg'"></i>
                                <span>{{' ('}} {{ commentsList && commentsList?.length ? numberOfComments(b?._id) : 0}}
                                    {{')'}}</span>
                            </a>
                            <a style="padding: 0 8px; text-decoration: none;" *ngIf="b?.__show" mat-button
                                (click)="b.__show = false; showComments.emit({block: null, comments: null});">
                                <i [style.color]="commentsList && commentsList?.length && numberOfComments(b?._id) > 0 ? '#00aeef' : ''"
                                    style="font-size: 1.3rem !important; font-style: normal;"
                                    [ngClass]="'fad fa-chevron-circle-' + ((isHandset) ? 'up' : 'right') + ' fa-lg'"></i>
                                <span>{{' ('}} {{ commentsList && commentsList?.length ? numberOfComments(b?._id) : 0}}
                                    {{')'}}</span>
                            </a>
                        </ng-container>
                    </div>
                </div>

                <!-- Common Add Comment Template -->
                <ng-container *ngIf="blockLevelComments && b['__show'] && (isHandset)">
                    <ng-container *ngTemplateOutlet="addCommentTemplate; context: {blockId: b?._id}"></ng-container>
                </ng-container>
            </ng-container>
        </div>
    </div>

    <!-- <pre>{{data | json}}</pre> -->
</div>

<ng-template #addCommentTemplate let-cDetails="details" let-blockId="blockId">
    <div class="tab-pane fade show product-tab">
        <div class="thread">
            <ul class="media-list thread-list" style="list-style: none; padding-bottom: 0;">
                <div *ngFor="let c of commentsList">
                    <li [id]="c?._id" *ngIf="c?.blockSpecificComment && c?.blockId === blockId" class="single-thread">
                        <app-comment [comment]="c" [referenceId]="cDetails?._id"></app-comment>
                    </li>
                </div>
            </ul>
        </div>
    </div>

    <div class="comment-form-area" style="padding-left: 0; padding-right: 0;">
        <!-- <app-add-comment [commentForm]="commentForm"></app-add-comment> -->

        <div class="media comment-form">
            <div class="media-left">
                <a href="#">
                    <img class="author_avatar_comment" style="width: 45px; height: 45px;"
                        [src]="authService?.loggedInUser?.avatar ? ((s3FilesBucketURL + authService?.loggedInUser?.avatar) | safe: 'resourceUrl') : anonymousAvatar"
                        alt="Commentator Avatar">
                </a>
            </div>
            <div class="media-body">
                <div [formGroup]="commentForm" class="comment-reply-form">
                    <app-editor #addCommentEditor
                        [editorStyle]="{padding: '0 15px', 'border-radius': '19px', background: '#f2f3f5', border: 'solid 0.5px rgb(236, 236, 236)'}"
                        [id]="blockId" [placeholder]="'Add Comment'">
                    </app-editor>

                    <button type="button" style="float: right;" class="btn btn--vsm btn--round"
                        (click)="addComment(blockId, addCommentEditor)">Post
                        Comment</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>