.visibility-hidden {
  // visibility: none;
  height: 0;
  opacity: 0;
}

:host ::ng-deep {
  .ck-editor__editable:not([contenteditable=false]) {
    border: 1px solid #c4c4c4;
    max-height: 73vh;
  }
}