<form [formGroup]="resetPasswordForm">
    <h2 *ngIf="">Reset your password</h2>
    <p>{{ 'Enter the code you received and set a new password' }}</p>

    <mat-form-field class="field-full-width" appearance="outline">
        <mat-label>Confirmation Code</mat-label>
        <input matInput placeholder="Confirmation Code" type="code" formControlName="code" autocomplete="false" required>
    </mat-form-field>

    <mat-form-field class="field-full-width" appearance="outline">
        <mat-label>Enter New password</mat-label>
        <input matInput placeholder="New Password" [type]="hide ? 'password' : 'text'" formControlName="password" required>
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>
  
    <button mat-raised-button color="primary" (click)="setPassword()" [disabled]="resetPasswordForm?.invalid">Submit</button>
    <span style="float: right;">Didn't receive a code? <a href="javascript:void(null)" (click)="sendCodeAgainForResetPassword()">Send again</a></span>
</form>