.product-form {
    background: #fff;
    padding: 32px 30px 32px;
    margin-bottom: 30px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: block !important;
}
  
.field-full-width {
    width: 100%;
}
