<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div [formGroup]="saveEmailForm" class="add-form-area common-box-shadow">

                <h2>Save Emails</h2>

                    <mat-form-field class="field-full-width">
                        <ngx-mat-file-input #removableInput1 formControlName="csvfile" placeholder="Select csv file with emails" (change)="uploadFile($event, 'save')"></ngx-mat-file-input>
                        <button mat-icon-button matSuffix *ngIf="!removableInput1.empty" (click)="removableInput1.clear($event)">
                            <mat-icon>clear</mat-icon>
                        </button>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="field-full-width">
                        <mat-label>Mailing list Name</mat-label>
                        <input matInput placeholder="Mailing list Name" type="text" formControlName="label" autocomplete="false" required>
                    </mat-form-field>
                    <app-autocomplete class="field-full-width" [allowToAdd]="false" [autoComplete]="saveEmailForm?.get('companies')"
                    [placeholder]="'Select Company'" [collection]="'companies'" [type]="" [multiple]="false" matInput>
                    </app-autocomplete>
                <button type="button" (click)="saveFile()" [disabled]="saveEmailForm?.invalid" mat-raised-button color="primary" style="margin: 12px; height: 35px;">{{ 'Save Mailing List' }}</button>
                  <br>
                  

            </div>

            <!-- <div [formGroup]="emailForm" class="add-form-area common-box-shadow">

                <h2>Clean Emails</h2>

                    <mat-form-field class="field-full-width">
                        <ngx-mat-file-input #removableInput formControlName="csvfile" placeholder="Select csv file with emails" (change)="uploadFile($event, 'saveClean')"></ngx-mat-file-input>
                        <button mat-icon-button matSuffix *ngIf="!removableInput.empty" (click)="removableInput.clear($event)">
                            <mat-icon>clear</mat-icon>
                        </button>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="field-full-width">
                        <mat-label>Mailing list Name</mat-label>
                        <input matInput placeholder="Mailing list Name" type="text" formControlName="label" autocomplete="false" required>
                    </mat-form-field>
                    <app-autocomplete class="field-full-width" [allowToAdd]="false" [autoComplete]="emailForm?.get('companies')"
                    [placeholder]="'Select Company'" [collection]="'companies'" [type]="" [multiple]="false" matInput>
                    </app-autocomplete>
                <button type="button" (click)="cleanFile()" [disabled]="emailForm?.invalid" mat-raised-button color="primary" style="margin: 12px; height: 35px;">{{ 'Clean And Save Mailing List' }}</button>
                  <br>
                  

            </div> -->
            <div [formGroup]="sendEmailForm" class="add-form-area common-box-shadow">
                <h2>Send Emails</h2>
                <mat-form-field appearance="outline" class="field-full-width">
                    <mat-label>Enter FROM</mat-label>
                    <input matInput placeholder="Enter FROM" type="text" formControlName="from" autocomplete="false" required>
                </mat-form-field>

                <mat-form-field appearance="outline" class="field-full-width">
                    <mat-label>Enter Subject</mat-label>
                    <input matInput placeholder="subject" type="text" formControlName="subject" autocomplete="false" required>
                </mat-form-field>

                <app-autocomplete class="field-full-width" [allowToAdd]="false" [autoComplete]="sendEmailForm?.get('companies')"
                [placeholder]="'Select Company'" [collection]="'companies'" [type]="" [multiple]="false" matInput>
                </app-autocomplete>

                <app-autocomplete class="field-full-width" [allowToAdd]="false" [autoComplete]="sendEmailForm?.get('batches')"
                [placeholder]="'Select Mailing List'" [collection]="'batches'" [type]="" [multiple]="false" matInput>
                </app-autocomplete>
    
                <p>Create Email template below</p>
                <app-editor #descriptionEditor [placeholder]="'Email Template'"
                    [data]="descriptionFormControl?.value" [id]="'edit-post-editor'">
                </app-editor>
    
                <br />
    
                <div fxLayout="row" fxLayoutGap="10px">
                    <button type="button" (click)="submit()" [disabled]="sendEmailForm?.invalid" mat-raised-button color="primary">{{ 'Send Email' }}</button>
                </div>
            </div>
        </div>
    </div>
</div>