<app-breadcumb [title]="breadcumb?.title" [path]="breadcumb?.path"></app-breadcumb>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form *ngIf="auth.loggedInUser" [formGroup]="productForm" class="product-form" (ngSubmit)="submit()">

                <mat-form-field class="field-full-width">
                    <input matInput formControlName="name" placeholder="Name">
                </mat-form-field>

                <app-editor *ngIf="productForm?.get('description')?.value; else add" [data]="productForm?.get('description')?.value" (output)="updateFormData($event)"
                [id]="'edit-product-editor'"></app-editor>
                    

                <ng-template #add>
                    <app-editor (output)="updateFormData($event)"  [id]="'product-editor'"></app-editor>
                </ng-template>


                <br/>

                <!-- <quill-editor #editor formControlName="description" [modules]="modules">
                </quill-editor> -->

                <!-- <mat-form-field class="field-full-width">
        <input matInput formControlName="description" placeholder="Description">
    </mat-form-field> -->

                <mat-form-field class="field-full-width">
                    <input matInput formControlName="shortDescription" placeholder="Short Description">
                </mat-form-field>

                <mat-form-field class="field-full-width">
                    <input matInput type="number" formControlName="totalPrice" placeholder="Total Price">
                </mat-form-field>

                <mat-form-field class="field-full-width">
                    <input matInput formControlName="demo_url" placeholder="Demo Url">
                    <mat-error *ngIf="productForm?.get('demo_url')?.invalid">{{'Please enter a valid URL'}}</mat-error>
                </mat-form-field>

                <!-- <mat-form-field class="field-full-width">
        <input matInput formControlName="documentation_url" placeholder="Documentation Url">
        <mat-error *ngIf="productForm?.get('documentation_url')?.invalid">{{'Please enter a valid URL'}}</mat-error>
    </mat-form-field>

    <mat-form-field class="field-full-width">
        <input matInput formControlName="video_url" placeholder="Video Url">
        <mat-error *ngIf="productForm?.get('video_url')?.invalid">{{'Please enter a valid URL'}}</mat-error>
    </mat-form-field> -->



                <mat-form-field class="field-full-width">
                    <mat-chip-list #tagsList>
                        <mat-chip *ngFor="let tag of tagsFormControl?.value; let i = index;"
                            [selectable]="selectable" [removable]="true" (removed)="remove(i)">
                            {{tag?.name}}
                            <mat-icon matChipRemove>cancel</mat-icon>
                        </mat-chip>
                        <input placeholder="Add Technologies" [matChipInputFor]="tagsList"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                            (matChipInputTokenEnd)="addTech($event)">
                        <mat-icon matSuffix>web</mat-icon>
                    </mat-chip-list>
                </mat-form-field>


                <!-- <input type="file" #file style="display: none" (change)="onFilesAdded()" multiple />

                <h1 mat-dialog-title>Upload Files</h1>
                <div>
                    <button type="button" mat-raised-button color="primary" class="add-files-btn" (click)="addFiles()">
                        Add Files
                    </button>
                </div> -->

                <br/>


                <!-- This is the content of the dialog, containing a list of the files to upload -->
                <!-- <mat-list fxFlex>
                    <mat-list-item formArrayName="priceAndFiles"
                        *ngFor="let item of priceAndFilesArrayFormControl?.controls; let i = index;">
                        <ng-container [formGroupName]="i">
                            <h4 mat-line>{{priceAndFilesArrayFormControl?.at(i)?.get('fileName')?.value}}</h4>
                            <mat-progress-bar mode="determinate"
                                [value]="priceAndFilesArrayFormControl?.at(i)?.get('progress')?.value | async">
                            </mat-progress-bar>
                            <mat-form-field>
                    <input matInput type="number" formControlName="price" placeholder="Price">
                </mat-form-field>
                            <mat-icon (click)="removeFile(i)">close</mat-icon>
                        </ng-container>
                    </mat-list-item>
                </mat-list> -->


                <div formGroupName="support">
                    <mat-form-field class="field-full-width">
                        <input matInput type="number" formControlName="time" placeholder="Support Time(In Minutes)">
                    </mat-form-field>
                    
                    <ng-container *ngIf="supportDescriptionFormControl?.value; else addSupport">
                        <app-editor [data]="supportDescriptionFormControl?.value" (output)="updateSupportDescription($event)"
                        [id]="'edit-product-support-editor'"></app-editor>
                    </ng-container>

                    <ng-template #addSupport>
                        <app-editor (output)="updateSupportDescription($event)"  [id]="'add-product-support-editor'"></app-editor>
                    </ng-template>
                    
                </div>


                <br/>




                <button mat-raised-button color="primary">Submit Product</button>

            </form>

        </div>
    </div>
</div>
<!-- {{ tagsFormControl?.value | json}} -->
<!-- <pre>{{productForm?.value | json}}</pre> -->
<!-- <pre>{{priceAndFilesArrayFormControl?.length}}</pre> -->


<!-- <pre *ngIf="productForm?.get('description')?.value"><code [highlight]="productForm?.get('description')?.value" (highlighted)="onHighlight($event)"></code></pre> -->