<section id="chat-full-ui">
  <div class="row m-0 chat-container">
    <div class="col-md-12 col-lg-12 col-sm-12 pr-0 pl-0">
      <!-- <div class="chat-list-header">
        <div class="row">
          <div class="col-3">
            <img [src]="loggedInUser.avatar ? ((s3FilesBucketURL + loggedInUser.avatar) | safe: 'resourceUrl') : anonymousAvatar" />
          </div>
          <div class="col-9 vertical-align-center">
            <div class="font-weight-700">
              {{loggedInUser?.name}}
              <i class="float-right material-icons">more_vert</i>
            </div>
          </div>
        </div>
      </div> -->
      <div class="post-list">
        <div class="card-header">
          <div class="input-group">
            <input [(ngModel)]="searchString" type="text" placeholder="Search..." name="" class="form-control search"
              #searchInput>
            <!-- <div class="input-group-prepend">
              <span class="input-group-text search_btn" (click)="loadBatch(0)"><i
                  class="float-right material-icons">search</i></span>
            </div> -->
          </div>
        </div>

        <ng-container *ngIf="authService?.navigationPostList$ | async as posts">

          <!-- {{posts | json}} -->
          <cdk-virtual-scroll-viewport itemSize="76" (scrolledIndexChange)="nextBatch($event, (posts.length / 10))">

            <div *cdkVirtualFor="let post of posts; let i = index; trackBy: trackByIdx" class="row post-card"
              [ngClass]="[post.isLatest === true ? 'updated-post' : '', post._id === authService?.selectedPostId ? 'selected-post': '']"
              (click)="onClickPost(post)">

              <div class="col-2 p-0 pl-2">
                <img class="chat-list-avatar"
                  [src]="post.createdBy.avatar ? ((s3FilesBucketURL + post.createdBy.avatar) | safe: 'resourceUrl') : anonymousAvatar" />
              </div>

              <div class="col-10 p-0 vertical-align-center">
                <div class="post-name pl-3 pr-3">

                  <p class="font-weight-500 overflow-text" data-toggle="tooltip" [title]="post?.name">
                    {{post?.name}}
                  </p>

                  <div class="">
                    <span class="date-time font-weight-500">{{post?.lastMessage ? post.lastMessage : post?.type}} |
                      <span>{{authService.timeDifference(post?.updatedAt)}}</span></span>
                    <span *ngIf="post?.count > 0"
                      class="float-right badge-pill badge-danger">{{post?.count > 0 ? post?.count : ''}}</span>
                  </div>
                </div>
              </div>
            </div>
            <p *ngIf="theEnd" style="text-align: center;">
              
            </p>

          </cdk-virtual-scroll-viewport>

        </ng-container>
      </div>
    </div>
  </div>
</section>
<!-- Delete Confirmation -->
<!-- <swal #deleteSwal title="Are sure you want to delete?" text="This will delete your all messages" icon="question"
  [showCancelButton]="true" [focusCancel]="true" (confirm)="removeChannel()">
</swal> -->