<section id="chat-full-ui">
  <div class="row chat-container">
    <div class="col-md-4 col-lg-4 col-sm-12 pr-0">
      <div class="chat-list-header">
        <div class="row">
          <div class="col-md-3">
            <img src="https://www.getuppeople.com/upload/photo/users_profile/2419_.jpg" alt="manav">
          </div>
          <div class="col-md-9 vertical-align-center">
            <div class="font-weight-700">
              Manav Soni
              <i class="float-right material-icons">more_vert</i>
            </div>
          </div>
        </div>
      </div>
      <div class="post-list">
        <div class="row post-card active-chat">
          <div class="col-md-3 p-1">
            <img src="https://www.getuppeople.com/upload/photo/users_profile/2419_.jpg" alt="manav">
          </div>
          <div class="col-md-9 vertical-align-center">
            <div class="post-name">
              <p class="font-weight-700 overflow-text">
                Manav: Goal 14th May 2020
              </p>
              <div class="">
                <span class="date-time">2:23 pm</span>
                <span class="float-right badge-pill badge-danger">4</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row post-card">
          <div class="col-md-3">
            <img src="https://www.getuppeople.com/upload/photo/users_profile/2419_.jpg" alt="manav">
          </div>
          <div class="col-md-9 vertical-align-center">
            <div class="post-name">
              <p class="font-weight-700 overflow-text">
                Manav: Goal 14th May 2020
              </p>
              <div class="">
                <span class="date-time">2:23 pm</span>
                <span class="float-right badge-pill badge-danger">4</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row post-card">
          <div class="col-md-3">
            <img src="https://www.getuppeople.com/upload/photo/users_profile/2419_.jpg" alt="manav">
          </div>
          <div class="col-md-9 vertical-align-center">
            <div class="post-name">
              <p class="font-weight-700 overflow-text">
                Manav: Goal 14th May 2020
              </p>
              <div class="">
                <span class="date-time">2:23 pm</span>
                <span class="float-right badge-pill badge-danger">4</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row post-card">
          <div class="col-md-3">
            <img src="https://www.getuppeople.com/upload/photo/users_profile/2419_.jpg" alt="manav">
          </div>
          <div class="col-md-9 vertical-align-center">
            <div class="post-name">
              <p class="font-weight-700 overflow-text">
                Manav: Goal 14th May 2020
              </p>
              <div class="">
                <span class="date-time">2:23 pm</span>
                <span class="float-right badge-pill badge-danger">4</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row post-card">
          <div class="col-md-3">
            <img src="https://www.getuppeople.com/upload/photo/users_profile/2419_.jpg" alt="manav">
          </div>
          <div class="col-md-9 vertical-align-center">
            <div class="post-name">
              <p class="font-weight-700 overflow-text">
                Manav: Goal 14th May 2020
              </p>
              <div class="">
                <span class="date-time">2:23 pm</span>
                <span class="float-right badge-pill badge-danger">4</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8 col-lg-8 col-sm-12 pl-0">
      <div class="chat-list-header">
        <div class="row">
          <div class="col-md-2 text-center">
            <img class="chat-profile" src="https://www.getuppeople.com/upload/photo/users_profile/2419_.jpg"
              alt="manav">
          </div>
          <div class="col-md-9 pl-0 vertical-align-center">
            <div class="font-weight-700">
              Manav: Goal 4th May 2020 updated
            </div>
          </div>
          <div class="col-md-1">
              <i class="float-right p-2 material-icons">delete</i>
          </div>
        </div>
      </div>
      <div class="chat-body">
        <div class="message-container">
          <div>
            <div class="right" id="messages">
              <div class="auther-name">Manav Soni</div>
              <span>Hello, How are you ?</span>
              <span class="float_r">11:30 PM</span>
            </div>
            <div class="left" id="messages">
                <div class="auther-name">Jay Patel</div>
                <span>I'm fine!</span>
                <span class="float_r">11:30 PM</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row chat-footer">
        <div class="col-md-9  ">
          <input type="text" placeholder="Type message here.." class="message mb-0">
        </div>
        <div class="col-md-3 text-center">
          <a class="btn waves-effect waves-light send">Send</a>
        </div>
      </div>
    </div>
  </div>
</section>
