#chat-full-ui {
  background-color: #fff;
  border-radius: 10px;
  border: none;
  margin-top: 10px;

  .chat-container {
    .chat-list-header {
      // display: flex;
      padding: 15px;
      border-bottom: 1px solid #eee;
      border-right: 1px solid #eee;

      .chat-profile {
        width: 50%;
        height: auto;
      }

      .delete {
        cursor: pointer;
      }
    }
    .post-list {
      border-right: 1px solid #eee;
      position: relative;
      height: calc(100vh - 365px);
      overflow: hidden;
      cursor: pointer;

      &:hover {
        overflow: auto;
      }

      .post-card {
        border-bottom: 1px solid #eee;
        margin: 0;
        padding: 15px 5px !important;
      }

      .active-chat {
        border-right: 3px solid #212121;
        background-color: #eceff1;
      }
      .post-name {
        display: grid;
        p {
          margin: 0 !important;
          font-size: 14px;
          width: 80%;
        }

        .date-time {
          color: #777;
          text-transform: capitalize;
        }

        span {
          font-size: 12px;
        }
      }
    }

    .chat-body {
      position: relative;
      overflow: hidden;
      height: calc(100vh - 430px);

      .message-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        background-color: #eee;
      }
      .message {
        position: relative;
        padding: 1em 0.7em 2em;
        margin-bottom: 0.5em;
        // border-bottom: 1px dotted #cfd8dc;
        .profile {
          position: absolute;
          top: 1em;
          left: 0.7em;
          img {
            width: 40px;
            height: auto;
            border-radius: 100%;
          }
        }
        .message-meta {
          width: calc(100% - (40px + 1em));
          height: 25px;
          float: right;
          p {
            display: inline-block;
            font-size: 0.75em;
            font-weight: 700;
            color: #90a4ae;
            margin-top: 5px;

            &:last-child {
              font-size: 0.5em;
              vertical-align: bottom;
              margin-top: 7px;
              float: right;
            }
          }
        }
        .message-content {
          width: calc(100% - (40px + 1em));
          height: 40px;
          float: right;
          p {
            text-align: left;
            line-height: 1.2;
            font-size: 0.9em;
            color: #263238;

            + p {
              margin-top: 0.5em;
            }
          }
        }
        &:after {
          content: "";
          display: block;
          width: 100%;
          clear: both;
        }

        &.user {
          .profile {
            left: auto;
            right: 0.7em;
          }
          .message-meta,
          .message-content {
            float: left;
          }
          .message-meta {
            div {
              float: right;
              &:last-child {
                float: left;
              }
            }
          }
          .message-content {
            // p {
            text-align: right;
            // }
          }
        }
      }

      .left {
        float: left;
        clear: both;
        padding: 8px;
        background: #fff;
        position: relative;
        word-break: break-word;
        margin: 15px 10px 5px 10px;
        border-radius: 5px 0px 5px 5px;
        max-width: 80%;
        &:after {
          content: "";
          position: absolute;
          left: -13px;
          top: 0px;
          width: 0;
          height: 0;
          border: 13px solid transparent;
          border-right-color: #fff;
          border-left: 0;
          border-top: 0;
        }

        .auther-name {
          font-size: 12px;
          font-weight: 600;
        }
      }

      .right {
        float: right;
        clear: both;
        padding: 8px;
        background: #0674eccc;
        color: #fff;
        margin: 15px 10px 5px 10px;
        position: relative;
        word-break: break-word;
        border-radius: 5px 0px 5px 5px;
        max-width: 80%;
        &:after {
          content: "";
          position: absolute;
          right: -13px;
          top: 0px;
          width: 0;
          height: 0;
          border: 13px solid transparent;
          border-left-color: #0674eccc;
          border-right: 0;
          border-top: 0;
        }

        .auther-name {
          font-size: 12px;
          font-weight: 600;
        }
      }

      .float_r {
        float: right;
        font-size: 10px;
        margin: 10px 0px 0px 10px;
      }
    }
    .chat-footer {
      margin: 1rem;
      .message {
        margin-right: 1.5rem;
        padding: 0 1.5rem;
        color: #9e9e9e;
        border-bottom: 0;
        border: none;
        border-radius: 5px;
        background-color: #eceff1;
        width: 100%;
        height: 45px;
      }
      .send {
        height: 42px;
        padding: 0px 40px;
        border-radius: 0.25rem;
        line-height: 33px;
      }
    }
  }
}

.font-weight-700 {
  font-weight: 700 !important;
}

.vertical-align-center {
  vertical-align: middle;
  align-items: center;
  display: grid;
}

.overflow-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

img {
  border-radius: 50%;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.3);
}
