<app-breadcumb [title]="breadcumb?.title" [path]="breadcumb?.path"></app-breadcumb>


<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div [formGroup]="careerCoachForm" class="careercoach-form-area">

                <mat-form-field class="field-full-width">
                    <input type="text" matInput formControlName="name" placeholder="Title">
                </mat-form-field>

                <ng-select placeholder="Roles"
                    [items]="roles$ | async" [hideSelected]="true" formControlName="jobProfile"
                    [addTag]="formService?.addRoleFn" [bindLabel]="'name'" [minTermLength]="2" [loading]="rolesLoading"
                    [multiple]="true" [typeahead]="roleInput$">
                </ng-select>

                <app-editor *ngIf="descriptionFormControl?.value && edit; else add" (output)="updateFormData($event)"
                    [data]="descriptionFormControl?.value" [id]="'edit-dreamjob-editor'"
                    [importArticleSubscription]="true" [placeholder]="'Career Coach Description:'"></app-editor>

                <br />

                <ng-template #add>
                    <app-editor [placeholder]="'Career Coach Details:'" (output)="updateFormData($event)"
                        [id]="'career-coach-editor'" [importArticleSubscription]="true"></app-editor>
                </ng-template>


                <!-- <div class="row"> -->
                <ng-select placeholder="Select Companies" [addTag]="addCompany" [items]="allCompanies"
                    formControlName="companies" [multiple]="true" bindLabel="name">
                    <ng-option *ngFor="let cName of allCompanies" [value]="cName._id">
                        {{ cName?.name }}
                    </ng-option>
                </ng-select>
                <!-- </div> -->

                <div>
                    <label style="margin-bottom: 0 !important;">{{careerCoachQuestions['gapAnalysis']}}: </label>
                    <mat-radio-group [color]="'primary'" formControlName="gapAnalysis">
                        <mat-radio-button [value]="true">Yes</mat-radio-button>
                        <mat-radio-button [value]="false">No</mat-radio-button>
                    </mat-radio-group>
                </div>

                <div>
                    <label style="margin-bottom: 0 !important;">{{careerCoachQuestions['careerCoachSessions']}}:
                    </label>
                    <mat-radio-group [color]="'primary'" formControlName="careerCoachSessions">
                        <mat-radio-button [value]="true">Yes</mat-radio-button>
                        <mat-radio-button [value]="false">No</mat-radio-button>
                    </mat-radio-group>
                </div>

                <div>
                    <label style="margin-bottom: 0 !important;">{{careerCoachQuestions['helpingWithMockInterviews']}}:
                    </label>
                    <mat-radio-group [color]="'primary'" formControlName="helpingWithMockInterviews">
                        <mat-radio-button [value]="true">Yes</mat-radio-button>
                        <mat-radio-button [value]="false">No</mat-radio-button>
                    </mat-radio-group>
                </div>

                <div>
                    <label style="margin-bottom: 0 !important;">{{careerCoachQuestions['hiringMentoringSessions']}}:
                    </label>
                    <mat-radio-group [color]="'primary'" formControlName="hiringMentoringSessions">
                        <mat-radio-button [value]="true">Yes</mat-radio-button>
                        <mat-radio-button [value]="false">No</mat-radio-button>
                    </mat-radio-group>
                </div>


                <br />

                <div fxLayout="row" fxLayoutGap="10px">
                    <button *ngIf="statusFormControl?.value !== 'Published'" type="button" (click)="submit('Drafted')"
                        [disabled]="careerCoachForm?.invalid" mat-raised-button color="primary">Save</button>
                    <button type="button" (click)="submit('Published')" [disabled]="careerCoachForm?.invalid"
                        mat-raised-button
                        color="primary">{{ statusFormControl?.value === 'Published' ? 'Publish Changes' : 'Publish' }}</button>
                    <button *ngIf="statusFormControl?.value === 'Published'" type="button"
                        (click)="submit('Unpublished')" [disabled]="careerCoachForm?.invalid" mat-raised-button
                        color="primary">{{ 'Unpublish' }}</button>
                </div>

            </div>

        </div>

        <div class="col-md-4">

            <mat-list class="careercoach-form-area">
                <h3 style="font-size: large;" mat-subheader>Career Coaches:</h3>
                <mat-list-item *ngFor="let cc of listOfCareerCoaches; let last=last">
                    <!-- <mat-icon mat-list-icon>folder</mat-icon> -->
                    <img height="35px" width="35px" style="border-radius: 50%;"
                        [src]="cc?.createdBy?.avatar ? ((s3FilesBucketURL + cc.createdBy.avatar) | safe: 'resourceUrl') : anonymousAvatar">
                    <h4 mat-line><a>{{cc.name}}</a></h4>
                    <p mat-line> {{cc.createdAt | date}} </p>
                </mat-list-item>
                <div class="pagination-area" *ngIf="listOfCareerCoaches?.length < totalCareerCoaches">
                    <span 
                        style="text-decoration: underline; cursor: pointer;"
                (click)="fetchCareerCoaches(careerCoachPageNumber + 1)">+ Load More{{'(' + (totalCareerCoaches - listOfCareerCoaches?.length) + ')'}}</span>
                </div>
            </mat-list>

            <mat-list class="careercoach-form-area">
                <h3 style="font-size: large;" mat-subheader>Dream Jobs:</h3>
                <mat-list-item *ngFor="let cc of listOfDreamJobs; let last=last">
                    <!-- <mat-icon mat-list-icon>folder</mat-icon> -->
                    <img height="35px" width="35px" style="border-radius: 50%;"
                        [src]="cc?.createdBy?.avatar ? ((s3FilesBucketURL + cc.createdBy.avatar) | safe: 'resourceUrl') : anonymousAvatar">
                    <h4 mat-line><a>{{cc.name}}</a></h4>
                    <p mat-line> {{cc.createdAt | date}} </p>
                </mat-list-item>
                <div class="pagination-area" *ngIf="listOfDreamJobs?.length < totalDreamJobs">
                    <span 
                        style="text-decoration: underline; cursor: pointer;"
                        (click)="fetchDreamJobs(dreamJobPageNumber + 1)">+ Load More{{'(' + (totalDreamJobs - listOfDreamJobs?.length) + ')'}}</span>
                </div>
            </mat-list>

        </div>
    </div>
</div>