.careercoach-form-area {
    background: #fff;
    padding: 32px 30px 32px;
    margin-bottom: 30px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.mat-radio-button {
    margin: 0 12px;
}

.label {
    margin-bottom: 0 !important;
}

.field-full-width {
    width: 100%;
    margin: 20px 0 20px 0;
}

h4 {
    color: inherit;
    font-size: 17px !important;
}

h4:hover {
    color: blue;
}