<h3 mat-dialog-title>Invite Members</h3>

<mat-dialog-content style="height: 80%;">

    <div [formGroup]="usersListForm" *ngIf="userList?.controls">
        <div formArrayName="list" *ngFor="let u of userList?.controls; let i=index">

            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px" [formGroupName]="i">
                <span fxFlex="5">{{i + 1}}</span>
                <mat-form-field fxFlex="30">
                    <input matInput type="text" placeholder="Name" formControlName="name">
                </mat-form-field>
                <mat-form-field fxFlex="60">
                    <input matInput type="email" placeholder="Email" formControlName="email">
                </mat-form-field>
                <mat-icon (click)="addUser()">add_circle</mat-icon>
                <mat-icon *ngIf="i !== 0" (click)="removeUser(i)">remove_circle</mat-icon>
            </div>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button  mat-flat-button [disabled]="usersListForm?.invalid" color="primary" (click)="inviteMembers()">
        Proceed
    </button>
    <button  mat-flat-button color="warn" (click)="dialogRef.close()">
        Cancel
    </button>
</mat-dialog-actions>

<swal #successfulInvitation title="Invitation Sent Successfully!" type="success">
        <div *swalPartial class="alert alert-info">
            <h4>Subscription Purchased Successfully</h4>
            <ul style="list-style: none;">
                <li *ngFor="let p of subscriptionResponse?.subscriptionUsers">
                  <strong>{{p?.name}}</strong> - {{p?.email}}
                    <!-- <strong>{{p?.custom?.name}}</strong> - <strong>{{(p?.amount / 100) | currency}}</strong> -->
                </li>
            </ul>
        </div>
</swal>