<div style="display: flex;">
    <img style="margin: auto;" src="../../assets/images/banner_bank_ogo.png">
</div>

<div class="component container col-xs-12 full-width">
    <div class="component-content">


        <div class="component section-title col-xs-12 full-width">
            <div class="component-content">
                <h1 class="section-title-text field-text">How can Banner Bank help you?</h1>
            </div>
        </div>
        <div class="component slick col-xs-12 promo-carousel">
            <div class="component-content">
                <div data-id="divCarousel_a1c83bc9-804e-4a37-bb12-22db93a17935">
                    <div class="slick-slider-carousel slick-initialized slick-slider slick-dotted"
                        data-slick="{&quot;dots&quot;:true,&quot;focusOnSelect&quot;:false,&quot;infinite&quot;:true,&quot;slidesToShow&quot;:5,&quot;slidesToScroll&quot;:1,&quot;responsive&quot;:[{&quot;breakpoint&quot;:1600,&quot;settings&quot;:{&quot;slidesToScroll&quot;:4,&quot;slidesToShow&quot;:4}},{&quot;breakpoint&quot;:1300,&quot;settings&quot;:{&quot;slidesToScroll&quot;:3,&quot;slidesToShow&quot;:3}},{&quot;breakpoint&quot;:768,&quot;settings&quot;:{&quot;slidesToScroll&quot;:2,&quot;slidesToShow&quot;:2}},{&quot;breakpoint&quot;:640,&quot;settings&quot;:{&quot;slidesToScroll&quot;:1,&quot;slidesToShow&quot;:1}}],&quot;speed&quot;:1500,&quot;autoplay&quot;:false,&quot;autoplaySpeed&quot;:6000,&quot;arrows&quot;:true,&quot;pauseOnFocus&quot;:true,&quot;pauseOnHover&quot;:true,&quot;easing&quot;:&quot;BasicTransition&quot;}">
                        <!-- <button class="slick-prev slick-arrow" aria-label="Previous" type="button"
                            style="">Previous</button> -->
                        <div class="slick-list draggable">
                            <div class="slick-track">
                                

                                <div tabindex="-1" class="slick-slide slick-cloned" style="width: 304px; margin: auto;"
                                    role="tabpanel" data-slick-index="7" aria-hidden="true">

                                    <div class="component content promo-carousel-slide col-xs-12">
                                        <div class="component-content">
                                            <a title="Learn more about our Home Loan assistance" target="_blank"
                                                href="/dashboard/5eb9b183e68f35000835b034/eligibility-form" tabindex="-1">
                                                <div class="promo-carousel-slide-image">
                                                    <div class="circle field-slideimage"><img
                                                            src="https://www.bannerbank.com/-/media/project/banner-bank/dotcom/home/promotions/forebearance-promo-190x190.jpg?h=190&la=en&w=190&hash=5ED02D5EE6BACE225CD9D953182EB3A6"
                                                            alt="Person managing finances online" width="190"
                                                            height="190"
                                                            data-variantitemid="{068CB4B5-F80D-4962-99F8-57FB3ADC755B}"
                                                            data-variantfieldname="SlideImage" tabindex="-1"></div>
                                                </div>
                                            </a>
                                            <div class="promo-carousel-slide-content">
                                                <div class="field-slidetitle" role="heading" aria-level="3">Home Loan Help</div>
                                                <div class="field-slidetext">If the coronavirus pandemic has caused financial difficulties that will prevent you from paying your mortgage we may be able to help. </div>
                                                <div class="field-slidelink"><a
                                                    target="_blank"
                                                    href="/dashboard/5eb9b183e68f35000835b034/eligibility-form"
                                                        data-variantitemid="{068CB4B5-F80D-4962-99F8-57FB3ADC755B}"
                                                        title="View coronavirus assistance details"
                                                        data-variantfieldname="SlideLink" tabindex="-1">Coronavirus Forbearance Plan</a></div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- <button class="slick-next slick-arrow" aria-label="Next" type="button"
                            style="">Next</button> -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>