<!--================================
        START BREADCRUMB AREA
    =================================-->
    <app-breadcumb [title]="breadcumb?.title" [path]="breadcumb?.path"></app-breadcumb>
    <!--================================
            END BREADCRUMB AREA
        =================================-->
    
    <div class="container">
        <div class="row">
            <div class="col-md-12 inside-container-area">
                Connect with startups that are solving the problems that you believe in.
            </div>
        </div>
    </div>