<form [formGroup]="forgotPasswordForm">
    <h2>Reset your password</h2>
    <p>{{ 'You will receive a verification code' }}</p>

    <mat-form-field appearance="outline" class="field-full-width">
        <mat-label>Enter your email address</mat-label>
        <input matInput placeholder="Email" type="email" formControlName="email" autocomplete="email" required>
        <!-- <mat-hint *ngIf="!emailInput.value">Enter your email address</mat-hint> -->
        <!-- <mat-error *ngIf="!emailInput.valid">
            {{getEmailInputError()}}
        </mat-error> -->
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="onSend()" [disabled]="emailInput?.invalid">Submit</button>
    <span class="center" style="float: right;">Back to <a style="color: #0674ec;" (click)="authService?._authState.next({ state: 'signIn', user: null });">Sign In</a></span>
</form>