<app-breadcumb [title]="breadcumb?.title" [path]="breadcumb?.path"></app-breadcumb>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div [formGroup]="interviewForm" class="interview-form-area" (ngSubmit)="submit()">
                <mat-form-field class="field-full-width">
                    <input type="text" matInput formControlName="name" placeholder="Name">
                </mat-form-field>


                <app-editor *ngIf="interviewForm?.get('description')?.value; else add" (output)="updateFormData($event)" [data]="interviewForm?.get('description')?.value" [id]="'edit-interview-editor'"></app-editor>
                    

                <ng-template #add>
                    <app-editor (output)="updateFormData($event)"  [id]="'interview-editor'"></app-editor>
                </ng-template>

                



                <mat-form-field class="field-full-width">
                    <input matInput formControlName="shortDescription" placeholder="Short Description">
                </mat-form-field>

                <mat-form-field class="field-full-width">
                    <input type="number" matInput formControlName="price" placeholder="price">
                </mat-form-field>

                <mat-form-field class="field-full-width">
                    <input matInput formControlName="demo_url" placeholder="Demo Url">
                    <mat-error *ngIf="interviewForm?.get('demo_url')?.invalid">{{'Please enter a valid URL'}}
                    </mat-error>
                </mat-form-field>

                <!-- <mat-form-field class="field-full-width">
                    <input matInput formControlName="documentation_url" placeholder="Documentation Url">
                    <mat-error *ngIf="interviewForm?.get('documentation_url')?.invalid">{{'Please enter a valid URL'}}
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="field-full-width">
                    <input matInput formControlName="video_url" placeholder="Video Url">
                    <mat-error *ngIf="interviewForm?.get('video_url')?.invalid">{{'Please enter a valid URL'}}
                    </mat-error>
                </mat-form-field> -->

                <mat-form-field class="field-full-width">
                    <mat-chip-list #tagsList>
                        <mat-chip *ngFor="let tag of tagsFormControl?.value; let i = index;"
                            [selectable]="selectable" [removable]="true" (removed)="remove(i)">
                            {{tag?.name}}
                            <mat-icon matChipRemove>cancel</mat-icon>
                        </mat-chip>
                        <input placeholder="Add Programming Language Tags" [matChipInputFor]="tagsList"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                            (matChipInputTokenEnd)="addTech($event)">
                        <mat-icon matSuffix>web</mat-icon>
                    </mat-chip-list>
                </mat-form-field>


                <div formGroupName="support">
                    <mat-form-field class="field-full-width">
                        <input matInput type="number" formControlName="time" placeholder="Support Time(In Minutes)">
                    </mat-form-field>
                    
                    <ng-container *ngIf="supportDescriptionFormControl?.value; else addSupport">
                        <app-editor [data]="supportDescriptionFormControl?.value" (output)="updateSupportDescription($event)"
                        [id]="'edit-interview-support-editor'"></app-editor>
                    </ng-container>

                    <ng-template #addSupport>
                        <app-editor (output)="updateSupportDescription($event)"  [id]="'add-interview-support-editor'"></app-editor>
                    </ng-template>
                    
                </div>

                <br/>

                <button mat-raised-button (click)="submit()" color="primary">Submit Query</button>
            </div>

        </div>
    </div>
</div>