<div *ngIf="commentForm">
    <h4 *ngIf="showLabel">Comments</h4>
    <!-- comment reply -->
    <div class="media comment-form">
        <div class="media-left">
            <a href="#">
                <img class="author_avatar_comment" style="width: 45px; height: 45px;"
                    [src]="authService?.loggedInUser?.avatar ? ((s3FilesBucketURL + authService?.loggedInUser?.avatar) | safe: 'resourceUrl') : anonymousAvatar"
                    alt="Commentator Avatar">
            </a>
        </div>
        <div class="media-body" style="width: -webkit-fill-available;">
            <div [formGroup]="commentForm" class="comment-reply-form">
                
                
                <app-editor [id]="editorId" #addCommentEditor
                    [data]="commentForm?.get('text')?.value"
                    [html]="commentForm?.get('text')?.value"
                    [editorStyle]="{padding: '0 15px', 'border-radius': '19px', background: '#f2f3f5', border: 'solid 0.5px rgb(236, 236, 236)'}">
                </app-editor>

                <button style="float: right; margin-top: 10px;" type="button" class="btn btn--vsm btn--round"
                    (click)="addComment(addCommentEditor)">Post
                    Comment</button>
            </div>
        </div>
    </div>
    <!-- comment reply -->
</div>