<div *ngIf="commentForm">
    <h4 *ngIf="showLabel">Live Chat</h4>
    <!-- comment reply -->
    <div class="media comment-form">
        <div class="media-left">
            <a href="#">
                <img class="author_avatar_comment" style="width: 45px; height: 45px;"
                    [src]="authService?.loggedInUser?.avatar ? ((s3FilesBucketURL + authService?.loggedInUser?.avatar) | safe: 'resourceUrl') : anonymousAvatar"
                    alt="Commentator Avatar">
            </a>
        </div>
        <div class="media-body">
            <div [formGroup]="commentForm" class="comment-reply-form">
                
                <editor [formControl]="commentForm?.get('textHTML')" [apiKey]="tinyMCEApi" [id]="editorId" [init]="{
                    branding: false,
                    images_upload_base_path: s3FilesBucketURL,
                    file_picker_types: 'file image media',
                    file_picker_callback: authService.filePickerCallback,
                    image_title: true,
                    automatic_uploads: true,
                    media_live_embeds: true,
                    plugins: [ 'lists codesample pagebreak hr emoticons link image media help wordcount autoresize autolink powerpaste preview' ],
                    toolbar: 'preview | undo redo | image media emoticons | formatselect pagebreak hr | bold italic code codesample | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | help' }"></editor>
                <app-editor [id]="editorId" #addCommentEditor
                    [data]="commentForm?.get('text')?.value"
                    [editorStyle]="{padding: '0 15px', 'border-radius': '19px', background: '#f2f3f5', border: 'solid 0.5px rgb(236, 236, 236)'}">
                </app-editor>

                <button style="float: right; margin-top: 10px;" type="button" class="btn btn--vsm btn--round"
                    (click)="addComment(addCommentEditor)">Post
                    Comment</button>
            </div>
        </div>
    </div>
    <!-- comment reply -->
</div>