@import '../../assets/css/_general.scss';
@import '../../assets/css/_theme.scss';

:host ::ng-deep {
	.mat-horizontal-stepper-header-container {
		display: none;
	}
	.mat-horizontal-content-container {
		padding: 0;
	}
}

.blocks h6 {
	font-size: 24px;
}

// .business-communitites-label a:hover {
// 	text-decoration: underline;
// 	color: #ff6640;
// }


.block-row p {
	font-size: 18px;
	line-height: 2rem;
}

// Base Divider class
.divider {
	display: flex;
	// margin: 50px 0 50px 0;
	
	&:before,
	&:after {
	  content: "";
	  flex: 1;
	}
  }
  
  // Base line
  .line {
	align-items: center;
	margin: 2.5em -1em;
	
	&:before,
	&:after {
	  height: 1px;
	  margin: 0 1em;
	}
  }
  
  
	.one-line {
	  &:before,
	  &:after {
		background: rgba(0,0,0,.12);
	  }
	}

.header-image {
	height: -webkit-fill-available;
	width: inherit;
}

.hero-area{
	position: relative;
  }
  .hero-area{
	.bg_image_holder{

	}
	height: 550px;
	position: relative;
	width: 100%;
	&::before{
	  position: absolute;
	  height: 100%;
	  width: 100%;
	  content: '';
	//   background: linear-gradient(to left, #0030de, #0030de);
	  top: 0;
	  left: 0;
	  opacity: 0.8;
	}
	.hero-content{
	  display: table;
	  vertical-align: middle;
	  text-align: center;
	  width: 100%;
	  height: 100%;
	  .content-wrapper{
		display: table-cell;
		vertical-align: middle;
	  }
	}
	& .hero__content__title{
	  text-align: center;
	  h1{
		color: #f3f3f8;
		text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
		font-size: 60px;
		.light{
		  font-weight: 400;
		  display: block;
		}
		.bold{
		  font-weight: 500;
		}
	  }
	  .tagline{
		color: #f3f3f8;
		font-size: 20px;
		font-weight: 500;
		line-height: 72px;
		padding-bottom: 44px;
		margin: 0;
		padding-top: 20px;
	  }
	}
	& .hero__btn-area{
	  .btn{
		background: transparent;
		border: 1px solid #fff;
		color: #fff;
		transition: $transition;
		&:hover{
		  color: $pcolor;
		  background: #fff;
		}
	  }
	  .btn:first-child{
		margin-right: 26px;
	  }
	}
  }
  .hero-area+section{
	// padding-top: 187px;
  }


.google-button {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    padding: 6px 22px 6px 6px;
    width: auto;
    max-width: 232px;
    height: 50px;
    color: #34384f;
    font-size: 16px;
    font-weight: 500;
    border: 0;
    border-radius: 5px;
    background-color: #fff;
    text-decoration: none;
    transition: background .3s linear;
}
.google-button.special {
	border: 0;
    border-radius: 5px;
	display: inline-block;
	padding: 10px 10px 12px;
	width: 100%;
	max-width: 100%;
	height: 60px;
	color: #fff;
	font-size: 15px;
	background: linear-gradient(to top, #2d94ff, #3e82f7);
	box-shadow: inset #1d5bc5 0 -5px 0;
	cursor: not-allowed;
}
@media (min-width: 48em) {
	.google-button.special {
		font-size: 18px
	}
}
@media (min-width: 990px) {
	.google-button.special {
		padding: 10px 15px 15px 15px;
		height: 65px
	}
}
@media (min-width: 1050px) {
	.google-button.special {
		padding: 10px 15px 12px;
		height: 60px
	}
}
@media (min-width: 1200px) {
	.google-button.special {
		min-width: auto
	}
}
@media (min-width: 1260px) {
	.google-button.special {
		padding: 10px 15px 15px 15px;
		height: 65px
	}
}
.google-button.special:active {
	top: 0
}
.google-button.special:not([disabled]) {
	cursor: pointer;
	outline: 0
}
.google-button.special:not([disabled]):active {
	top: 5px;
	padding-bottom: 10px;
	height: 60px;
	box-shadow: none
}
.google-button.special .icon__box {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background: #fff
}
@media (min-width: 900px) {
	.google-button.special .icon__box {
		width: 40px;
		border-radius: 3px
	}
}
@media (min-width: 990px) {
	.google-button.special .icon__box {
		position: static;
		top: unset;
		left: unset;
		height: auto;
		margin-right: 20px
	}
}
@media (min-width: 1050px) {
	.google-button.special .icon__box {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		margin: 0
	}
}
@media (min-width: 1260px) {
	.google-button.special .icon__box {
		position: static;
		top: unset;
		left: unset;
		height: auto;
		margin-right: 20px
	}
}
@media (max-width: 767px) {
	.VideoHeader {
		min-height: 217px;
		height: auto;
	}
}
.text-primary {
    color: #00aeef !important;
}