<!-- Header Section Starts HERE -->

<!-- <section class="hero-area bgimage"> -->
<div class="container">
    <!-- <h1
        style="font-size: 50px; margin: 150px 40px 20px 13px; max-width: 100%; font-weight: 400; text-align: left;">
        Innovation made <br/>Accessible & Affordable for <br/>Everyone
    </h1> -->
    <div class="row" style="padding-top: 150px;">
        <div class="col-md-7">
            <br/>
            <br/>
            <br/>
            <h6
                style="font-size: 100px; max-width: 100%; font-weight: 400; text-align: left;">
                Prevention &<br />Treatment<br /> Reviews
            </h6>
            <button mat-flat-button color="primary" (click)="authService.login()">START TODAY</button>
        </div>
        <div style="text-align: center; align-self: center; " class="col-md-5">
            <img src="./../assets/images/end_cancer.gif">
        </div>
    </div>
    <div class="row" style="margin-top: 170px;">
            <h3
            style="font-size: 45px; margin: 20px 40px 20px 13px; max-width: 100%; font-weight: 400; text-align: center;">
        Benefits of Our Cancer Test Report:
        </h3>
        <div class="col-md-6" style="align-self: start;">
            <h6 style="font-weight: 800; margin: 5px; font-size: 2.0em;">1. Reduces the Guesswork in Selecting Your Cancer Treatment.<br/></h6>
           <div class="">
                    <img style="height: 235px; width: fit-content;" [src]="'../../assets/images/tests.png'"
                        alt="Product Image">
                    <!-- end /.prod_btn -->
                </div>
                <h6 style="font-weight: 200; margin: 5px; font-size: 2.4em;">
                    If the Cancer is not treated right the first time it can become more aggressive.</h6>
                <h6 style="font-weight: 200; margin: 5px; font-size: 2.4em;"></h6>
            
            <button mat-flat-button color="primary" (click)="authService.login()">JOIN</button>
        </div>

        <!-- <div class="col-md-2" style="text-align: center; margin-bottom: 30px; padding: 0;">
            <img style="width: 100%" src="./../assets/images/fly720x550.png">
        </div> -->

        <div class="col-md-6" style="align-self: start;">
                <h6 style="font-weight: 600; margin: 5px; font-size: 2.0em;">2.Helps select the most effective and least toxic drug regimen for your cancer.<br/></h6>
            <h6 style="font-weight: 600; margin: 5px; font-size: 2.0em;"></h6>
             <div class="">
                    <img style="height: 235px; width: fit-content;" [src]="'../../assets/images/report-final.png'"
                        alt="Product Image">
                    <!-- end /.prod_btn -->
                </div>
                <h6 style="font-weight: 200; margin: 5px; font-size: 2.4em;">
                        These Recommended Drugs Increase Your Survival Rates by XYZ</h6>
            <button mat-flat-button color="primary" (click)="authService.login()">JOIN</button>
        </div>
    </div>

    
    <!-- <table><tr>
            <td  height="550px"><img class="header-image" src="../../assets/images/fly720x550.png"
                alt="background-image"></td><td style="font-size: 67px; margin: 20px 40px 20px 40px; max-width: 550px; font-weight: 700;">FLY IN YOUR TECH CAREER</td>
            </tr></table> -->
</div>
<!-- </section> -->


<!--<section>-->

    <!-- start container -->
    <div class="container">
        
       
        
        <mat-divider style="margin: 10px;"></mat-divider>
        <!-- Header Section Ends HERE -->
        
        <div class="container">
            <div class="row" style="margin-top: 10px; margin-bottom: 20px;">
                <h3
                    style="font-size: 45px; margin: 20px 40px 20px 13px; max-width: 100%; font-weight: 400; text-align: center;">
                How Does It Work?</h3>
            </div>
        
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <!-- start .single-product -->
                    <div class="product product--card">
                        <h6 style="font-weight: 600; margin: 5px; font-size: 2.4em;">STEP 1</h6>
                        <h4 style="font-weight: 600; margin: 5px; font-size: 1.4em;">Order Specimen Transportation Kit</h4>
                        <div class="">
                            <img style="height: 235px; width: fit-content;" [src]="'../../assets/images/business_skills.png'"
                                alt="Product Image">
                            <!-- end /.prod_btn -->
                        </div>
                        <!-- end /.product__thumbnail -->
        
                        <div class="product-desc" style="height: 80px;">
                            <a class="product_title">
                                <h4>Order Specimen Transportation Kit</h4>
                            </a>
        
                            <!-- <p>Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisque the mattis,
                                leo quam aliquet congue.</p> -->
                        </div>
                        <button mat-flat-button color="primary" (click)="authService.login()">JOIN</button>
                        <!-- end /.product-desc -->
                    </div>
                    <!-- end /.single-product -->
                </div>
                <!-- end /.col-md-4 -->
        
                <div class="col-lg-4 col-md-6">
                    <!-- start .single-product -->
                    <div class="product product--card">
                    <h6 style="font-weight: 600; margin: 5px; font-size: 2.4em;">STEP 2</h6>
                    <h4 style="font-weight: 600; margin: 5px; font-size: 1.4em;">Return Your Specimen Kit With Your Cancer Cells</h4>
                        <div class="">
                            <img style="height: 235px; width: fit-content;" [src]="'../../assets/images/cancer_specimen.png'"
                                alt="Product Image">
                            <!-- end /.prod_btn -->
                        </div>
                        <!-- end /.product__thumbnail -->
        
                        <div class="product-desc" style="height: 80px;">
                            <a class="product_title">
                                <h4>Return Your Specimen Kit With Your Cancer Cells</h4>
                            </a>
        
                            <!-- <p>Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisque the mattis,
                                leo quam aliquet congue.</p> -->
                        </div>
                        <button mat-flat-button color="primary" (click)="authService.login()">JOIN</button>
                        <!-- end /.product-desc -->
                    </div>
                    <!-- end /.single-product -->
                </div>
        
        
                <div class="col-lg-4 col-md-6">
                    <!-- start .single-product -->
                    <div class="product product--card">
                        <h6 style="font-weight: 600; margin: 5px; font-size: 2.4em;">STEP 3: </h6>
                        <h4 style="font-weight: 600; margin: 5px; font-size: 1.4em;">Drug Activity & Synergy Reported within 7-10 days.</h4>
                   
                        <div class="">
                            <img style="height: 235px; width: fit-content;" [src]="'../../assets/images/startup_skills.png'"
                                alt="Product Image">
                            <!-- end /.prod_btn -->
                        </div>
                        <!-- end /.product__thumbnail -->
        
                        <div class="product-desc" style="height: 80px;">
                            <a class="product_title">
                                <h4>Drug Activity & Synergy Reported within 7-10 days.</h4>
                            </a>
        
                            <!-- <p>Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisque the mattis,
                                leo quam aliquet congue.</p> -->
                        </div>
                        <button mat-flat-button color="primary" (click)="authService.login()">JOIN</button>
                        <!-- end /.product-desc -->
                    </div>
                    <!-- end /.single-product -->
                </div>
            </div>
        </div>
        


                
                <!-- <div class="row" style="margin-left: 40px;">
                        <button mat-stroked-button color="primary">Sell</button>
                    </div> -->
            <!--</div>-->

            <!-- end /.col-md-12 -->
        <!-- </div> -->

    </div>
<!--</section>-->

<swal #successInvitationAccept title="Congratulations!" type="success" [showConfirmButton]="false">
    <div *swalPartial class="alert alert-info">
        <h4>You have accepted Invitation Successfully</h4>
        <p></p>
        <a class="btn btn--sm btn--round" [routerLink]="['/', 'dashboard', 'post-list']"
            [queryParams]="{type: 'event', all: true}">Events</a>
    </div>
</swal>