<!-- Header Section Starts HERE -->

<!-- <section class="hero-area bgimage"> -->

<section id="hero" style="padding: 0px 0;background: #ffffff; height: 100vh;">
    <div style="height: 100%;">
        <div class="row h-100" style="width: 100vw;">
            <div style="display: flex; padding: 0; background: #3f51b5;" class="col-lg-6 order-1 align-self-center h-100 order-md-2 order-lg-1 align-items-center justify-content-center hero-img aos-init aos-animate" data-aos="fade-left">
                <img style="vertical-align: middle; width: 100%; height: auto;" src="./../assets/images/art.png" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 align-self-center p-5 pt-5 h-100 pt-lg-0 order-md-1 order-2 order-lg-2 d-flex flex-column justify-content-center aos-init aos-animate"
                data-aos="fade-up">
                <div>
                    <!-- <h1
                        style="font-size: 34px; line-height: normal; max-width: 100%; text-align: left;color:#000; text-transform: none;margin-bottom: 1rem;letter-spacing: 1px;">
                        Supercharge your business with superhero tech and marketing teams
                    </h1> -->
                    <h2
                        style="font-size: 26px; line-height: normal; max-width: 100%; text-align: left;color:#999;margin-bottom: 1.5rem;font-weight: 100;">
                        Are you an Art Establishment, Art Exhibitor? Are you currently impact? Do you need help? Apply
                    </h2>
                    <!-- <h1 style="font-size: 1.9em; line-height: normal; margin: 20px 0 0 0; font-weight: 200; text-align: left; color:#00aeef">
                            <a class="btn btn-primary btn-md" [routerLink]="['/', 'company', 'add-company']">JOIN TODAY</a>
                        </h1> -->
                    <form *ngIf="questionnaire" [formGroup]="questionnaire">
                        <mat-horizontal-stepper linear #stepper>
                            <mat-step *ngFor="let formField of convertObjectToArray(questionnaire?.controls); let i = index; let l = last; let f = first;">
                                <h3>{{fields[i]?.label}}</h3>
                                <mat-form-field class="field-full-width" appearance="outline">
                                    <ng-container [ngSwitch]="fields[i]?.type">
                                        <textarea *ngSwitchCase="'textarea'" matInput (keyup.enter)="questionnaire?.get(formField)?.valid ? stepper.next() : ''" [placeholder]="fields[i].label" [formControlName]="formField"></textarea>
                                        <input *ngSwitchDefault matInput (keyup.enter)="questionnaire?.get(formField)?.valid ? stepper.next() : ''" [placeholder]="fields[i].label" [type]="fields[i].type" [formControlName]="formField">
                                    </ng-container>
                                    
                                </mat-form-field>
                                <div>
                                    <button style="margin-right: 10px;" *ngIf="!f" mat-raised-button matStepperPrevious type="button">Back</button>
                                    <button #nextStep *ngIf="!l" color="primary" [disabled]="questionnaire?.get(formField)?.invalid" mat-raised-button matStepperNext type="button">Next</button>
                                    <button *ngIf="l" color="primary" [disabled]="questionnaire?.get(formField)?.invalid" mat-raised-button type="button" (click)="submit(stepper)">Submit</button>
                                </div>
                            </mat-step>
                        </mat-horizontal-stepper>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>