<!-- Header Section Starts HERE -->

<!-- <section class="hero-area bgimage"> -->

<!-- <div style="padding: 0px 0;background: #ffffff;"> -->
    <!-- <div style="position: absolute; top: 51px; left: 44px; font-size: 20px; color: #000;letter-spacing: 0.9px;">coding +
        <span style="color: #00aeef;">marketing</span></div> -->
<div class="container-fluid">
    <div class="row" style="min-height: calc(100vh - 48px);">
        <div class="col-lg-6 order-1 order-lg-1 pt-3 pt-lg-0 pb-3 pb-lg-0 px-lg-5 hero-img d-flex flex-column justify-content-center aos-init aos-animate"  data-aos="fade-left" style="background-color: #333;">
            <!-- <img src="../../assets/images/new-header2.png" class="img-fluid" alt=""> -->
            <!-- <video loop controls autoplay>
                <source src="../../assets/images/video-graphics/video-header.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video> -->
            <iframe class="VideoHeader" width="100%" height="375" src="https://www.youtube.com/embed/OzQrxIE0TK8?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" autoplay loop allowfullscreen></iframe>
        </div>
        <div class="col-lg-6 pt-5 pt-lg-0 pb-3 px-lg-5 order-2 order-lg-2 d-flex flex-column justify-content-center aos-init aos-animate"  data-aos="fade-up">
            <div *ngIf="!showAuth || authService?.loggedInUser?._id; else authUI">
                <h1
                    style="font-size: 34px; line-height: normal; max-width: 100%; text-align: left;color:#000; text-transform: none;margin-bottom: 1rem;letter-spacing: 1px;">
                    Supercharge your business with superhero tech and marketing teams
                </h1>
                <h2
                    style="font-size: 26px; line-height: normal; max-width: 100%; text-align: left;color:#999;margin-bottom: 1.5rem;font-weight: 100;">
                    grow your business like a large corporation without the large overhead
                </h2>
                <!-- <h1 style="font-size: 1.9em; line-height: normal; margin: 20px 0 0 0; font-weight: 200; text-align: left; color:#00aeef">
                            <a class="btn btn-primary btn-md" [routerLink]="['/', 'company', 'add-company']">JOIN TODAY</a>
                        </h1> -->
                <form *ngIf="questionnaire" [formGroup]="questionnaire">
                    <mat-horizontal-stepper linear #stepper>
                        <mat-step
                            *ngFor="let formField of convertObjectToArray(questionnaire?.controls); let i = index; let l = last; let f = first;">
                            <!-- <h3>{{fields[i]?.label}}</h3> -->
                            <ng-container [ngSwitch]="fields[i]?.type">
                                <mat-form-field *ngSwitchCase="'textarea'" class="field-full-width"
                                    appearance="outline">
                                    <mat-label>{{fields[i].label}}</mat-label>
                                    <textarea matInput
                                        (keyup.enter)="questionnaire?.get(formField)?.valid ? stepper.next() : ''"
                                        [placeholder]="fields[i].label" [formControlName]="formField"></textarea>
                                </mat-form-field>
                                <mat-form-field *ngSwitchDefault class="field-full-width" appearance="outline">
                                    <mat-label>{{fields[i].label}}</mat-label>
                                    <input matInput
                                        (keyup.enter)="questionnaire?.get(formField)?.valid ? stepper.next() : ''"
                                        [placeholder]="fields[i].label" [type]="fields[i].type"
                                        [formControlName]="formField">
                                </mat-form-field>
                            </ng-container>
                            <div>
                                <button style="margin-right: 10px;box-shadow: none;background: #eee;" *ngIf="!f" mat-raised-button matStepperPrevious
                                    type="button">Back</button>
                                <button #nextStep *ngIf="!l" color="primary"
                                    [disabled]="questionnaire?.get(formField)?.invalid" mat-raised-button matStepperNext
                                    type="button">Next</button>
                                <button *ngIf="l" color="primary" [disabled]="questionnaire?.get(formField)?.invalid"
                                    mat-raised-button type="button" (click)="submit(stepper)">Submit</button>
                            </div>
                        </mat-step>
                    </mat-horizontal-stepper>
                </form>
            </div>
            <ng-template #authUI>
                <app-auth></app-auth>
            </ng-template>
        </div>
    </div>
</div>
<!-- </div> -->

<section *ngIf="false" id="hero" style="padding: 40px 0 0;background: #f2f9ff;">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 pt-5 pt-lg-0 order-1 order-lg-2 d-flex flex-column justify-content-center aos-init aos-animate"
                data-aos="fade-up">
                <div>
                    <h1
                        style="font-size: 40px; line-height: normal; max-width: 100%; text-align: left;color:#000; text-transform: none;margin-bottom: 1rem;letter-spacing: 1px;">
                        Grow Your Sales
                    </h1>
                    <h2
                        style="font-size: 26px; line-height: normal; max-width: 100%; text-align: left;color:#999;margin-bottom: 1.5rem;font-weight: 100;">
                        Connect & manage all your data from one center
                    </h2>
                    <!-- <h1 style="font-size: 1.9em; line-height: normal; margin: 20px 0 0 0; font-weight: 200; text-align: left; color:#00aeef">
                            <a class="btn btn-primary btn-md" [routerLink]="['/', 'company', 'add-company']">JOIN TODAY</a>
                        </h1> -->
                    <form>
                        <div id="append_location" class="individuals-signup-cta__form-group">
                            <label class="individuals-signup-cta__label">Enter your email address</label>
                            <input type="hidden" name="fyi_from_landing" value="true">
                            <input [(ngModel)]="emailInput" id="email_input"
                                class="individuals-signup-cta__email-input email_input" type="email" name="fyi_email">
                            <button [disabled]="!emailInput" id="submitBtn" class="google-button special" type="button"
                                [routerLink]="['../', 'help-business-grow']" [queryParams]="{email: emailInput}">
                                <span class="button-flex-wrapper">
                                    Start Today
                                </span>
                            </button>
                        </div>
                    </form>
                    <div class="individuals-signup__underform">
                        <span>Safe. Secure. Organized.</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 order-2 order-lg-1 hero-img aos-init aos-animate" data-aos="fade-left">
                <img src="../../assets/images/new-header.png" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</section>


<!-- <div class="container d-flex align-items-center" style="height: 92vh;">
    <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">

            <h1
                style="font-size: 60px; max-width: 100%; font-weight: 200; text-align: left;color:#ff6640">
                Launch & Grow A Successful Digital Products Company<br />
            </h1>

            <h1
                style="font-size: 60px; margin: 5px; font-weight: 200; text-align: left; color:#00aeef">
                <a [routerLink]="['/', 'company', 'add-company']">JOIN TODAY</a></h1>
        </div>
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
            <img src="../../assets/images/prosperous2.png">
        </div>
    </div>
</div> -->

<div *ngIf="false" style="background: #00aeef; padding: 80px 0 60px 0;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <h1 style="font-size: 2.3em; max-width: 100%; text-align: center; font-weight: 400; color: #ffffff">
                    Monetize Your Digital Products and Generate Revenue
                </h1>
                <hr style="max-width: 60vw; margin-top: 2rem; border-color: white;">
                <div class="mt-4 col-md-12">
                    <h2 style="font-size: 1.9em;   margin: 10px; text-align: center; font-weight: 100;"><a
                            [routerLink]="['/', 'post', 'add-dreamjob']" style="color: white;">» START TODAY «</a></h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="false" class="container-fluid" style="padding: 70px 0;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-md-12">
                <h4
                    style="font-size: 2.3em; margin: auto; max-width: 100%; text-align: center;; font-weight: 500; margin-bottom: 50px; font-weight: 400;">
                    3 Steps to create a profitable digital products business
                </h4>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12" style="text-align: center;">
                <img src="https://codemarket-files.s3.amazonaws.com/public/step1-2020-03-30T19:37:44.350Z.png"
                    style="width: 180px;">
                <div>
                    <h2 style="font-size: 1.5em;   margin: 10px 0; text-align: center; font-weight: 100; ">
                        <a [routerLink]="['/', 'post', 'add-dreamjob']"> Digital Products</a></h2>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12" style="text-align: center;">
                <img src="https://codemarket-files.s3.amazonaws.com/public/step2-2020-03-30T19:37:50.406Z.png"
                    style="width: 180px;">
                <div>
                    <h2 style="font-size: 1.5em;   margin: 10px 0; text-align: center; font-weight: 100; ">
                        <a [routerLink]="['/', 'post', 'add-dreamjob']"> Online Community </a></h2>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12" style="text-align: center;">
                <img src="https://codemarket-files.s3.amazonaws.com/public/step3-2020-03-30T19:38:01.351Z.png"
                    style="width: 180px;">
                <div>
                    <h2 style="font-size: 1.5em;   margin: 10px 0; text-align: center; font-weight: 100; ">
                        <a [routerLink]="['/', 'post', 'add-dreamjob']">Sell & Monetize</a></h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="false" style="background: #00aeef; padding: 80px 0 60px 0;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <h1 style="font-size: 2.3em; max-width: 100%;  text-align: center; font-weight: 400; color: #ffffff">
                    Create Digital Products
                </h1>
                <hr style="max-width: 30vw; margin-top: 2rem; border-color: white;">
                <div class="mt-4 col-md-12">
                    <h2 style="font-size: 1.9em;   margin: 10px; text-align: center; font-weight: 100;"><a
                            [routerLink]="['/', 'post', 'add-dreamjob']" style="color: white;">» START TODAY «</a></h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="false" class="container">
    <div class="row" style="padding: 80px 0 20px; align-items: center; margin: 0;">
        <div class="col-md-12">
            <h1 style="font-size: 2.3em;max-width: 100%;text-align: center;color: #00aeef; font-weight: 400; ">
                Digital Infrastructure Tailor-Made to Your Business Goals
            </h1>
            <hr style="border-color: #ff6640; max-width: 62vw; margin-top: 2rem; padding-bottom: 10px;">
            <div class="col-md-12" style="align-self: left;">
                <h6 style="font-size: 1.9em; margin: auto;; text-align: center; font-weight: 100; ">
                    Do You Want To Add Additional Revenue Steams to Your Business?
                </h6>
            </div>
        </div>
    </div>
</div>

<div *ngIf="false" class="container business-communitites-label" style="margin-bottom: 100px;">
    <div class="row mt-5 mb-5" style="margin-top: 10px; margin-bottom: 10px; text-align: center; ">
        <div class="col-md-3">
            <img [src]="'../../assets/images/website.svg'" class="mb-3 p-2" height="140px">
            <a style="font-size: 1.5em; font-weight: 100;" class="d-block" [routerLink]="['/', 'website']">Website</a>
        </div>
        <div class="col-md-3">
            <img [src]="'../../assets/images/facebook.svg'" class="mb-3 p-4" height="140px">
            <a style="font-size: 1.5em; font-weight: 100;" class="d-block"
                [routerLink]="['/', 'social-media-marketing']">facebook Marketing</a>
        </div>
        <div class="col-md-3">
            <img [src]="'../../assets/images/twitter.svg'" class="mb-3 p-4" height="140px">
            <a style="font-size: 1.5em; font-weight: 100;" class="d-block"
                [routerLink]="['/', 'social-media-marketing']">twitter Marketing</a>
        </div>
        <div class="col-md-3">
            <img [src]="'../../assets/images/meetup.svg'" class="mb-3 p-3" height="140px">
            <a style="font-size: 1.5em; font-weight: 100;" class="d-block"
                [routerLink]="['/', 'social-media-marketing']">meetup marketing</a>
        </div>
    </div>

    <div class="row mt-5 mb-5" style="margin-top: 10px; margin-bottom: 10px; text-align: center;">
        <div class="col-md-3">
            <img [src]="'../../assets/images/wordpress.svg'" class="mb-3 p-2" height="140px">
            <a style="font-size: 1.5em; font-weight: 100;" class="d-block" [routerLink]="['/', 'website']">WordPress</a>
        </div>
        <div class="col-md-3">
            <img [src]="'../../assets/images/instagram.svg'" class="mb-3 p-3" height="140px">
            <a style="font-size: 1.5em; font-weight: 100;" class="d-block"
                [routerLink]="['/', 'social-media-marketing']">Instagram</a>
        </div>
        <div class="col-md-3">
            <img [src]="'../../assets/images/zoom.png'" class="mb-3" height="140px">
            <a style="font-size: 1.5em; font-weight: 100;" class="d-block"
                [routerLink]="['/', 'social-media-marketing']">zoom</a>
        </div>
        <div class="col-md-3">
            <img [src]="'../../assets/images/mailchimp.svg'" class="mb-3 p-3" height="140px">
            <a style="font-size: 1.5em; font-weight: 100;" class="d-block"
                [routerLink]="['/', 'email-marketing']">MailChimp</a>
        </div>
    </div>
</div>

<!-- <div class="container">
    <div class="row" style="margin-top: 10px; margin-bottom: 10px; text-align: center;">
        <h3
            style="font-size: 65px; margin: 10px 10px 20px 13px; max-width: 100%; font-weight: 400; text-align: center;">
            Career Accelerator
        </h3>
    </div>
    <br />
    <div class="row" style="margin-top: 10px; margin-bottom: 10px; text-align: center;">
        <div class="col-md-6" style="align-self: left;">
            <img style="align-content: left" [src]="'../../assets/images/career.png'"
               ><br />
        </div>
        <div class="col-md-6" style="align-self: left;">
            <h6
                style="font-size: 40px; margin: 50px 10px 10px 10px; max-width: 100%; font-weight: 200; text-align: center;">
                Take Control of Your Career and Future.
            </h6>


            <div class="col-md-6; text-align: center;">
                <div class="product product--card">
                    <h6 style="font-weight: 600; margin: 10px; font-size: 2.4em;">March 21st, 2020</h6>
                    <h6 style="font-weight: 300; margin: 10px; font-size: 2.4em;">3 Months</h6>
                    <h2 style="font-weight: 400; margin: 10px;"><a
                            [routerLink]="['/', 'post', 'add-dreamjob']">APPLY</a></h2>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="container">
    <div class="row" style="margin-top: 10px; margin-bottom: 10px; text-align: center;">
        <h4
            style="font-size: 45px; margin: 10px 10px 20px 13px; max-width: 100%; font-weight: 400; text-align: center;">
            Benefits to Professionals
        </h4>

    </div>
    <br />
    <h6 style="font-size: 30px; margin: 20px 40px 20px 13px; max-width: 100%; font-weight: 200; text-align: left;">
        Upgrade your skills by training with experts and working on real projects.
    </h6>

    <div class="row">
        <div class="col-lg-12 col-md-6">
            <div class="product product--card">
                <h6 style="font-weight: 600; margin: 10px; font-size: 2.4em;">3 months training</h6>
                <h6 style="font-weight: 300; margin: 10px; font-size: 2.4em;">Skills in AI, ML, Coding, Design, Online
                    Marketing, Growth Hacking</h6>
                <h2 style="font-weight: 400; margin: 10px;"><a [routerLink]="['/', 'post','add-dreamjob']">APPLY</a>
                </h2>
            </div>

        </div>

    </div>
</div>
<div class="container">
    <div class="row" style="margin-top: 10px; margin-bottom: 10px; text-align: center; ">
        <div class="col-md-3" style="align-self: left;">
            <a style="font-weight: 600; margin: 10px; font-size: 2.0em;"
                [routerLink]="['/', 'training-from-experts']">Training from Experts</a>
            <img style="align-content: left" [src]="'../../assets/images/training3.png'"
               ><br />
        </div>
        <div class="col-md-3" style="align-self: left;">
            <a style="font-weight: 600; margin: 10px; font-size: 2.0em;" [routerLink]="['/', 'real-projects']">Real
                Projects</a>
            <img style="align-content: left" [src]="'../../assets/images/real_projects.png'"
               ><br />
        </div>
        <div class="col-md-3" style="align-self: left;">
            <a style="font-weight: 600; margin: 10px; font-size: 2.0em;" [routerLink]="['/', 'mock-interviews']">Mock
                Interviews</a>
            <img style="align-content: left" [src]="'../../assets/images/mock2.png'"
               ><br />
        </div>
        <div class="col-md-3" style="align-self: left;">
            <a style="font-weight: 600; margin: 10px; font-size: 2.0em;" [routerLink]="['/', 'dream-job-mentors']">Dream
                Job Mentors</a>
            <img style="align-content: left" [src]="'../../assets/images/career_mentor.png'"
               ><br />
        </div>
    </div>
    <div class="row" style="margin-top: 10px; margin-bottom: 10px; text-align: center; ">
        <div class="col-md-3" style="align-self: left;">
            <a style="font-weight: 600; margin: 10px; font-size: 2.0em;"
                [routerLink]="['/', 'stress-management']">Stress Management</a>
            <img style="align-content: left" [src]="'../../assets/images/stress.png'"
               ><br />
        </div>
        <div class="col-md-3" style="align-self: left;">
            <a style="font-weight: 600; margin: 10px; font-size: 2.0em;"
                [routerLink]="['/', 'resume-gap-analysis']">Resume Gap Analysis</a>
            <img style="align-content: left" [src]="'../../assets/images/mock.png'"
               ><br />
        </div>
        <div class="col-md-3" style="align-self: left;">
            <a style="font-weight: 600; margin: 10px; font-size: 2.0em;" [routerLink]="['/', 'peer-networking']">Peer
                Networking</a>
            <img style="align-content: left" [src]="'../../assets/images/network.png'"
               ><br />
        </div>
        <div class="col-md-3" style="align-self: left;">
            <a style="font-weight: 600; margin: 10px; font-size: 2.0em;"
                [routerLink]="['/', 'leadership-training']">Leadership Training</a>
            <img style="align-content: left" [src]="'../../assets/images/leader.png'"
               ><br />
        </div>
    </div>
</div>
<div class="container">
    <div class="row" style="margin-top: 10px; margin-bottom: 10px; text-align: center;">
        <h3
            style="font-size: 65px; margin: 10px 10px 20px 13px; max-width: 100%; font-weight: 400; text-align: center;">
            Impact Marketing Program
        </h3>
    </div>
    <br />
    <div class="row" style="margin-top: 10px; margin-bottom: 10px; text-align: center;">
        <div class="col-md-6" style="align-self: left;">
            <img style="align-content: left" [src]="'../../assets/images/impact.png'"
               ><br />
        </div>
        <div class="col-md-6" style="align-self: left;">
            <h6
                style="font-size: 40px; margin: 50px 10px 10px 10px; max-width: 100%; font-weight: 200; text-align: center;">
                Create deep engagement of your products and services with local businesses and local professionals.
            </h6>


            <div class="col-md-6; text-align: center;">
                <div class="product product--card">
                    <h6 style="font-weight: 600; margin: 10px; font-size: 2.4em;">March 21st, 2020</h6>
                    <h6 style="font-weight: 300; margin: 10px; font-size: 2.4em;">3 Months</h6>
                    <h2 style="font-weight: 400; margin: 10px;"><a
                            [routerLink]="['/', 'post', 'add-dreamjob']">APPLY</a></h2>
                </div>
            </div>

        </div>
        <div class="row" style="margin-top: 10px; margin-bottom: 10px; text-align: center;">
            <h4
                style="font-size: 45px; margin: 10px 10px 20px 13px; max-width: 100%; font-weight: 400; text-align: center;">
                Benefits to Vendors
            </h4>

        </div>
        <br />
        <h6 style="font-size: 30px; margin: 20px 40px 20px 13px; max-width: 100%; font-weight: 200; text-align: left;">
            Create Real Stories of Your Product Usage and Product Advocates.

        </h6>

        <div class="row">
            <div class="col-lg-12 col-md-6">
                <div class="product product--card">
                    <h6 style="font-weight: 600; margin: 10px; font-size: 2.4em;">3 months engagement</h6>
                    <h6 style="font-weight: 300; margin: 10px; font-size: 2.4em;">Opportunity to build sticky and viral
                        marketing stories</h6>
                    <h2 style="font-weight: 400; margin: 10px;"><a [routerLink]="['/', 'post','add-dreamjob']">APPLY</a>
                    </h2>
                </div>

            </div>

        </div>
        <div class="row" style="margin-top: 10px; margin-bottom: 10px; text-align: center; ">
            <div class="col-md-3" style="align-self: left;">
                <a style="font-weight: 600; margin: 10px; font-size: 2.0em;" [routerLink]="['/', 'sticky']">Sticky</a>
                <img style="align-content: left" [src]="'../../assets/images/sticky.png'"
                   ><br />
            </div>
            <div class="col-md-3" style="align-self: left;">
                <a style="font-weight: 600; margin: 10px; font-size: 2.0em;" [routerLink]="['/', 'viral']">Viral</a>
                <img style="align-content: left" [src]="'../../assets/images/viral.png'"
                   ><br />
            </div>
            <div class="col-md-3" style="align-self: left;">
                <a style="font-weight: 600; margin: 10px; font-size: 2.0em;"
                    [routerLink]="['/', 'community-impact-stories']">Community Impact Stories</a>
                <img style="align-content: left" [src]="'../../assets/images/community2.png'"
                   ><br />
            </div>
            <div class="col-md-3" style="align-self: left;">
                <a style="font-weight: 600; margin: 10px; font-size: 2.0em;"
                    [routerLink]="['/', 'advocates-influencers']">Advocates & Influencers</a>
                <img style="align-content: left" [src]="'../../assets/images/influencer.png'"
                   ><br />
            </div>
        </div>
    </div>
</div> -->

<!-- start container -->

<!--</section>-->

<div class="container-fluid">

    <div class="row" style="min-height: 100vh;">
        <div class="col-lg-6 order-1 order-lg-2 pt-3 pt-lg-0 pb-3 pb-lg-0 px-lg-5 d-flex flex-column justify-content-center aos-init aos-animate"  data-aos="fade-left" style="background-color: #FCCA0E;">
            <img src="../../assets/images/video-graphics/01.png" style="max-width: min-content;margin: 0 auto;">
        </div>
        <div class="col-lg-6 pt-5 pt-lg-0 pb-3 px-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center aos-init aos-animate"  data-aos="fade-up">
            <h3 class="text-primary">Helping your business to grow by</h3>
            <h2>Launching Online Campaigns</h2>
            <h3>that deliver results consistently</h3>
        </div>
    </div>

    <div class="row" style="min-height: 100vh;">
        <div class="col-lg-6 order-1 order-lg-1 pt-3 pt-lg-0 pb-3 pb-lg-0 px-lg-5 hero-img d-flex flex-column justify-content-center aos-init aos-animate"  data-aos="fade-left" style="background-color: #FCCA0E;">
            <img src="../../assets/images/video-graphics/02.png" style="max-width: min-content;margin: 0 auto;">
        </div>
        <div class="col-lg-6 pt-5 pt-lg-0 pb-3 px-lg-5 order-2 order-lg-2 d-flex flex-column justify-content-center aos-init aos-animate"  data-aos="fade-up">
            <h3 class="text-primary">Consistent Campaigns by</h3>
            <h2>Automating Sales Funnels</h2>
        </div>
    </div>

    <div class="row" style="min-height: 100vh;">
        <div class="col-lg-6 order-1 order-lg-2 pt-3 pt-lg-0 pb-3 pb-lg-0 px-lg-5 hero-img d-flex flex-column justify-content-center aos-init aos-animate"  data-aos="fade-left" style="background-color: #FCCA0E;">
            <img src="../../assets/images/video-graphics/03.png" style="max-width: min-content;margin: 0 auto;">
        </div>
        <div class="col-lg-6 pt-5 pt-lg-0 pb-3 px-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center aos-init aos-animate"  data-aos="fade-up">
            <h3 class="text-primary">We are a team of</h3>
            <h2>Software Developers</h2>
            <h2>Data Scientists</h2>
            <h2>AI Experts</h2>
            <h2>Designers</h2>
            <h2>Video Editors</h2>
            <h2>Animators</h2>
        </div>
    </div>

    <div class="row" style="min-height: 100vh;">
        <div class="col-lg-6 order-1 order-lg-1 pt-3 pt-lg-0 pb-3 pb-lg-0 px-lg-5 hero-img d-flex flex-column justify-content-center aos-init aos-animate"  data-aos="fade-left" style="background-color: #FCCA0E;">
            <img src="../../assets/images/video-graphics/04.png" style="max-width: min-content;margin: 0 auto;">
        </div>
        <div class="col-lg-6 pt-5 pt-lg-0 pb-3 px-lg-5 order-2 order-lg-2 d-flex flex-column justify-content-center aos-init aos-animate"  data-aos="fade-up">
            <h3 class="text-primary">What goes into a successful campaign?</h3>
            <h2>Personalized Content</h2>
            <h3 class="text-danger">not steal content</h3>
        </div>
    </div>

    <div class="row" style="min-height: 100vh;">
        <div class="col-lg-6 order-1 order-lg-2 pt-3 pt-lg-0 pb-3 pb-lg-0 px-lg-5 hero-img d-flex flex-column justify-content-center aos-init aos-animate"  data-aos="fade-left" style="background-color: #FCCA0E;">
            <img src="../../assets/images/video-graphics/05.png" style="max-width: min-content;margin: 0 auto;">
        </div>
        <div class="col-lg-6 pt-5 pt-lg-0 pb-3 px-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center aos-init aos-animate"  data-aos="fade-up">
            <h3 class="text-primary">Mailing List that’s Growing with</h3>
            <h2>Real Leads</h2>
            <h3 class="text-danger">not steal leads</h3>
        </div>
    </div>

    <div class="row" style="min-height: 100vh;">
        <div class="col-lg-6 order-1 order-lg-1 pt-3 pt-lg-0 pb-3 pb-lg-0 px-lg-5 hero-img d-flex flex-column justify-content-center aos-init aos-animate"  data-aos="fade-left" style="background-color: #FCCA0E;">
            <img src="../../assets/images/video-graphics/06.png" style="max-width: min-content;margin: 0 auto;">
        </div>
        <div class="col-lg-6 pt-5 pt-lg-0 pb-3 px-lg-5 order-2 order-lg-2 d-flex flex-column justify-content-center aos-init aos-animate"  data-aos="fade-up">
            <h3 class="text-primary">Landing Pages that engage with your leads.<br/>For that,</h3>
            <h2>You need a Community Driven Website</h2>
            <h3>& teller made to your leads</h3>
        </div>
    </div>

</div>