<div class="rupertspira">
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div style="max-height: 400px; overflow: hidden;">
                        <img src="../../assets/images/inner_peace.jpeg" class="img-fluid">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="bg-white p-4">
                        <div class="row">

                            <div class="col-md-4">
                                <div class="text-success h5">May 21, 2020</div>
                                <div class="font-weight-bold h3 mb-4">Thursday Thoughts</div>
                                <p>While it’s true that, at times . . .</p>
                                <p>You may know sadness.</p>
                                <p>You may know frustration.</p>
                                <p>You may know restlessness.</p>
                                <p>You may know anxiety.</p>
                                <p>You may know stress.</p>
                                <p>You may know insecurity.</p>
                                <div [hidden]="isShowDiv1">
                                    <p>It is also true that the YOU WHO KNOWS sadness, frustration, restlessness, anxiety, stress, and insecurity is NEVER any of those things.</p>
                                    <p>The YOU WHO KNOWS all of these, and every other possible feeling-state, is the infinite, open, empty, loving, unbreakably resilient, and permanently peaceful space in which all feelings arise and dissolve without a trace.</p>
                                </div>
                                <div class="btn btn-md mb-5" style="font-size: 15px; line-height: 33px; background: purple;" (click)=toggleDisplayDiv1() >View More / Less</div>
                            </div>

                            <div class="col-md-4">
                                <div class="text-success h5">May 14, 2020</div>
                                <div class="font-weight-bold h3 mb-4">Thursday Thoughts</div>
                                <p class="mb-5">If who you truly are — the ever-present knower of all your perceptions, all your sensations and feelings, and all your thoughts — is 100 percent whole and complete, then what in the world do you still need to fix . . . to avoid . . . to defend yourself against . . . or to otherwise be different in order for you to be “whole-er” or “complete-er”?</p>
                            </div>

                            <div class="col-md-4">
                                <div class="text-success h5">May 7, 2020</div>
                                <div class="font-weight-bold h3 mb-4">Thursday Thoughts</div>
                                <p>Here’s a cost-free, effort-free way to make a difference of epic proportions.</p>
                                <p>Turn your attention inward and recognize your true Self as:</p>
                                <ul style="padding-left: 40px; font-size: 20px;">
                                    <li>Ever-present, always whole and complete, knowing AWARENESS;</li>
                                    <li [hidden]="isShowDiv2">The unlimited, imperturbable space in which all your experience appears and dissolves;</li>
                                    <li [hidden]="isShowDiv2">The boundless universe of infinite inner peace, unconditional love, and unbreakable resilience.</li>
                                </ul>
                                <p [hidden]="isShowDiv2">As you deepen in this understanding, you will relieve everyone you love, and the world at large, of the burden of the impossible task of making you happy.</p>
                                <div class="btn btn-md mb-5" style="font-size: 15px; line-height: 33px; background: purple;" (click)=toggleDisplayDiv2() >View More / Less</div>
                            </div>                            

                            <div class="col-md-4">
                                <div class="text-success h5">April 30, 2020</div>
                                <div class="font-weight-bold h3 mb-4">Thursday Thoughts</div>
                                <p>Let’s begin a new self-conversation by reflecting on the following:</p>
                                <p>What is it that is ever-aware of all of your experience?</p>
                                <p>What is it that, while ever-aware of all your experience, is not itself an object to be found within your experience?</p>
                                <p [hidden]="isShowDiv3">What is it that knows every quality of your experience — tense, restful, despairing, elated, and so on — yet is devoid of any qualities. (Otherwise, an even-greater Awareness would have to know the qualities of this one.)</p>
                                <p [hidden]="isShowDiv3">Consider that this infinite and ever-aware presence is YOU, who you really are, and that this gentle reflection is merely the recognition of your own being.</p>
                                <p [hidden]="isShowDiv3">And, as an absence of qualities is the same thing as an undisturbed neutrality, as true peace, consider this simple, gentle conversation an opportunity to recognize the limitless peace behind all experience.</p>
                                <div class="btn btn-md" style="font-size: 15px; line-height: 33px; background: purple;" (click)=toggleDisplayDiv3() >View More / Less</div>
                            </div>

                        </div>
                    </div>
                    <div class="p-4" style="background: #7649a0;">
                        <p class="text-white">If you would like me to clarify anything you read in this weekly message, please reach out.</p>
                        <p class="text-white">I'm here for you. Click the button below to schedule a free, private conversation about what is always safe and secure, no matter the circumstances.</p>
                        <p class="text-white">(And join us Thursdays for our Happiness Club Zoom. Details in the green box below.)</p>
                        <a href="mailto:thedraz@mac.com" class="d-block mx-0 mt-4 p-2 text-white text-center" style="font-size: 24px;background: #0c3f74;border: 0;border-radius: 4px;">Click here to schedule your free 30-minute conversation</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>