<div class="rupertspira">
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div style="max-height: 400px; overflow: hidden;">
                        <img src="../../assets/images/inner_peace.jpeg" class="img-fluid">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="bg-white p-4">
                        <div class="row">
                            <div class="item-grid pen-grid item-grid-large" style="width: 100%;">
                                <app-brief-post style="width: 100%;" [p]="e"
                                    *ngFor="let e of listOfConnectedPosts?.posts" [readMore]="true"></app-brief-post>
                            </div>
                        </div>
                        <app-paginator [length]="totalConnectedPosts"
                            (fetchData)="paginator = $event; getConnectedPosts('blog')">
                        </app-paginator>

                    </div>
                    <div class="p-4" style="background: #7649a0;">
                        <p class="text-white">If you would like me to clarify anything you read in this weekly message,
                            please reach out.</p>
                        <p class="text-white">I'm here for you. Click the button below to schedule a free, private
                            conversation about what is always safe and secure, no matter the circumstances.</p>
                        <p class="text-white">(And join us Thursdays for our Happiness Club Zoom. Details in the green
                            box below.)</p>
                        <a href="mailto:thedraz@mac.com" class="d-block mx-0 mt-4 p-2 text-white text-center"
                            style="font-size: 24px;background: #0c3f74;border: 0;border-radius: 4px;">Click here to
                            schedule your free 30-minute conversation</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>