<app-breadcumb [title]="breadcumb?.title">
</app-breadcumb>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div [formGroup]="postForm" class="add-form-area common-box-shadow">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label>First Name*</label>
                        <input formControlName="firstName" type="email" class="form-control" aria-describedby="firstName" placeholder="First Name*">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Last Name</label>
                        <input formControlName="lastName" type="text" class="form-control" aria-describedby="lastName" placeholder="Last Name">    
                    </div>
                </div>
 
                <div class="row">
                    <div class="form-group col-md-6">
                        <label>Business Name*</label>
                        <input formControlName="businessName" type="text" class="form-control" aria-describedby="businessName" placeholder="Business Name*">                  
                    </div>
                    <div class="form-group col-md-6">
                        <label>Mobile Number*</label>
                        <input formControlName="mobileNumber" type="number" class="form-control" aria-describedby="Mobile" placeholder="Mobile Number*">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your mobile number with anyone else.</small>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-6">
                        <label>Website</label>
                        <input formControlName="website" type="text" class="form-control" aria-describedby="website" placeholder="Website">                        
                    </div>

                    <div class="form-group col-md-6">
                        <label>City</label>
                        <input formControlName="city" type="text" class="form-control" aria-describedby="city" placeholder="City">  
                    </div>
    
                </div>
                

                <br />

                <div class="wrap">
                    <h2>Select Business Areas You need help with your sales:</h2>
                    <mat-chip-list style="display: block; padding-bottom: 20px;">
                        <mat-chip *ngFor="let ba of selectedBusinessAreas" [removable]="true"
                            (removed)="removeSelectedBusinessAreas(ba)">
                            {{ba.name}}
                            <mat-icon matChipRemove>cancel</mat-icon>
                        </mat-chip>
                    </mat-chip-list>
                    <!-- <p></p> -->

                    <div class="line">
                        <a class="area-btn" #area
                            (click)="addSelectedBusinessAreas(b); area.classList.toggle('active'); check.classList.toggle('far');  check.classList.toggle('fa-check-circle')"
                            *ngFor="let b of businessAreas">
                            <span><i #check style="margin-right: 5px;"></i>{{b?.name}}</span>
                        </a>
                    </div>
                </div>

                <br />

                <div fxLayout="row" fxLayoutGap="10px">
                    <button type="button" (click)="submit()" [disabled]="postForm?.invalid" mat-raised-button
                        color="primary">Save</button>
                </div>

            </div>

        </div>
    </div>
</div>