<app-breadcumb [title]="breadcumb?.title" [path]="breadcumb?.path"></app-breadcumb>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div [formGroup]="eventForm" class="event-form-area">

                <!-- Name Form Control -->
                <mat-form-field class="field-full-width">
                    <input type="text" matInput formControlName="name" placeholder="Name">
                </mat-form-field>

                <!-- Description Form Control -->
                <h6>Description:</h6>
                <br />

                <app-editor *ngIf="descriptionFormControl?.value && edit; else add" (output)="updateFormData($event)"
                    [data]="descriptionFormControl?.value" [id]="'edit-event-editor'"></app-editor>

                <ng-template #add>
                    <app-editor *ngIf="!edit" (output)="updateFormData($event)" [id]="'event-editor'"></app-editor>
                </ng-template>
                <br />

                <!-- Location Details -->
                <!-- <pre>{{locationFormGroup?.value | json}}</pre> -->
                <h6>Enter Event Location</h6>
                <br />
                <mat-form-field class="field-full-width">
                    <input type="text" matInput placeholder="Search Location" #searchLocation>
                    <mat-icon matSuffix (click)="locationService?.setCurrentLocation(locationFormGroup)">my_location
                    </mat-icon>
                </mat-form-field>


                <div *ngIf="locationFormGroup.get('latitude').value || locationFormGroup.get('longitude').value">
                    <agm-map [latitude]="locationFormGroup.get('latitude').value"
                        [longitude]="locationFormGroup.get('longitude').value" [zoom]="zoom">
                        <agm-marker [latitude]="locationFormGroup.get('latitude').value"
                            [longitude]="locationFormGroup.get('longitude').value" [markerDraggable]="true"
                            (dragEnd)="locationService?.markerDragEnd($event, locationFormGroup)"></agm-marker>
                    </agm-map>
                </div>
                <!-- 
                <h5>Address: {{address}}</h5>
                <div>Latitude: {{latitude}}</div>
                <div>Longitude: {{longitude}}</div> -->

                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="field-full-width" [formGroupName]="'location'">
                            <textarea type="text" matInput formControlName="address" placeholder="Address"></textarea>
                            <!-- <mat-icon matSuffix>location</mat-icon> -->
                        </mat-form-field>
                    </div>
                    <div class="col-md-6" style="align-self: flex-end;">
                        <!-- Event Date Range -->
                        <mat-form-field class="field-full-width">
                            <input (click)="dt2.open()" formControlName="dateRange" matInput [owlDateTime]="dt2"
                                [selectMode]="'range'" placeholder="Event Date & Time">
                            <mat-icon matSuffix [owlDateTimeTrigger]="dt2">date_range</mat-icon>
                            <owl-date-time #dt2 [pickerType]="'both'"></owl-date-time>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <!-- Select Company -->
                        <ng-select placeholder="Select Company" formControlName="company">
                            <ng-option *ngFor="let cName of allCompanies" [value]="cName._id">
                                {{ cName?.name }}
                            </ng-option>
                        </ng-select>
                    </div>
                    <div class="col-md-6">
                        <!-- Select Company Type -->
                        <ng-select placeholder="Select Event Type" formControlName="eventType">
                            <ng-option *ngFor="let cName of eventTypes" [value]="cName">
                                {{ cName }}
                            </ng-option>
                        </ng-select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label class="example-margin">Membership Required</label>
                        <mat-radio-group formControlName="membershipRequired" [color]="'primary'"
                            aria-label="Select an option" #user="matRadioGroup" fxLayout="row" fxLayoutGap="8px">
                            <mat-radio-button fxFlex="20" [value]="true">Yes</mat-radio-button>
                            <mat-radio-button fxFlex="20" [value]="false">No</mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="field-full-width">
                            <input type="number" matInput formControlName="price" placeholder="price">
                            <mat-icon matSuffix>monetization_on</mat-icon>
                        </mat-form-field>
                    </div>
                </div>

                <mat-form-field class="field-full-width">
                    <mat-chip-list #tagsList>
                        <mat-chip *ngFor="let tag of tagsFormControl?.value; let i = index;" [selectable]="selectable"
                            [removable]="true" (removed)="remove(i)">
                            {{tag?.name}}
                            <mat-icon matChipRemove>cancel</mat-icon>
                        </mat-chip>
                        <input #searchInput [formControl]="searchText" [matAutocomplete]="auto"
                            placeholder="Add Programming Language Tags" [matChipInputFor]="tagsList"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                            (matChipInputTokenEnd)="addTech($event)">
                        <mat-icon matSuffix>code</mat-icon>
                    </mat-chip-list>
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                        <mat-option *ngFor="let tag of tagSuggestions" [value]="tag">
                            {{tag?.name}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>


                <!-- <div formGroupName="support">
                    <mat-form-field class="field-full-width">
                        <input matInput type="number" formControlName="time" placeholder="Support Time(In Minutes)">
                        <mat-icon matSuffix>av_timer</mat-icon>
                    </mat-form-field>

                    <h6>Support Details:
                        <mat-icon matSuffix class="vertical-align-middle float-right">record_voice_over</mat-icon>
                        <mat-icon matSuffix class="vertical-align-middle float-right">email</mat-icon>
                    </h6>
                    <br />

                    <ng-container *ngIf="supportDescriptionFormControl?.value && edit; else addSupport">
                        <app-editor [data]="supportDescriptionFormControl?.value"
                            (output)="updateSupportDescription($event)" [id]="'edit-event-support-editor'">
                        </app-editor>
                    </ng-container>

                    <ng-template #addSupport>
                        <app-editor (output)="updateSupportDescription($event)" [id]="'add-event-support-editor'">
                        </app-editor>
                    </ng-template>

                </div> -->

                <br />

                <div fxLayout="row" fxLayoutGap="10px">
                    <button *ngIf="statusFormControl?.value !== 'Published'" type="button" (click)="submit('Drafted')"
                        [disabled]="eventForm?.invalid" mat-raised-button color="primary">Save</button>
                    <button type="button" (click)="submit('Published')" [disabled]="eventForm?.invalid"
                        mat-raised-button
                        color="primary">{{ statusFormControl?.value === 'Published' ? 'Publish Changes' : 'Publish' }}</button>
                    <button *ngIf="statusFormControl?.value === 'Published'" type="button"
                        (click)="submit('Unpublished')" [disabled]="eventForm?.invalid" mat-raised-button
                        color="primary">{{ 'Unpublish' }}</button>
                </div>

            </div>

        </div>
    </div>
</div>