<form-builder id="builder" [form]="form" (change)="onChange($event)"></form-builder>

<div [formGroup]="formDetails" class="add-form-area common-box-shadow">
  
  <mat-form-field class="field-full-width">
    <input type="text" matInput formControlName="formname" placeholder="Enter Form Name">
  </mat-form-field>

  <input type="hidden" formControlName="jsonstring">

  <div fxLayout="row" fxLayoutGap="10px">
    <button type="button" (click)="submit()" mat-raised-button color="primary">Save From</button>
  </div>
</div>