<!--================================
        START BREADCRUMB AREA
=================================-->
<app-breadcumb [title]="breadcumb?.title" [path]="breadcumb?.path"></app-breadcumb>
<!--================================
        END BREADCRUMB AREA
=================================-->

<section class="job_area" style="padding-top: 50px;">
    <div class="container">
        <!-- <div class="row"> -->
            <mat-tab-group [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)">
                <mat-tab [label]="'Software Developer'">
                    Upgrade  tech skills, business skills and leadership skills
                    <ng-container *ngTemplateOutlet="plansTemplate; context: {plans: listOfPlans, planType: 'software_developer'}">
                    </ng-container>
                </mat-tab>

                <mat-tab [label]="'Business'">
                Connect and engage with innovators to learn how innovation can help your business
                    <ng-container *ngTemplateOutlet="plansTemplate; context: {plans: listOfPlans, planType: 'business'}">
                        </ng-container>
                </mat-tab>

            </mat-tab-group>
        <!-- </div> -->
    </div>
</section>

<ng-template #plansTemplate let-plans="plans" let-planType="planType">
    <div class="row">
        <!-- start col-md-12 -->
        <div class="col-md-12">
            <div class="section-title" style="padding-bottom: 20px;">
                <h1>
                    <span class="highlighted">Membership Plans</span>
                </h1>
                <!--   <p>* All memberships are a 6-month commitment</p>-->
            </div>
        </div>
        <!-- end /.col-md-12 -->
    </div>
    <!-- end /.row-->
    <div class="row">
        <div class="col-lg-4 col-md-6" *ngFor="let p of plans[planType]">
            <div *ngIf="authService?.loggedInUser?.subscription && authService?.loggedInUser?.subscription[0]?.plan?.id === p.id ? 'Active' : ''"
                class="shape">
                <div class="shape-text">
                    Active
                </div>
            </div>
            <div class="card_style2" style="line-height: 17px !important;">

                <h4 style="font-weight: 600;" class="card_style2__title">{{p?.name}}</h4>
                <div class="card_style2__location_type">
                    <p style="line-height: 13px;">
                        <span class="plan-description">{{p?.shortDescription}}</span>
                    </p>
                    <p>
                        <h5 style="font-weight: 500; margin-bottom: 8px;" class="card_style2__title">
                            {{p?.fixed_price?.value | currency}}</h5>
                        <span class="plan-description">{{p?.fixed_price?.postfix}}</span>


                        <h6 style="font-weight: 400; margin-bottom: 8px; margin: 20px 0 15px 0"
                            class="card_style2__title">
                            {{'Benefits:'}}
                        </h6>

                        <p *ngFor="let d of p?.benefits">
                            <i class="fad fa-check-circle" style="vertical-align: middle;"></i>
                            <span class="plan-description" style="color: black; vertical-align: middle;">
                                {{d}}
                            </span>
                        </p>
                </div>

                <button type="button" (click)="redirectToCheckout(p, planType)"
                    class="btn btn--round btn--default">Subscribe</button>
                <!-- <button mat-raised-button (click)="redirectToCheckout(p?.id)">Subscribe</button> -->
                <!-- Using paypalSubscription directive here, and passing the plan Id along with to render the button -->
                <!-- <div [paypalSubscription]="p.id" [id]="p.id"></div> -->
            </div>
        </div>
    </div>
</ng-template>

<swal #successfulPayment title="Congratulations!" type="success">
    <div *swalPartial class="alert alert-info">
        <h4>Subscription Purchased Successfully</h4>
        <ul>
            <li *ngFor="let p of successfulPurchasedSubscription?.subscriptionUsers">
                <strong>{{p?.name}}</strong>
                <!-- <strong>{{p?.custom?.name}}</strong> - <strong>{{(p?.amount / 100) | currency}}</strong> -->
            </li>
        </ul>
    </div>
</swal>