.center-content {
  width: 100%;
  max-width: 800px;
  margin: auto;
  padding: 0 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 250px;
}

.sidenav .mat-toolbar {
  // background: inherit;
}

.mat-toolbar {
  position: sticky;
  background: whitesmoke;
  color: black;
  top: 0;
  z-index: 10;
  flex-wrap: wrap !important;
  // padding-bottom: 20px;
  height: fit-content;
  place-content: center;
}

.mat-drawer-inner-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

.SearchLoginBox {
  background-color: #555;
  width: 250px;
  border-radius: 0 0 10px 10px;
  height: 48px;
  position: fixed;
  z-index: 12;
  left: calc(50% - 125px);
  padding: 0;
}

// a.btn {
//   line-height: 32px;
//   padding: 0 5px 0 10px;
//   vertical-align: super;
//   margin-top: 7px;
//   box-shadow: none;
// }

@media (min-width: 991px) {
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
}

@media (max-width:990px) {
  .SearchLoginBox {
    width: 100%;
    border-radius: 0;
    position: relative;
    left: 0;
  }
}

@media (max-width:767px) {
  .SearchLoginBox {
    width: 100%;
    border-radius: 0;
    position: relative;
    left: 0;
  }
  .NavBarBox {
    padding: 5px 0 15px 0;
    border-bottom: 1px solid #ccc;
  }
  .NavBarBox > div:nth-of-type(1) {
    display: none !important;
  }
  .brand-logo {
    margin: 0 15% 10px;
    height: 56px;
  }
}

.menu-width {
  max-width: 110px !important;
}

div::-webkit-scrollbar {
  width: 0.5em;
}
div::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
div::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}


