.center-content {
  width: 100%;
  max-width: 800px;
  margin: auto;
  padding: 0 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 350px;
}

.sidenav .mat-toolbar {
  // background: inherit;
}

.mat-toolbar {
  position: sticky;
  background: #f5f5f5;
  color: black;
  top: 0;
  z-index: 10;
  flex-wrap: wrap !important;
  // padding-bottom: 20px;
  height: fit-content;
  place-content: center;
}

.mat-drawer-inner-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

.SearchLoginBox {
  background-color: #555;
  width: 250px;
  border-radius: 0 0 10px 10px;
  height: 48px;
  position: fixed;
  z-index: 12;
  left: calc(50% - 125px);
  padding: 0;
}

// a.btn {
//   line-height: 32px;
//   padding: 0 5px 0 10px;
//   vertical-align: super;
//   margin-top: 7px;
//   box-shadow: none;
// }

.brand-logo {
  padding: 11px 0 12px;
  max-width: 220px;
}

.btn {
  box-shadow: none !important;
}

@media (min-width: 991px) {
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
}

@media (max-width:990px) {
  .SearchLoginBox {
    width: 100%;
    border-radius: 0;
    position: relative;
    left: 0;
  }
}

.hidden-lg {
  display: none;
}

.CreateButton {
  position: absolute;
  right: calc(50% - 43px);
  top: 2px; 
}

.CreateButton > a {
  background-color: #d67086 !important;
}

.LoginRegisterButton {
  line-height: 0;
  padding: 10px;
}

@media (max-width:767px) {
  .NavBarBox > div:nth-of-type(1) {
    display: none !important;
  }
  .hidden-lg {
    display: block !important;
  }
  .CreateButton {
    right: 5px;
  }
  .LoginRegisterButton {
    margin-bottom: 5px;
  }
  .brand-logo {
    max-width: 55%;
    margin-right: 7%;
  }
  .SearchLoginBox {
      width: 100% !important;
      position: relative !important;
      top: 0 !important;
      z-index: 16 !important;
      border-radius: 0;
      left: 0;
  }
  .NavBarBox {
      // position: relative !important;
      // top: 0 !important;
      z-index: 21 !important;
      border-bottom: 1px solid #ccc;
      padding-left: 0;
  }
}

.menu-width {
  max-width: 110px !important;
}

div::-webkit-scrollbar {
  width: 0.5em;
}
div::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
div::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}


