<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'main'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>

    <!-- Sidebar Navigation List Item -->
    <mat-nav-list>
      <!-- Dashboard -->
      <a mat-list-item [routerLink]="[{outlets: {'main': ['dashboard']}}]">Dashboard</a>

      <a mat-list-item [routerLink]="[{outlets: {'main': ['user', 'edit-profile']}}]">Edit Profile</a>

      <!-- Selling -->
      <a mat-list-item [routerLink]="[{outlets: {'main': ['sell']}}]">My Bugfixes</a>

      <a mat-list-item [routerLink]="[{outlets: {'main': ['help-request']}}]">My Help Requests</a>


      <a mat-list-item [routerLink]="[{outlets: {'main': ['interview', 'post-list']}}]"
        [queryParams]="{type: 'interview', all: false}">My Interviews</a>


      <a mat-list-item [routerLink]="[{outlets: {'main': ['requirement', 'post-list']}}]"
        [queryParams]="{type: 'requirement', all: false}">My Requirements</a>

      <a mat-list-item [routerLink]="[{outlets: {'main': ['testing', 'post-list']}}]"
        [queryParams]="{type: 'testing', all: false}">My Testing Reports</a>
      <a mat-list-item [routerLink]="[{outlets: {'main': ['howtodoc', 'post-list']}}]"
        [queryParams]="{type: 'howtodoc', all: false}">My How-To-Guides</a>
      <a mat-list-item [routerLink]="[{outlets: {'main': ['design', 'post-list']}}]"
        [queryParams]="{type: 'design', all: false}">My
        Designs</a>
      <a mat-list-item [routerLink]="[{outlets: {'main': ['goal', 'post-list']}}]"
        [queryParams]="{type: 'goal', all: false}">My
        Goals</a>
      <a mat-list-item [routerLink]="[{outlets: {'main': ['event', 'post-list']}}]"
        [queryParams]="{type: 'event', all: false}">My
        Events</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>

    <mat-toolbar>

      <!-- Toggle Sidebar Button -->
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <!-- Logo or Application Name -->
      <img (click)="redirect()" src="../../../../assets/images/logo.png">
      <!-- <h2 [routerLink]="['/']">Codemarket</h2> -->

      <!-- End Items -->
      <div fxFlex></div>

      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>library_add</mat-icon>
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button>
      <mat-menu #menu="matMenu">

        <!-- Add Product -->
        <button mat-menu-item [routerLink]="[{outlets: {'main': ['sell', 'add-product']}}]">
          <!-- <mat-icon>dialpad</mat-icon> -->
          <i style="font-size: 1.7rem !important;" class="vertical-align-middle fal fa-lightbulb-dollar fa-fw"></i>
          <span class="vertical-align-middle"> Bugfix</span>
        </button>

        <!-- Add Help Request -->
        <button mat-menu-item [routerLink]="[{outlets: {'main': ['help-request', 'add-help-request']}}]">
          <!-- <mat-icon>Help Request</mat-icon> -->
          <i style="font-size: 1.7rem !important;" class="vertical-align-middle fal fa-question-circle fa-fw"></i>
          <span> Help Request</span>
        </button>


        <!-- Add Interview Assignment -->
        <button mat-menu-item [routerLink]="[{outlets: {'main': ['interview', 'add-interview']}}]">
          <!-- <mat-icon>dialpad</mat-icon> -->
          <i style="font-size: 1.7rem !important;" class="vertical-align-middle fal fa-user-tie fa-fw"></i>
          <span> Interview</span>
        </button>

        <!-- Add Requirements -->
        <button mat-menu-item [routerLink]="[{outlets: {'main': ['requirement', 'add-requirement']}}]">
          <!-- <mat-icon>notifications_off</mat-icon> -->
          <i style="font-size: 1.7rem !important;" class="vertical-align-middle fal fa-file-alt fa-fw"></i>
          <span> Requirements</span>
        </button>

        <!-- Add Testings -->
        <button mat-menu-item [routerLink]="[{outlets: {'main': ['testing', 'add-testing']}}]">
          <!-- <mat-icon>notifications_off</mat-icon> -->
          <i style="font-size: 1.7rem !important;" class="vertical-align-middle fal fa-tasks fa-fw"></i>
          <span> Testing Report</span>
        </button>


        <!-- Add How To Docs -->
        <button mat-menu-item [routerLink]="[{outlets: {'main': ['howtodoc', 'add-howtodoc']}}]">
          <!-- <mat-icon>notifications_off</mat-icon> -->
          <i style="font-size: 1.7rem !important;" class="vertical-align-middle fal fa-file-exclamation fa-fw"></i>
          <span> How-To-Guide</span>
        </button>

        <!-- Add Designs -->
        <button mat-menu-item [routerLink]="[{outlets: {'main': ['design', 'add-design']}}]">
          <!-- <mat-icon>notifications_off</mat-icon> -->
          <i style="font-size: 1.7rem !important;" class="vertical-align-middle fal fa-marker fa-fw"></i>
          <span> Design</span>
        </button>

        <!-- Add Goals -->
        <button mat-menu-item [routerLink]="[{outlets: {'main': ['goal', 'add-goal']}}]">
          <!-- <mat-icon>notifications_off</mat-icon> -->
          <i style="font-size: 1.7rem !important;" class="vertical-align-middle fal fa-bullseye-arrow fa-fw"></i>
          <span> Goals</span>
        </button>

        <!-- Add Events -->
        <button mat-menu-item [routerLink]="[{outlets: {'main': ['event', 'add-event']}}]">
          <!-- <mat-icon>notifications_off</mat-icon> -->
          <i style="font-size: 1.7rem !important;" class="vertical-align-middle fal fa-calendar-plus fa-fw"></i>
          <span> Events</span>
        </button>
      </mat-menu>

      <!-- All Bugfixes -->
      <a mat-button routerLinkActive="mat-primary"
        [routerLink]="['/', {outlets: {'main': ['dashboard', 'bugfixes-all']}}]">
        <i style="font-size: 1.7rem !important;" class="vertical-align-middle fal fa-lightbulb-dollar fa-fw"></i>
        Bugfixes
      </a>

      <!-- All Help Requests -->
      <a mat-button routerLinkActive="mat-primary" [routerLink]="['/', {outlets: {'main': ['dashboard', 'post-list']}}]"
        [queryParams]="{type: 'help-request', all: true}">
        <i style="font-size: 1.7rem !important;" class="vertical-align-middle fal fa-question-circle fa-fw"></i>
        Help Requests
      </a>

      <!-- All Events -->
      <a mat-button routerLinkActive="mat-primary" [routerLink]="['/', {outlets: {'main': ['dashboard', 'post-list']}}]"
        [queryParams]="{type: 'event', all: true}">
        <i style="font-size: 1.7rem !important;" class="vertical-align-middle fal fa-calendar-alt fa-fw"></i>
        Events
      </a>

      <!-- Shopping Cart -->
      <a mat-button routerLinkActive="mat-primary" [routerLink]="[{outlets: {'main': ['cart']}}]">
        <mat-icon>shopping_cart
        </mat-icon> Cart({{cartListLength | async}})
      </a>

      <!-- My Profile -->
      <a mat-button routerLinkActive="mat-primary" *ngIf="loggedInUser;"
        [routerLink]="['/', {outlets: {'main': ['dashboard', 'my-profile']}}]">
        <mat-icon>face</mat-icon> My Profile
      </a>

      <!-- Memborship -->
      <a mat-button routerLinkActive="mat-primary" [routerLink]="['/', {outlets: {'main': ['membership']}}]">
        <mat-icon>card_membership</mat-icon> Membership
      </a>


      <!-- Logout -->
      <a mat-button *ngIf="loggedInUser; else logIn" (click)="authService?.logout()">
        Logout</a>

      <!-- Login -->
      <ng-template #logIn>
        <a mat-button (click)="login()">
          <mat-icon>face
          </mat-icon> Login/Register
        </a>
      </ng-template>



    </mat-toolbar>

    <!-- {{loggedInUser | json}} -->
    <!-- Add Content Here -->
    <router-outlet name="main"></router-outlet>

    <footer class="footer-area footer--light" style="margin-top: 4rem;">
      <div class="mini-footer">
        <div class="container">

          <div class="row text-center text-md-left mt-3 pb-3">

            <!-- Grid column -->
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">Codemarket</h6>
              <p>Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet,
                consectetur
                adipisicing elit.</p>
            </div>
            <!-- Grid column -->

            <hr class="w-100 clearfix d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">Products</h6>
              <p>
                <a href="#!">MDBootstrap</a>
              </p>
              <p>
                <a href="#!">MDWordPress</a>
              </p>
              <p>
                <a href="#!">BrandFlow</a>
              </p>
              <p>
                <a href="#!">Bootstrap Angular</a>
              </p>
            </div>
            <!-- Grid column -->

            <hr class="w-100 clearfix d-md-none">

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">Useful links</h6>
              <p>
                <a href="#!">Your Account</a>
              </p>
              <p>
                <a href="#!">Become an Affiliate</a>
              </p>
              <p>
                <a href="#!">Shipping Rates</a>
              </p>
              <p>
                <a href="#!">Help</a>
              </p>
            </div>

            <!-- Grid column -->
            <hr class="w-100 clearfix d-md-none">

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
              <p>
                <i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>
              <p>
                <i class="fas fa-envelope mr-3"></i> info@gmail.com</p>
              <p>
                <i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
              <p>
                <i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
            </div>
            <!-- Grid column -->

          </div>
          <!-- Footer links -->

          <hr>


          <!-- Grid row -->
          <div class="row d-flex align-items-center">

            <!-- Grid column -->
            <div class="col-md-7 col-lg-8">

              <!--Copyright-->
              <p class="text-center text-md-left">© 2019 Copyright:
                <a href="https://www.codemarket.io">
                  <strong> codemarket.io</strong>
                </a>
              </p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-5 col-lg-4 ml-lg-0">

              <!-- Social buttons -->
              <div class="text-center text-md-right">
                <ul class="list-unstyled list-inline">
                  <li class="list-inline-item">
                    <a class="btn-floating btn-sm rgba-white-slight mx-1">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a class="btn-floating btn-sm rgba-white-slight mx-1">
                      <i class="fab fa-twitter"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a class="btn-floating btn-sm rgba-white-slight mx-1">
                      <i class="fab fa-google-plus-g"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a class="btn-floating btn-sm rgba-white-slight mx-1">
                      <i class="fab fa-linkedin-in"></i>
                    </a>
                  </li>
                </ul>
              </div>

            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->

        </div>
      </div>
    </footer>

  </mat-sidenav-content>
</mat-sidenav-container>
