.center-content {
  width: 100%;
  max-width: 800px;
  margin: auto;
  padding: 0 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  // background: inherit;
}

.mat-toolbar {
  position: sticky;
  background: whitesmoke;
  color: black;
  top: 0;
  z-index: 10;
  flex-wrap: wrap !important;
  // padding-bottom: 20px;
  height: fit-content;
  place-content: center;
}

.menu-width {
  max-width: 110px !important;
}

div::-webkit-scrollbar {
  width: 0.5em;
}
div::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
div::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}


