<mat-sidenav-container class="sidenav-container">

  <mat-sidenav-content>
    <mat-toolbar style="padding: 10px 0; background-color: rgb(8, 8, 8);">

      <!-- My Profile -->
      <!-- <ng-template [ngIf]="authService.loggedInUser"> -->
      <!-- <button mat-button [matMenuTriggerFor]="userMenu"> -->
      <button mat-button [matMenuTriggerFor]="userMenu" *ngIf="authService.loggedInUser; else logIn">
        <a style="padding: 0;" mat-button routerLinkActive="mat-primary" *ngIf="loggedInUser;"
          [routerLink]="['/', 'dashboard', 'my-profile']">
          <i style="font-size: 1.0rem !important; color: #ffff00;"
            class="vertical-align-middle fal fa-user-circle fa-fw"></i>
          <span style="color: #ffffff;" class="line-height-initial"> My Profile <mat-icon
              style="vertical-align: middle; height: 28px;">keyboard_arrow_down</mat-icon>
          </span>
        </a>
      </button>
    <!-- </ng-template> -->

      <mat-menu #userMenu="matMenu" panelClass="menu-width">
        <div class="menu-width">
          <!-- Shopping Cart -->
          <a mat-button routerLinkActive="mat-primary" [routerLink]="['/', 'cart']">
            <mat-icon>shopping_cart</mat-icon>
            Cart( {{cartListLength | async}} )
          </a>

          <!-- Logout -->
          <a mat-button (click)="authService?.logout()">
            <mat-icon>power_settings_new</mat-icon>
            Logout
          </a>
        </div>
      </mat-menu>

            <!-- Login -->
      <ng-template #logIn>
        <a #lr mat-button [mdePopoverTriggerFor]="authentication" [mdePopoverTargetAt]="lr"
          mdePopoverTriggerOn="click">
          <i style="font-size: 1.0rem !important; color: #ffff00;"
            class="vertical-align-middle fal fa-user-circle fa-fw"></i>
          <span style="color: #ffffff;" class="line-height-initial"> Login/Register</span>
        </a>
      </ng-template>

      <mde-popover #authentication="mdePopover" [mdePopoverOverlapTrigger]="false" [mdePopoverCloseOnClick]="false"
        [mdePopoverArrowOffsetX]="58" mdePopoverArrowColor="#FFFFFF">
        <amplify-authenticator [signUpConfig]="signUpConfig" [usernameAttributes]="'email'" [hide]="['Greetings']"></amplify-authenticator>
      </mde-popover>


    </mat-toolbar>

        <router-outlet></router-outlet>

  </mat-sidenav-content>

</mat-sidenav-container>